*,
*::after,
*::before{
    box-sizing: border-box
}
/* ALLSECTIONCONTENT */
.order-all-layout-section-content{
    width: 92%;
    height: 240vh;
    height: 89%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10vw;
}
.section-identification-posters-order{
    width: 12vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 3%;
    transform: rotate(-5deg);
}
.section-identification-posters-base{
    background-color: var(--fuchsia-color);
    width: 87%;
    height: 95%;
    align-self: center;
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(.8em, 1.4vw, 1.7vw);
    line-height: 1vw;
    margin: 0;
}
.section-identification-posters-order>div:last-child{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 75%;
    align-self: center;
}
.section-identification-posters-order>div>div{
   background-color: var(--letter-black-color);
    width: 15%;
    height: 80%;
}
.section-identification-posters-order>div>div:first-child{
    transform: rotate(-45deg)
}
.section-identification-posters-order>div>div:last-child{
    transform: rotate(45deg)
}
.assets-section-order{
    width: 100%;
    height: 37vw;
}
.top-box-assets-section-order{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.top-box-assets-section-order>div:nth-child(2){
    width: 95%;
    height: 71%;
    align-self: center;
    margin-top: 2%;
}
.order-all-wooden-signs-LSC{
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 20%;
}
.order-wooden-signs-LSC{
    display: flex;
    width: 18%;
}
.order-wooden-signs-LSC>div{
    background-image: url('../../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.order-wooden-signs-LSC>div>div{
    background-color: var(--dark-gray-color);
    width: .4vw;
    height: .4vw;
    border-radius: 50%;
}
.order-wooden-signs-LSC>div>h3{
    width: 75%;
    font-size: clamp(.9em, 1.2vw, 1.5vw);
    color: white;
    font-family: 'Abel', sans-serif;
}
.order-papers-assets{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 78%;
}
.papers-order-and-styles{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.papers-order-and-styles>div:first-child{
    background-color: #2c2b2b;
    width: 27%;
    height: 9.5vw;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.papers-order-and-styles>div:first-child>h4{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(1.5em, 2vw, 2.1vw);
    margin: 0;
    letter-spacing: .2vw;
}
.papers-order-and-styles>div:last-child{
   width: 105%;
   height: 13%;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.papers-order-and-styles>div:last-child>div{
    background-color: var(--fuchsia-color);
    width: 13%;
    height: 70%;
 }
.papers-order-and-styles>div:last-child>div:first-child{
    transform: rotate(-45deg);
}
.papers-order-and-styles>div:last-child>div:last-child{
    transform: rotate(45deg);
}
.botton-box-assets-section-order{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.responsive-section-order,
.responsive-section-order-gif{
    width: 90%;
    height: 75%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.responsive-section-order>div:first-child,
.responsive-section-order-gif>div,
.responsive-sizes-posters-order{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}
.responsive-section-order>div:first-child,
.responsive-section-order-gif>div{
    height: 85%;
}
.responsive-sizes-posters-order{
    height: 15%;
}
.responsive-section-order>div>img:first-child,
.responsive-section-order-gif>div>img{
    width: 13.5%;
    height: auto;
}
.responsive-section-order>div>img:nth-child(2){
    width: 8.5%;
    height: auto;
}
.responsive-section-order>div>img:last-child{
    width: 9%;
    height: auto;
}
.responsive-sizes-posters-internal-order,
.responsive-sizes-posters-internal-order-last{
    width: 14%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.responsive-sizes-posters-internal-order{
    left: 1.5vw;
}
.responsive-sizes-posters-base{
    background-color: var(--fuchsia-color);
    width: 100%;
    height: 100%;
    align-self: center;
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsive-sizes-posters-base{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(.9em, 1.3vw, 1.6vw);
    margin: 0;
}
.my-layout-section-order{
    width: 100%;
    height: 40%;
}
.box-links-repos-and-identification-posters-order{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
}
.box-standard-layouts{
    width: 100%;
    height: 92%;
}
.box-standard-layouts-no-responsive{
    width: 100%;
    height: 92%;
}
.section-link-identification-posters-order{
    width: 12vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 3%;
    transform: rotate(5deg);
}
.section-link-identification-posters-base{
    background-color: var(--fuchsia-color);
    align-self: center;
    position: absolute;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 87%;
    height: 95%;
}
.section-link-identification-posters-base{
    color: white;
    font-family: 'Patrick Hand', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: clamp(1em, 1.5vw, 1.7vw);
    line-height: 1vw;
}
.section-link-identification-posters-order>div:last-child{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 75%;
    align-self:center;
}
.section-link-identification-posters-order>div>div{
    background-color: var(--letter-black-color);
    width: 15%;
    height: 90%;
}
.section-link-identification-posters-order>div>div:first-child{
    transform: rotate(-45deg);
}
.section-link-identification-posters-order>div>div:last-child{
    transform: rotate(45deg);
}
.section-link-identification-posters-base>a{
    width: 35%;
    height: 75%;
}
.section-link-identification-posters-base>a>img{
    width: 80%;
    height: auto;
    transition: transform 0.4s;
    transform-style: preserve-3d
}
.section-link-identification-posters-base>a>img:hover{
    transform:scale(1.1)
}
/* LAYOUTSECTIONCONTENTONE */
.original-page-section-order-one{
    width: 100%;
    height: 27.5%;
    margin-top: 1%;
}

.original-page-section-order-one img,
.assets-multimedia-login-F>img{
    width: 70%;
    height: auto;
}
.assets-icons-background-video-LP,
.assets-icons-minimalist-h,
.assets-icons-clothes-D,
.assets-icons-login-f,
.assets-multimedia-background-video-LP,
.assets-multimedia-personal-page-H,
.assets-multimedia-profile-C{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.assets-icons-background-video-LP>img:first-child,
.assets-icons-background-video-LP>img:nth-child(2){
    width: 25%;
    height: auto;
    margin-right: .9vw;
}
.assets-icons-background-video-LP>img:first-child{
    margin-left: 1vw;
}
.assets-icons-background-video-LP>img:last-child{
    width: 15%;
    height: auto;
    margin-right: .9vw;
}
.assets-icons-minimalist-h>img,
.assets-icons-login-f>img {
    width: 15%;
    height: auto;
    margin-right: .9vw;
}
.assets-icons-minimalist-h>img:first-child,
.assets-icons-login-f>img:first-child,
.assets-icons-minimalist-h>img:nth-child(5),
.assets-icons-clothes-D>img:first-child,
.assets-multimedia-profile-C>img:last-child{
    margin-left: .9vw;
}
.assets-multimedia-background-video-LP>video{
    width: 75%;
    height: auto;
    position: absolute;
}
.assets-multimedia-background-video-LP>p{
   position: relative;
   top: 2.3vw;
   color: white;
   width: 75%;
   font-size:clamp(.5em, .8vw, 1vw) ;
   font-weight: 500;
   line-height: .9vw;
}
.assets-multimedia-personal-page-H>img{
    width: 30%;
    height: auto; 
    /* margin-right: .7vw; */
}
.assets-icons-clothes-D>img{
    width: 15%;
    height: auto;
    margin-right: .6vw;  
}
.assets-multimedia-clothes-D>img:first-child,
.assets-multimedia-clothes-D>img:last-child{
    height: auto;
}
.assets-multimedia-clothes-D>img:first-child{
    width: 42%;
    margin-left: 0vw;
}
.assets-multimedia-clothes-D>img:last-child{
    width: 23%;
    margin-left: .9vw;
}
.assets-multimedia-profile-C>img{
    width: 30%;
    height: auto;
}
.news-card-order-section-content-one {
    background-color: #f2f3f5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* LAYOUTSECTIONCONTENTTWO */
.original-page-section-order-two{
    width: 100%;
    height: 32vw;
    margin-top: 1%;
    /* border: solid rgb(128, 0, 21); */
}
.original-page-section-order-two-img{
    width: 70%;
    height: auto;
}
.original-page-section-order-two-img-ecommerce{
    width: 35%;
    height: auto;
}
.box-large-layouts{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}
.assets-icons-furniture-D,
.assets-icons-register-F,
.assets-multimedia-food-C,
.assets-icons-profile-c,
.assets-multimedia-ecommerce-H{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.assets-icons-furniture-D>img:first-child{
    width: 40%;
    height: auto;
    margin-left: 1vw;
}
.assets-icons-furniture-D>img:nth-child(2),
.assets-icons-furniture-D>img:last-child{
    width: 20%;
    height: auto;
    margin-right: .8vw;
}
.assets-icons-furniture-D>img:nth-child(3){
    width: 15%;
    height: auto;
    margin-right: 1vw;
}
.assets-icons-furniture-D>img:nth-child(4){
    margin-left: 1vw;
    margin-right: .8vw;
}
.assets-icons-register-F>img{
    width: 15%;
    margin-right: 20px
}
.assets-icons-register-F>img:first-child{
    width: 30%
}
.assets-icons-profile-c>img{
    width: 17%;
    height: auto;
    margin-right: 1.2vw;
}
.assets-icons-profile-c>img:first-child{
    margin-left: 1vw;
}
.assets-icons-profile-c>img:nth-child(4){
    margin-left: 1vw;
}
.assets-multimedia-ecommerce-H>img{
   width: 70%;
   height: auto;
}
.assets-multimedia-furniture-D>img:first-child,
.assets-multimedia-furniture-D>img:nth-child(2),
.assets-multimedia-furniture-D>img:nth-child(3){
    width: 20%;
    height: auto;
    margin-right: .5vw
}
.assets-multimedia-furniture-D>img:last-child{
    width: 25%;
    height: auto;
}
.assets-multimedia-food-C>img,
.assets-icons-minimalism-LP>img{
    width: 40%;
    height: auto;
}
.assets-multimedia-minimalism-LP>img{
    width: 60%
}
.profile-card-base-section-content-one{
    background-color: #f2f3f5;
    width: 100%;
    height:92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card-order-section-content-one{
    width: 70%;
    height: 80%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items:center;
}
/* LAYOUTSECTIONCONTENTTHREE */
.original-page-section-order-three{
    width: 100%;
    height: 32vw;
    margin-top: 1%;
}
.original-page-section-order-three-img-normal{
    width: 70%;
    height: auto;
}
.original-page-section-order-three-img-big{
    width: 30%;
    position: relative;
    bottom: 1.9vw;
}
.op-News-details{
    width:23.5%; 
}
.assets-icons-marketplace-H,
.assets-icons-clothes-c,
.assets-multimedia-News-D{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.assets-icons-marketplace-H>img{
    width: 13%;
    margin-right: .8vw;
}
.assets-icons-marketplace-H>img:first-child{
    width: 20%;
    margin-left: .6vw;
}
.assets-icons-marketplace-H>img:nth-child(2),
.assets-icons-marketplace-H>img:nth-child(5),
.assets-icons-marketplace-H>img:nth-child(6){
    width: 10%;
}
.assets-icons-marketplace-H>img:nth-child(9),
.assets-icons-marketplace-H>img:nth-child(13),
.assets-icons-marketplace-H>img:nth-child(14),
.assets-icons-marketplace-H>img:nth-child(15){
    width: 9%;
}
.assets-icons-marketplace-H>img:nth-child(6){
    margin-right: .2vw;
    margin-left:.9px;
}
.assets-icons-marketplace-H>img:nth-child(7){
    margin-right: .2vw;
}
.assets-icons-clothes-c>img {
    width: 30%;
}
.assets-icons-clothes-c>img:first-child{
    margin-right: 1vw;
}
.assets-gif-working-marketplaces{
    width: 45%;
    height: auto;
}
.assets-multimedia-News-D>img:first-child{
    margin-left: .4vw;
}
.assets-multimedia-News-D>img{
    width: 45%;
    height: auto;
    margin-right: .5vw
}
.assets-multimedia-Clothes-C{
    width: 60%;
    height: auto;
}
.base-organicSahpes-section-three{
    border: solid hotpink;
    width: 100%;
    height: 92%;
    background-color: white;
}
.size-working-gif{
    width: 60%;
    height: auto;
}
.size-working-gif-yes-pc{
    width: 60%;
    height: auto;
    display: none;
}
.size-working-gif-OS-LP{
    width: 60%;
    height: auto;
}

/* LAYOUTSECTIONCONTENTFOUR */
.original-page-section-order-four{
    width: 100%;
    height: 32vw;
    margin-top: 1%;
}
.original-page-section-four-order-three-img-big{
    width: 27%;
    position: relative;
    bottom: 2.8vw;
}
.box-digital-newspaper-images{
    width: 100%;
    height: 94%;
    position: relative;
    bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-digital-newspaper-images>img:first-child{
    width: 19%;
    margin-right: 1vw;
}
.box-digital-newspaper-images>img:last-child{
    width: 18%;
    margin-left: 1vw;
}
.assets-icons-promotional-order,
.assets-icons-profile-D,
.assets-icons-contact-us-F,
.assets-multimedia-digital-newspaper-H,
.assets-multimedia-contact-us-F{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.assets-icons-promotional-order>img:first-child,
.assets-icons-promotional-order>img:nth-child(2){
    width: 15%;
    height: auto;
    margin-right: 1.2vw;
}
.assets-icons-profile-D>img{
    width: 20%;
    margin-left: .7vw;
}
.assets-icons-profile-D>img:last-child{
    width: 40%;
}
.assets-icons-contact-us-F>img{
    width: 15%;
    margin-right: .8vw;
}
.assets-icons-contact-us-F>img:first-child{
    margin-left: .8vw;
}
.assets-multimedia-digital-newspaper-H>img{
    width: 20%;
    margin-right: .8vw;
}
.assets-multimedia-digital-newspaper-H>img:nth-child(3){
    width: 17%;
    margin-top: .5vw;
}
.assets-multimedia-digital-newspaper-H>img:first-child{
    margin-left:.8vw;
    margin-top: .5vw;
}
.assets-multimedia-contact-us-F>img{
    width: 45%;
    height: auto;
    margin-right: .4vw;
}
.assets-multimedia-contact-us-F>img:last-child{
    margin-top: .2vw;
}
@media screen and (max-width: 64em) and (orientation: portrait) {
    .order-all-layout-section-content{
        height: 92%;
        margin-top: 13vw;
    }
    .original-page-section-order-one{
        height: 25%;
    }
    .assets-section-order{
        height: 42vw;
    }
    .assets-icons-minimalism-LP>img{
        width: 25%;
    }
    .box-standard-layouts{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .section-identification-posters-base{
        line-height: 1.5vw;
    }
    .papers-order-and-styles>div:first-child{
        height: 11vw;
    }
    .my-layout-section-order{
        height: 50%;
    }
    .original-page-section-order-two,
    .original-page-section-order-three,
    .original-page-section-order-four{
        height: 40vw;
    }
    .news-card-order-section-content-one {
        width: 70%;
        height: 90%;
    }
    .size-working-gif{
        width: 80%;
        height: auto;
    }
    .profile-card-base-section-content-one{
        width: 70%;
        height:88%;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-card-order-section-content-one{
        width: 70%;
        height: 95%;
    }
    .box-large-layouts{
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
    }
    .box-standard-layouts-no-responsive{
        display: none;
    }
    .size-working-gif-yes-pc{
        width: 80%;
        height: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 37.5em) and (orientation: portrait) {
    .original-page-section-order-one{
        height: 25%;
    }
    .original-page-section-order-two-img,
    .original-page-section-order-three-img-normal,
    .original-page-section-order-one img
    {
        width: 80%;
        margin-top: 4vw;
    }
    .assets-section-order{
        height: 47vw;
    }
    .section-identification-posters-base{
        font-size: 1.4vw;
    }
    .section-link-identification-posters-base{
        font-size: 1.8vw;
    }
    .papers-order-and-styles>div:first-child>h4{
        font-size: 3vw;
    }
    .order-wooden-signs-LSC>div>h3,
    .responsive-sizes-posters-base{
        font-size: 1.6vw;
    }
    .original-page-section-order-two,
    .original-page-section-order-three,
    .original-page-section-order-four{
        height: 50vw;
    }
    .original-page-section-order-two-img-ecommerce{
        width: 45%;
        height: auto;
    }
    .original-page-section-order-three-img-big{
        width: 35%;
    }
    .box-digital-newspaper-images>img:first-child{
        width: 22.5%;
    }
    .box-digital-newspaper-images>img:last-child{
        width: 21%;
    }
    .original-page-section-four-order-three-img-big{
        width: 32%;
        bottom: 2vw;
    }
    .op-News-details{
        width:30%; 
    }
    .size-working-gif{
        width: 90%;
        height: auto;
    }
    .assets-multimedia-background-video-LP>p{
        top: 2.9vw;
        font-size: 1vw ;
        line-height: 1vw;
    }
    .profile-card-order-section-content-one{
        width: 80%;
        height:77%;
    }
}
@media screen and (max-width: 30em) and (orientation: portrait) {
    .profile-card-base-section-content-one{
        overflow: scroll;
    }
    .profile-card-order-section-content-one{
        height:200%;
    }
}
@media screen and (max-width: 22.5em) and (orientation: portrait) {
    .my-layout-section-order{
        height: 44%;
    }
    .size-working-gif{
        width: 82%;
    }
    /* .section-identification-posters-base{
        font-size: 1.4vw;
    }
    .section-link-identification-posters-base{
        font-size: 1.8vw;
    }
    .papers-order-and-styles>div:first-child>h4{
        font-size: 3vw;
    }
    .order-wooden-signs-LSC>div>h3,
    .responsive-sizes-posters-base{
        font-size: 1.6vw;
    } */
}
@media screen and (max-width: 20em) and (orientation: portrait) {
    .original-page-section-order-two-img,
    .original-page-section-order-three-img-normal,
    .original-page-section-order-one img {
        width: 70%;
        margin-top: 4vw;
    }
    .my-layout-section-order{
        height: 44%;
    }
    .size-working-gif{
        width: 78%;
    }
    .section-identification-posters-base{
        font-size: 1.3vw;
    }
    .section-link-identification-posters-base{
        font-size: 1.7vw;
    }
    .order-wooden-signs-LSC>div>h3,
    .responsive-sizes-posters-base{
        font-size: 1.45vw;
    }
}
/* en mi cel sigue viendose grande el gif, la letra del cartel sigue grande ver de poner un clamp, no entra todo el el carte. */
/* Sigue igual, mierda!!!! */
