*,
*::after,
*::before{
    box-sizing: border-box
}
/* ALLSECTIONCONTENT */
.order-all-layout-section-content{
    width: 92%;
    height: 240vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10vw;
    border: solid thin rebeccapurple;
}
.section-identification-posters-order{
    width: 12vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 3%;
    transform: rotate(-5deg);
}
.section-identification-posters-base{
    background-color: var(--fuchsia-color);
    width: 87%;
    height: 95%;
    align-self: center;
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(1.3em, 1.4vw, 1.7vw);
    line-height: 1vw;
    margin: 0;
}
.section-identification-posters-order>div:last-child{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 75%;
    align-self: center;
}
.section-identification-posters-order>div>div{
   background-color: var(--letter-black-color);
    width: 15%;
    height: 80%;
}
.section-identification-posters-order>div>div:first-child{
    transform: rotate(-45deg)
}
.section-identification-posters-order>div>div:last-child{
    transform: rotate(45deg)
}
.assets-section-order{
    width: 100%;
    height: 31%;
}
.top-box-assets-section-order{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.top-box-assets-section-order>div:nth-child(2){
    width: 95%;
    height: 71%;
    align-self: center;
    margin-top: 2%;
}
.order-all-wooden-signs-LSC{
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 20%;
}
.order-wooden-signs-LSC{
    display: flex;
    width: 18%;
}
.order-wooden-signs-LSC>div{
    background-image: url('../../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.order-wooden-signs-LSC>div>div{
    background-color: var(--dark-gray-color);
    width: .4vw;
    height: .4vw;
    border-radius: 50%;
}
.order-wooden-signs-LSC>div>h3{
    width: 75%;
    font-size: clamp(1.2em, 1.2vw, 1.5vw);
    color: white;
    font-family: 'Abel', sans-serif;
}
.order-papers-assets{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 78%;
}
.papers-order-and-styles{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.papers-order-and-styles>div:first-child{
    background-color: #2c2b2b;
    width: 27%;
    height: 9.5vw;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.papers-order-and-styles>div:first-child>h4{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: clamp(1.5em, 2vw, 2.1vw);
    margin: 0;
    letter-spacing: .2vw;
}
.papers-order-and-styles>div:last-child{
   width: 105%;
   height: 13%;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.papers-order-and-styles>div:last-child>div{
    background-color: var(--fuchsia-color);
    width: 13%;
    height: 70%;
 }
.papers-order-and-styles>div:last-child>div:first-child{
    transform: rotate(-45deg);
}
.papers-order-and-styles>div:last-child>div:last-child{
    transform: rotate(45deg);
}
.botton-box-assets-section-order{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.responsive-section-order,
.responsive-section-order-gif{
    width: 90%;
    height: 75%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.responsive-section-order>div:first-child,
.responsive-section-order-gif>div,
.responsive-sizes-posters-order{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

.responsive-section-order>div:first-child,
.responsive-section-order-gif>div{
    height: 85%;
}
.responsive-sizes-posters-order{
    height: 15%;
}
.responsive-section-order>div>img:first-child,
.responsive-section-order-gif>div>img{
    width: 13.5%;
    height: auto;
}
.responsive-section-order>div>img:nth-child(2){
    width: 8.5%;
    height: auto;
}
.responsive-section-order>div>img:last-child{
    width: 9%;
    height: auto;
}
.responsive-sizes-posters-internal-order,
.responsive-sizes-posters-internal-order-last{
    width: 14%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.responsive-sizes-posters-internal-order{
    left: 1.5vw;
}
.responsive-sizes-posters-base{
    background-color: var(--fuchsia-color);
    width: 100%;
    height: 100%;
    align-self: center;
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsive-sizes-posters-base{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 23px;
    font-size: clamp(1.2em, 1.3vw, 1.6vw);
    margin: 0;
}
.my-layout-section-order{
    width: 100%;
    height: 40%;
    border: solid red;
}
.box-links-repos-and-identification-posters-order{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
}
.box-standard-layouts{
    width: 100%;
    height: 92%;
}
.section-link-identification-posters-order{
    width: 12vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 3%;
    transform: rotate(5deg);
}
.section-link-identification-posters-base{
    background-color: var(--fuchsia-color);
    align-self: center;
    position: absolute;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 87%;
    height: 95%;
}
.section-link-identification-posters-base{
    color: white;
    font-family: 'Patrick Hand', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: clamp(1.3em, 1.5vw, 1.7vw);
    line-height: 1vw;
}
.section-link-identification-posters-order>div:last-child{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 75%;
    align-self:center;
}
.section-link-identification-posters-order>div>div{
    background-color: var(--letter-black-color);
    width: 15%;
    height: 90%;
}
.section-link-identification-posters-order>div>div:first-child{
    transform: rotate(-45deg);
}
.section-link-identification-posters-order>div>div:last-child{
    transform: rotate(45deg);
}
.section-link-identification-posters-base>a{
    width: 35%;
    height: 75%;
}
.section-link-identification-posters-base>a>img{
    width: 80%;
    height: auto;
    transition: transform 0.4s;
    transform-style: preserve-3d
}
.section-link-identification-posters-base>a>img:hover{
    transform:scale(1.1)
}

/* LAYOUTSECTIONCONTENTONE */
.original-page-section-order-one{
    width: 100%;
    height: 27.5%;
    margin-top: 1%;
}
.original-page-section-order-one img,
.assets-multimedia-login-F>img{
    width: 70%;
    height: auto;
}
.assets-icons-background-video-LP,
.assets-icons-minimalist-h,
.assets-icons-clothes-D,
.assets-icons-login-f,
.assets-multimedia-background-video-LP,
.assets-multimedia-personal-page-H,
.assets-multimedia-profile-C{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.assets-icons-background-video-LP>img:first-child,
.assets-icons-background-video-LP>img:nth-child(2){
    width: 25%;
    height: auto;
    margin-right: .9vw;
}
.assets-icons-background-video-LP>img:first-child{
    margin-left: 1vw;
}
.assets-icons-background-video-LP>img:last-child{
    width: 15%;
    height: auto;
    margin-right: .9vw;
}
.assets-icons-minimalist-h>img,
.assets-icons-login-f>img {
    width: 15%;
    height: auto;
    margin-right: .9vw;
}
.assets-icons-minimalist-h>img:first-child,
.assets-icons-login-f>img:first-child,
.assets-icons-minimalist-h>img:nth-child(5),
.assets-icons-clothes-D>img:first-child,
.assets-multimedia-profile-C>img:last-child{
    margin-left: .9vw;
}
.assets-multimedia-background-video-LP>video{
    width: 75%;
    height: auto;
    position: absolute;
}
.assets-multimedia-background-video-LP>p{
   position: relative;
   top: 2.3vw;
   color: white;
   width: 75%;
   font-size:clamp(.5em, .8vw, 1vw) ;
   font-weight: 500;
   line-height: .9vw;
}
.assets-multimedia-personal-page-H>img{
    width: 30%;
    height: auto; 
    /* margin-right: .7vw; */
}
.assets-icons-clothes-D>img{
    width: 15%;
    height: auto;
    margin-right: .6vw;  
}
.assets-multimedia-clothes-D>img:first-child,
.assets-multimedia-clothes-D>img:last-child{
    height: auto;
}
.assets-multimedia-clothes-D>img:first-child{
    width: 42%;
    margin-left: 0vw;
}
.assets-multimedia-clothes-D>img:last-child{
    width: 23%;
    margin-left: .9vw;
}
.assets-multimedia-profile-C>img{
    width: 30%;
    height: auto;
}

.news-card-order-section-content-one {
    background-color: #f2f3f5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* quedé acá */
/* LAYOUTSECTIONCONTENTTWO */
.original-page-section-order-two-img{
    align-self: center;
    width: 65%;
    margin-top: 20px;
    /* width: 100%;
    height: 27.5%;
    margin-top: 1%;
    border: solid green; */
}
.original-page-section-order-two-img-ecommerce{
    width: 35%
}
.assets-icons-furniture-D,
.assets-icons-register-F,
.assets-multimedia-food-C,
.assets-icons-profile-c,
.assets-multimedia-ecommerce-H{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.assets-icons-furniture-D>img:first-child{
    width: 40%;
    margin-left: 45px
}
.assets-icons-furniture-D>img:nth-child(2),
.assets-icons-furniture-D>img:last-child{
    width: 20%;
    margin-right: 20px
}
.assets-icons-furniture-D>img:nth-child(3){
    width: 15%;
    margin-right: 35px
}
.assets-icons-furniture-D>img:nth-child(4){
    margin-left: 40px;
    margin-right: 20px
}
.assets-icons-register-F>img{
    width: 15%;
    margin-right: 20px
}
.assets-icons-register-F>img:first-child{
    width: 30%
}
.assets-multimedia-ecommerce-H>img{
   width: 70%
}
.assets-multimedia-furniture-D>img:first-child,
.assets-multimedia-furniture-D>img:nth-child(2),
.assets-multimedia-furniture-D>img:nth-child(3){
    width: 20%;
    margin-right: 15px
}
.assets-multimedia-furniture-D>img:last-child{
    width: 25%
}
.assets-multimedia-food-C>img{
    width: 40%;
    margin-left: 20px
}
.assets-multimedia-minimalism-LP>img{
    width: 60%
}
.profile-card-base-section-content-one{
    background-color: white;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.profile-card-base-section-content-one{
    background-color: #f2f3f5
}
.profile-card-order-section-content-one{
    width: 70%;
    height: 75vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center
}
/* LAYOUTSECTIONCONTENTTHREE */
.original-page-section-order-three{
    height: 670px
}
.original-page-section-order-three-img-normal{
    width: 65%;
    margin-top: 20px
}
.original-page-section-order-three-img-big{
    width: 28%;
    position: relative;
    bottom: 40px
}
.assets-icons-marketplace-H,
.assets-icons-clothes-c,
.assets-multimedia-News-D{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.assets-icons-marketplace-H>img{
    width: 13%;
    margin-right: 15px
}
.assets-icons-marketplace-H>img:first-child{
    width: 20%;
    margin-left: 10px
}
.assets-icons-marketplace-H>img:nth-child(2),
.assets-icons-marketplace-H>img:nth-child(5),
.assets-icons-marketplace-H>img:nth-child(6){
    width: 10%
}
.assets-icons-marketplace-H>img:nth-child(9),
.assets-icons-marketplace-H>img:nth-child(13),
.assets-icons-marketplace-H>img:nth-child(14),
.assets-icons-marketplace-H>img:nth-child(15){
    width: 9%
}
.assets-icons-marketplace-H>img:nth-child(6){
    margin-right: 5px;
    margin-left: 8px
}
.assets-icons-marketplace-H>img:nth-child(7){
    margin-right: 5px
}
.assets-icons-profile-c>img{
    width: 17%;
    margin-right: 25px
}
.assets-icons-profile-c>img:first-child{
    margin-left: 20px
}
.assets-icons-profile-c>img:last-child{
    margin-left: 20px
}
.assets-icons-clothes-c>img {
    width: 30%
}
.assets-icons-clothes-c>img:first-child{
    margin-right: 20px
}
.assets-multimedia-News-D>img:first-child{
    margin-left: 7px;
}
.assets-multimedia-News-D>img{
    width: 45%;
    margin-right: 10px
}
.assets-multimedia-Clothes-C,
.assets-icons-minimalism-LP>img{
    width: 60%
}
/* LAYOUTSECTIONCONTENTFOUR */
.original-page-section-order-four{
    height: 670px
}
.original-page-section-four-order-three-img-big{
    width: 25%;
    position: relative;
    bottom: 40px
}
.box-digital-newspaper-images{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.box-digital-newspaper-images>img{
    position: relative;
    bottom:20px
}
.box-digital-newspaper-images>img:first-child{
    width: 17%;
    margin-right: 10px;
    position: relative;
    bottom:20px
}
.box-digital-newspaper-images>img:last-child{
    width: 16%;
    margin-left: 10px
}
.assets-icons-promotional-order,
.assets-icons-profile-D,
.assets-icons-contact-us-F,
.assets-multimedia-digital-newspaper-H,
.assets-multimedia-contact-us-F{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.assets-icons-promotional-order>img:first-child,
.assets-icons-promotional-order>img:nth-child(2){
    width: 15%;
    margin-right: 30px
}
.assets-icons-profile-D>img{
    width: 20%;
    margin-left: 20px
}
.assets-icons-profile-D>img:last-child{
    width: 40%
}
.assets-icons-contact-us-F>img{
    width: 15%;
    margin-right: 20px
}
.assets-icons-contact-us-F>img:first-child{
    margin-left: 20px
}
.assets-multimedia-digital-newspaper-H>img{
    width: 20%;
    margin-right: 15px
}
.assets-multimedia-digital-newspaper-H>img:nth-child(3){
    width: 17%;
    margin-top: 5px
}
.assets-multimedia-digital-newspaper-H>img:first-child{
    margin-left: 10px;
    margin-top: 5px
}
.assets-multimedia-contact-us-F>img{
    width: 45%;
    margin-right: 10px
}
.assets-multimedia-contact-us-F>img:last-child{
    margin-top: 10px
}

/* .clothes-card-order-section-content-one{
    background-color: white;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.clothes-card-order-section-content-one{
    background-color: white
} */



