*,
*::before,
*::after{
    box-sizing: border-box
}
.box-macro-Ecommerce-homes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
}
/* .box-macro-Ecommerce-homes>img{
    position: absolute;
    width: 99%;
    height: auto;
} */
.box-header-Ecommerce-homes{
    width: 100%;
    height: 26%;
    background-image: url(../../../assets/homes/Ecommerce/backgroundEcommerce.jpg);
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
}
.box-header-Ecommerce-homes >nav{
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-text-order-and-style{
    width: 12%;
    position: relative;
    bottom: 4.5vw;
    left: 4.5vw;
    color: white;
    text-align: start;
    font-size: .9vw;
    font-weight: 600;
}
.image-text-order-and-style>a{
    font-size: .8vw;
    color: white;
    font-weight: 500;
}

.box-brand-and-sections-Ecommerce-homes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}
.box-brand-and-sections-Ecommerce-homes>h2{
    color:white;
    font-size: 2vw;
    font-weight: 400;
}
.box-brand-and-sections-Ecommerce-homes>div{
    width: 50%;
    display: flex;
    margin-left: 2vw;
    justify-content: space-evenly;
}
.box-brand-and-sections-Ecommerce-homes a{
    color: white;
    text-decoration: none;
    font-size: .9vw;
}
.box-sesion-and-contact-Ecommerce-homes>a>img{
    width: 1vw;
    height: auto;
}
.box-sesion-and-contact-Ecommerce-homes{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-right: 4vw;
}
.box-sesion-and-contact-Ecommerce-homes >a:first-child,
.box-sesion-and-contact-Ecommerce-homes >a:nth-child(2),
.box-sesion-and-contact-Ecommerce-homes >a:nth-child(3){
    color: white;
    text-decoration: none;
    border-right: solid thin white ;
    height: 1vw;
    font-size: .7vw;
    padding-right: .8vw;
}
.box-sesion-and-contact-Ecommerce-homes >a:nth-child(2),
.box-sesion-and-contact-Ecommerce-homes >a:nth-child(3){
    padding-left: .3vw;
}
.box-body-Ecommerce-homes{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box-bottom-menu-Ecommerce-homes{
    width: 30%;
    height: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.box-bottom-menu-Ecommerce-homes>a{
    color: gray;
    text-decoration: none;
    font-size: 1vw;
    height: 1.5vw;
}
.box-bottom-menu-Ecommerce-homes >a:hover,
.box-bottom-menu-Ecommerce-homes >a:focus{
    color: rgb(70, 70, 70);
    font-weight: 600;
    border-bottom: solid .15vw
}
.box-all-card-Ecommerce-homes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 0;
    width: 85%;
    height: 85%;
}
@media screen and (max-width: 64em) and (orientation: portrait){
    .box-macro-Ecommerce-homes{
        width: 70%;
        height: 85%;
    }
    .box-header-Ecommerce-homes{
        height: 20%;
    }
    .box-header-Ecommerce-homes >nav{
        height: 15%;
    }
    .box-sesion-and-contact-Ecommerce-homes>a>img{
        margin-bottom: .8vw;
    }
    .box-sesion-and-contact-Ecommerce-homes{
        width: 25%;
        height: 30%;
        margin-top: .5vw;
        margin-right: 3vw;
    }
    .box-sesion-and-contact-Ecommerce-homes >a:first-child,
    .box-sesion-and-contact-Ecommerce-homes >a:nth-child(2),
    .box-sesion-and-contact-Ecommerce-homes >a:nth-child(3){
        font-size: .9vw;
    }
    .box-body-Ecommerce-homes{
        height: 75%;
    }
    .box-bottom-menu-Ecommerce-homes>a{
        height: 2vw;        }
    .box-all-card-Ecommerce-homes{
        height: 100%;
    }
}