*,
*::after,
*::before{
    box-sizing: border-box;
}
.blackboard-order{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid thin orange; */
}
.blackboard-order>div:first-child{
    position: absolute;
    width: 28.5%;
    height: 34%;
    background-image: url('../../../../assets/myHome/AllBoardContent/colorBackgroundBoard.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}
.blackboard-order>div:nth-child(2){
    position: absolute;
    width: 27%;
    height: 31.5%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackboard-text-order-and-style{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.8em;
    font-size: clamp(1em, 1.6vw, 3em);
    color: white;
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blackboard-text-order-and-style>p{
    margin: 0;
    font-size: 2em;
    font-weight: 600;
    color: white;
    line-height: .5em;
    width: 25%;
    align-self: flex-end;
}
