*,
*::after,
*::before{
    box-sizing: border-box;
}
.blackboard-order{
    width: 350px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.blackboard-order>div:first-child{
    width: 350px;
    height: 220px;
    background-image: url('../../../../assets/myHome/AllBoardContent/colorBackgroundBoard.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    position: absolute
}
.blackboard-order>div:nth-child(2){
    width: 335px;
    height: 200px;
    background-color: #212121;
    position: absolute
}
.blackboard-order>div:last-child{
    width: 310px;
    height: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px
}
.blackboard-text-order-and-style{
    font-family: 'Patrick Hand', cursive;
    font-size: 29px;
    color: white;
    width: 100%;
    height: 95%
}
.blackboard-text-order-and-style>p{
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    color: white;
    position: relative;
    bottom: 32px;
    left: 130px;
}