*,
*::after,
*::before{
    box-sizing: border-box
}
.box-layout-folder{
    width: 100%;
    height: 100%;
    display: flex;
}
.box-back-folder,
.back-folde-order,
.front-folde-order{
    position: absolute;
}
.box-back-folder{
    width: 100%;
    height: 100%;
    /* border: solid; */
}
.back-folde-order{
    width: 100%;
    height: 100%;
}

.flap-folder-order-and-style,
.flap-front-folder-order-and-style{
    width: 46%;
    height: 0px;
    border-right: .8vw solid transparent;
    border-left: .8vw solid transparent;
    margin-left: .4vw;
}
.flap-folder-order-and-style{
    border-bottom: 1.5vw solid #F6B14C;
}
.base-folder-style{
    background-color: #F6B14C;
    width: 100%;
    height: 75%;
    border-radius: .5vw;
}
.front-folde-order{
    width: 98%;
    height: 98%;
}
.flap-front-folder-order-and-style{
    border-bottom: 1.5vw solid #D68D23;
    padding-top: .1vw;
}
.flap-front-folder-order-and-style>div{
    background-color: white;
    width: 100%;
    height: .7vw;
    display: flex;
    align-items: center;
    margin-top: .4vw;
    border-radius: .1vw;
}
.flap-front-folder-order-and-style>div>div{
    background-color: #F62F55;
    width: 30%;
    height: .7vw;
    display: flex;
    border-bottom-left-radius: .1vw;
    border-top-left-radius: .1vw;
}
.base-front-folder-style{
    background-color: #D68D23;
    width: 100%;
    height:74.5%;
    border-radius: .5vw;
    margin-left: .13vw;
    box-shadow: var(--folder-shadow) rgba(0, 0, 0, 0.5);
}
.paper-ux-order{
    position:absolute;
    width: 90%;
    height: 64%;
    border-bottom-left-radius: .5vw;
    border-bottom-right-radius: .5vw;
    margin-top: 2vw;
    left: .5vw;   
}
.box-fron-folder{
    width: 100%;
    height: 73%;
    align-self:flex-end ;
    position: relative;
}
.front-front-cover-folde-order{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}
.flap-front-front-folder-order-and-style{
    background-color: #F6B14C;
    border-top-right-radius: .5vw;
    border-top-left-radius: .5vw;
    width: 55%;
    height: 25%;
    align-self: flex-end;
    margin-top: .1vw;
}
.base-front-front-folder-style{
    background-color: #F6B14C;
    width: 100%;
    height: 73%;
    border-bottom-left-radius: .5vw;
    border-bottom-right-radius: .5vw;
    border-top-left-radius: .25vw;
    align-self: flex-end;
}
.box-paper-markets{
    position: relative;
    width: 30%;
    height: 51%;
    top: 1.8vw;
}
.box-paper-markets>img{
    position: relative;
    width: 100%;
    height: auto;
    right: .2vw;
}