*,
*::after,
*::before{
    box-sizing: border-box;
}

.base-illustration-component-order-landin-pages{
    border: solid;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
