*,
*::after,
*::before{
    box-sizing: border-box;
    font-size: 16px;
}
/* @link 
https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|
2|3|4|6,s-l */

.base-illustration-component-order{
    width: 100%;
    height: 100vh;
    /* min-height: 100vh;
    max-height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid; */
}
@media screen and (max-width: 48em) and (orientation: portrait) {
    .base-illustration-component-order{
        height: 200vh;
        border: solid green;
    }
}
@media screen and (max-width: 37.5em) and (orientation: portrait) {
    .base-illustration-component-order{
        height: 200vh;
        border: solid green;
    }
}
/* @media screen and (max-width: 30em) and (orientation:landscape) {
    .base-illustration-component-order{
        height: 150vh;
        border: solid blue;
    }
} */
@media screen and (max-width: 20em) and (orientation: portrait) {
    .base-illustration-component-order{
        height: 200vh;
        border: solid red;
    }
}
/* TABLES
1024X1366
@media(max-width: 1024px){
    .base-illustration-component-order{
        height: 1780px;
    }
}
CELULALARES 
390x844 
@media(max-width: 390px){
    .base-illustration-component-order{
        height: 1360px;
    }  
}
360x640
@media(max-width: 360px){
    .base-illustration-component-order{
        height: 1280px;
    }
}  */

