*,
*::after,
*::before{
    box-sizing: border-box;
}

.base-illustration-component-order{
    border: solid;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .order-my-home {
    justify-content: center;
    align-items: center;
}
.orderButtons {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.baseFolders{
    width: 230px;
}
.sheetsUX{
    width: 213.5px;
}
.folderTop{
    width: 239px;
}
.icons{
    width: 74px;
    height: 69px;
} */