*,
*::after,
*::before{
    box-sizing: border-box
}
.metal-basket-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top-line-metal-basket{
    border: solid;
    width: 100%;
    border-radius: .3vw;
}
.middle-box-metal-basket{
    width: 89%;
    height: 4.8vw;
    align-self: center;
    display: flex;
    position: relative;
}
.middle-box-metal-basket>div:first-child{
    border-left: solid;
    width: .1vw;
    border-width: .35vw;
    height: 105%;
    transform: rotate(-14deg);
    border-radius: .5vw;
}
.middle-box-metal-basket>div:nth-child(2){
    border-left: solid;
    border-right: solid;
    width: 3vw;
    margin-left: 10px;
    border-width: .35vw;
    height: 100%;
}
.middle-box-metal-basket>div:nth-child(3),
.middle-box-metal-basket>div:nth-child(4),
.middle-box-metal-basket>div:nth-child(5),
.middle-box-metal-basket>div:nth-child(6),
.middle-box-metal-basket>div:nth-child(7){
    border-right: solid;
    width: 3vw;
    border-width: .35vw;
    height: 100%;
}
.middle-box-metal-basket>div:nth-child(8){
    border-right: solid;
    width: 3vw;
    margin-right: 10px;
    border-width: .35vw;
    height: 100%;
}
.middle-box-metal-basket>div:last-child{
    border-left: solid;
    width: .1vw;
    border-width: .35vw;
    height: 105%;
    transform: rotate(14deg);
    border-radius: .5vw;
}
.internal-middle-box-metal-basket{
    position: absolute;
    width: 100%;
    height:5.5vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.internal-middle-box-metal-basket>div:first-child{
    position: relative;
    border: solid;
    width: 90%;
    height: .1vw;
    align-self: center;
}
.internal-middle-box-metal-basket>div:last-child{
    align-self: center;
    position: relative;
    border: solid;
    width: 83%;
    height: .1vw;
}
.bottom-line-metal-basket{
    align-self: center;
    border: solid;
    width: 77%;
    border-radius: .7vw;
}
