*,
*::after,
*::before{
    box-sizing: border-box;
}

/* PERSONAL PAGE */
.box-macro-personalPage-homes{
    /* border: solid; */
    display: flex;
    width: 100%;
    height: 100vh;
}
.vertical-nav-personalPage-homes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: solid thin rgb(224, 224, 224);
    width: 5%;
}
.isologo-vertical-nav-personalPage-homes{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.box-ancords-vertical-nav-personalPage-homes{
    /* border: solid thin orangered; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 100%;
    height: 250px;
}
.box-ancords-vertical-nav-personalPage-homes img {
    width: 20px;
    height: 20px;
}
.box-body-personalPage-homes{
    /* border: solid thin pink; */
    width: 95%;
}
.horizontal-nav-personalPage-homes{
    /* border: solid thin hotpink; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}
.box-ancords-horizontal-nav-personalPage-homes{
    /* border: solid thin blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 90px;
}
.box-ancords-horizontal-nav-personalPage-homes > a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.box-ancords-horizontal-nav-personalPage-homes > a:focus{
    text-decoration: underline;
    /* falta moverla para abajo */
}
.box-phone-horizontal-nav-personalPage-homes{
    /* border: solid thin chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 90px;
}
.box-phone-horizontal-nav-personalPage-homes > img{
    margin-right: 10px;
}
.box-phone-horizontal-nav-personalPage-homes > a{
    text-decoration: none;
    color: #de2d49;
    font-size: 18px;
    font-weight: 600;
}
.box-intenal-body-personalPage-homes{
    /* border: solid thin cornflowerblue; */
    width: 100%;
    height: 90vh;
}
.box-data-and-image-personalPage-homes{
    /* border: solid thin firebrick; */
    display: flex;
    width: 100%;
    height: 75vh;
}
.box-data-body-personalPage-homes{
    /* border: solid thin fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 80px;
    width: 60%;
    height: 35vh;
    align-self: center;
    color: #3a3a3a;
}
.box-data-body-personalPage-homes >h5{
    font-size: 20px;
    margin: 0;
}
.box-data-body-personalPage-homes >h1{
    font-size: 110px;
    margin: 0;
    line-height: 90px;
}
.box-data-body-personalPage-homes >h2{
    font-size: 60px;
    margin: 0;
    text-align: start;
    font-weight: 600;
}
.box-data-body-personalPage-homes >h3{
    font-size: 30px;
    margin: 0;
    text-align: start;
    font-weight: 600;
}
.box-data-body-personalPage-homes >button{
    background-color: #de2d49;
    width: 250px;
    height: 50px;
    border: none;
    margin-top: 40px;
    color: white;
    font-size: 20px;
}
.box-background-image-personalPage-homes{
    /* border:solid thin tomato; */
    display: flex;
    justify-content: flex-start;
    width: 40%;

}
.backgroun-image-personalPage-homes{
    width: 69%;
}
.box-footer-personalPage-homes{
    /* border: solid thin rgb(34, 178, 116); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 16.5%;
}
.box-footer-personalPage-homes >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: solid thin rgb(102, 102, 102);
    width: 25%;
    height: 70px;
}
.box-footer-personalPage-homes h6{
    font-size: 20px;
    margin: 0;
}
.box-footer-personalPage-homes p{
    margin: 0;
}

/* E-COMMERCE */
.box-macro-Ecommerce-homes{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
}
.box-macro-Ecommerce-homes >img{
    position: absolute;
    width: 100%;
}
.box-header-Ecommerce-homes{
    /* border: solid thin hotpink; */
    width: 100%;
    height: 878px;
}
.box-header-Ecommerce-homes > nav{
    /* border: solid thin rgb(22, 162, 50); */
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-brand-and-sections-Ecommerce-homes{
    /* border: solid thin khaki; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100px;

}
.box-brand-and-sections-Ecommerce-homes > h1{
    color:white;
    font-size: 50px;
    font-weight: 400;
}
.box-brand-and-sections-Ecommerce-homes > div{
    /* border:solid thin #de2d49; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.box-brand-and-sections-Ecommerce-homes a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.box-sesion-and-contact-Ecommerce-homes{
    /* border: solid thin sienna; */
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-right: 100px;
}
.box-sesion-and-contact-Ecommerce-homes >a{
    color: white;
    text-decoration: none;
    border-right: solid thin white ;
    width: 70px;
    height: 20px;
    font-size: 17px;
}
.box-body-Ecommerce-homes{
    /* border: solid grey; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box-bottom-menu-Ecommerce-homes{
    /* border: solid thin lightgray; */
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-bottom-menu-Ecommerce-homes >a{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}
.box-bottom-menu-Ecommerce-homes >a:focus{
    color: rgb(70, 70, 70);
    text-decoration: underline;
    /* falta que se separe del ancord */
}
.box-all-card-Ecommerce-homes{
    /* border: solid thin peru; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 75%;
    height: 1250px;
}

/* MARKETPLACE */
.box-macro-marketplaces-homes{
    border: solid;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box-header-marketplace-homes{
    border: solid thin orange;
    width: 100%;
    height: 100px;
}
.top-nav-header-marketplace-homes{
    /* border: solid thin #de2d49; */
    background-color: #d15f00;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;   
}
.box-left-header-marketplace-homes{
    /* border: solid thin wheat; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.box-left-header-marketplace-homes > select{
    color: white;
    background-color: transparent;
    border: none;
}
.box-left-header-marketplace-homes > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.box-right-header-marketplace-homes{
    /* border: solid thin wheat; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}
.ancords-box-right-marketplace-homes{
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: 80px;
    border-right: solid thin white;
}
.last-ancord-right-header-marketplace-homes {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.botton-nav-header-marketplace-homes{
    background-color: #ef6c00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 68px;
}
.botton-nav-header-marketplace-homes > img{
    width: 100px;
    height: 40px;
}
.botton-nav-header-marketplace-homes > form {
    display: flex;
}
.botton-nav-header-marketplace-homes > form input{
    width: 600px;
    height: 30px;
    border: none;
}
.botton-nav-header-marketplace-homes > form button{
    background-image: url('../../../assets/LandingPages/lupaP.png');
    background-repeat:no-repeat;
    background-color: black;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 30px;
}

.box-right-botton-right-nav-header-marketplace-homes{
    /* border: solid thin rebeccapurple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}
.box-right-botton-right-nav-header-marketplace-homes > button{
    background-image: url('../../../assets/homes/iconHeartM.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 22px;
}
.box-right-botton-right-nav-header-marketplace-homes > div{
    display: flex;
    align-items: center;
    color: white;
}
.box-right-botton-right-nav-header-marketplace-homes > div button{
    background-image: url('../../../assets/Cards/cartBlack.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 22px;
    margin-right: 5px;
    /* este carrito es provisorio */
}
.box-macro-body-marketplace-homes{
    border: solid #00d1ca;
    width: 81%;
    align-self: center;
    display: flex;
}
.left-box-body-marketplace-homes{
    border: solid thin blue;
    width: 20%;
}
.left-box-body-marketplace-homes >section{
    border: solid thin rgb(216, 216, 22);
    width: 100%;
    height: 500px;
    display: flex;
}
.left-box-body-marketplace-homes h3{
    background-color: #d15f00;
    width: 305px;
    height: 40px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left:10px ;
}
.position-image-left-box-body-marketplace-homes{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}
.order-card-special-product-marketplace-homes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* fALTA VER COMO HAGO ESO DEL RADIO O SI PONGO UN BOTÓN CON UN FOCOS, ACTIVE... para que haga el color naranja */



.box-center-body-marketplace-homes{
    border:solid thin #00d1ca;
    width: 60%;
}

.box-right-body-marketplace-homes{
    border:solid thin #901b6b;
    width: 20%;
}

.order-card-testimonial-marketplace-homes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* footer */
.box-macro-footer-marketplace-homes{
    /* border: solid thin firebrick; */
    display: flex;
    flex-direction: column;
}
.box-macro-footer-marketplace-homes > header{
    /* border: solid #ef6c00; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.box-macro-footer-marketplace-homes > header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ef6c00;
    width: 81%;
    height: 70px;
}
.box-macro-footer-marketplace-homes img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.box-description-header-footer-marketplace-homes{
    display: flex;
    flex-direction: column;
}
.box-description-header-footer-marketplace-homes > h2{
    color: white;
    font-weight: 600;
    margin: 0;
}
.box-description-header-footer-marketplace-homes > p{
    color: white;
    font-weight: 400;
    margin: 0;
}
.order-form-header-footer-marketplace-homes {
   display: flex;
}
.order-form-header-footer-marketplace-homes > input {
    width: 600px;
    height: 30px;
}
.order-form-header-footer-marketplace-homes > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 35px;
    height: 30px;
}
.order-form-header-footer-marketplace-homes button {
    background-image: url('../../../assets/homes/icons/iconPaperPlaneMp.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 18px;
    height: 18px;
}
.box-buttons-header-footer-marketplace-homes {
    /* border: solid thin white; */
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.box-buttons-header-footer-marketplace-homes > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid thin #1e1e1e;
    width: 35px;
    height: 35px;
}
.box-buttons-header-footer-marketplace-homes > button img {
    background-color: transparent;
    margin: 0;
    width: 20px;
    height: 20px;
}

.box-body-footer-marketplace-homes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.order-section-left-body-footer-marketplace-homes{
    /* border: solid thin #901b6b; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 20%;
    height: 300px;
    color: white;
}
.order-section-left-body-footer-marketplace-homes > img {
    width: 100px;
    height: 40px;
}
.order-section-left-body-footer-marketplace-homes > p {
    margin-left: 7px;
    line-height: 28px;
}
.order-section-left-body-footer-marketplace-homes > div{
    /* border: solid #00d1ca; */
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
    margin-top: 10px;
    width: 60%;
}
.order-section-left-body-footer-marketplace-homes > div img {
    margin: 0;
    width: 33px;
    height: 22px;
}
.order-section-right-body-footer-marketplace-homes{
    /* border: solid thin #901b6b; */
    display: flex;
    align-items: center;
    width: 61%;
    height: 300px;
    color: white;
}
.order-section-right-body-footer-marketplace-homes > section{
    border-left: solid thin white;
    text-align: start;
    height: 230px;
    width: 300px;
}
.order-section-right-body-footer-marketplace-homes h3{
    font-size: 20px;
    padding-left: 10px;
}
.order-section-right-body-footer-marketplace-homes div{
    display: flex;
    flex-direction: column;
}
.order-section-right-body-footer-marketplace-homes div small{
    margin-left: 10px;
    margin-bottom: 10px;
}
/* HAY UN TEMA CON LA ÚLTIMA CAJA DEL FOOTER BODY! */
.order-section-right-body-footer-marketplace-homes div p{
   position: relative;
   left: 60px;
   bottom: 40px;
}

.order-footer-footer-marketplace-homes{
    /* border: solid #ef6c00; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    align-self: center;
}
.order-footer-footer-marketplace-homes >div{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.order-footer-footer-marketplace-homes a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
}
