*,
*::after,
*::before{
    box-sizing: border-box;
}



/* E-COMMERCE */
.box-macro-Ecommerce-homes{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
}
.box-macro-Ecommerce-homes >img{
    position: absolute;
    width: 100%;
}
.box-header-Ecommerce-homes{
    /* border: solid thin hotpink; */
    width: 100%;
    height: 878px;
}
.box-header-Ecommerce-homes > nav{
    /* border: solid thin rgb(22, 162, 50); */
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-brand-and-sections-Ecommerce-homes{
    /* border: solid thin khaki; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100px;

}
.box-brand-and-sections-Ecommerce-homes > h1{
    color:white;
    font-size: 50px;
    font-weight: 400;
}
.box-brand-and-sections-Ecommerce-homes > div{
    /* border:solid thin #de2d49; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.box-brand-and-sections-Ecommerce-homes a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.box-sesion-and-contact-Ecommerce-homes{
    /* border: solid thin sienna; */
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-right: 100px;
}
.box-sesion-and-contact-Ecommerce-homes >a{
    color: white;
    text-decoration: none;
    border-right: solid thin white ;
    width: 70px;
    height: 20px;
    font-size: 17px;
}
.box-body-Ecommerce-homes{
    /* border: solid grey; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box-bottom-menu-Ecommerce-homes{
    /* border: solid thin lightgray; */
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-bottom-menu-Ecommerce-homes >a{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}
.box-bottom-menu-Ecommerce-homes >a:focus{
    color: rgb(70, 70, 70);
    text-decoration: underline;
    /* falta que se separe del ancord */
}
.box-all-card-Ecommerce-homes{
    /* border: solid thin peru; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 75%;
    height: 1250px;
}

/* MARKETPLACE */
.box-macro-marketplaces-homes{
    border: solid;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box-header-marketplace-homes{
    border: solid thin orange;
    width: 100%;
    height: 100px;
}
.top-nav-header-marketplace-homes{
    /* border: solid thin #de2d49; */
    background-color: #d15f00;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;   
}
.box-left-header-marketplace-homes{
    /* border: solid thin wheat; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.box-left-header-marketplace-homes > select{
    color: white;
    background-color: transparent;
    border: none;
}
.box-left-header-marketplace-homes > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.box-right-header-marketplace-homes{
    /* border: solid thin wheat; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}
.ancords-box-right-marketplace-homes{
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: 80px;
    border-right: solid thin white;
}
.last-ancord-right-header-marketplace-homes {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.botton-nav-header-marketplace-homes{
    background-color: #ef6c00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 68px;
}
.botton-nav-header-marketplace-homes > img{
    width: 100px;
    height: 40px;
}
.botton-nav-header-marketplace-homes > form {
    display: flex;
}
.botton-nav-header-marketplace-homes > form input{
    width: 600px;
    height: 30px;
    border: none;
}
.botton-nav-header-marketplace-homes > form button{
    background-image: url('../../../assets/LandingPages/lupaP.png');
    background-repeat:no-repeat;
    background-color: black;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 30px;
}

.box-right-botton-right-nav-header-marketplace-homes{
    /* border: solid thin rebeccapurple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}
.box-right-botton-right-nav-header-marketplace-homes > button{
    background-image: url('../../../assets/homes/iconHeartM.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 22px;
}
.box-right-botton-right-nav-header-marketplace-homes > div{
    display: flex;
    align-items: center;
    color: white;
}
.box-right-botton-right-nav-header-marketplace-homes > div button{
    background-image: url('../../../assets/Cards/cartBlack.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 22px;
    margin-right: 5px;
    /* este carrito es provisorio */
}
.box-macro-body-marketplace-homes{
    border: solid #00d1ca;
    width: 81%;
    align-self: center;
    display: flex;
}
.left-box-body-marketplace-homes{
    border: solid thin blue;
    width: 20%;
}
.left-box-body-marketplace-homes >section{
    border: solid thin rgb(216, 216, 22);
    width: 100%;
    height: 500px;
    display: flex;
}
.left-box-body-marketplace-homes h3{
    background-color: #d15f00;
    width: 305px;
    height: 40px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left:10px ;
}
.position-image-left-box-body-marketplace-homes{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}
.order-card-special-product-marketplace-homes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* fALTA VER COMO HAGO ESO DEL RADIO O SI PONGO UN BOTÓN CON UN FOCOS, ACTIVE... para que haga el color naranja */



.box-center-body-marketplace-homes{
    border:solid thin #00d1ca;
    width: 60%;
}

.box-right-body-marketplace-homes{
    border:solid thin #901b6b;
    width: 20%;
}

.order-card-testimonial-marketplace-homes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* footer */
.box-macro-footer-marketplace-homes{
    /* border: solid thin firebrick; */
    display: flex;
    flex-direction: column;
}
.box-macro-footer-marketplace-homes > header{
    /* border: solid #ef6c00; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.box-macro-footer-marketplace-homes > header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ef6c00;
    width: 81%;
    height: 70px;
}
.box-macro-footer-marketplace-homes img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.box-description-header-footer-marketplace-homes{
    display: flex;
    flex-direction: column;
}
.box-description-header-footer-marketplace-homes > h2{
    color: white;
    font-weight: 600;
    margin: 0;
}
.box-description-header-footer-marketplace-homes > p{
    color: white;
    font-weight: 400;
    margin: 0;
}
.order-form-header-footer-marketplace-homes {
   display: flex;
}
.order-form-header-footer-marketplace-homes > input {
    width: 600px;
    height: 30px;
}
.order-form-header-footer-marketplace-homes > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 35px;
    height: 30px;
}
.order-form-header-footer-marketplace-homes button {
    background-image: url('../../../assets/homes/icons/iconPaperPlaneMp.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 18px;
    height: 18px;
}
.box-buttons-header-footer-marketplace-homes {
    /* border: solid thin white; */
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.box-buttons-header-footer-marketplace-homes > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid thin #1e1e1e;
    width: 35px;
    height: 35px;
}
.box-buttons-header-footer-marketplace-homes > button img {
    background-color: transparent;
    margin: 0;
    width: 20px;
    height: 20px;
}

.box-body-footer-marketplace-homes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.order-section-left-body-footer-marketplace-homes{
    /* border: solid thin #901b6b; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 20%;
    height: 300px;
    color: white;
}
.order-section-left-body-footer-marketplace-homes > img {
    width: 100px;
    height: 40px;
}
.order-section-left-body-footer-marketplace-homes > p {
    margin-left: 7px;
    line-height: 28px;
}
.order-section-left-body-footer-marketplace-homes > div{
    /* border: solid #00d1ca; */
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
    margin-top: 10px;
    width: 60%;
}
.order-section-left-body-footer-marketplace-homes > div img {
    margin: 0;
    width: 33px;
    height: 22px;
}
.order-section-right-body-footer-marketplace-homes{
    /* border: solid thin #901b6b; */
    display: flex;
    align-items: center;
    width: 61%;
    height: 300px;
    color: white;
}
.order-section-right-body-footer-marketplace-homes > section{
    border-left: solid thin white;
    text-align: start;
    height: 230px;
    width: 300px;
}
.order-section-right-body-footer-marketplace-homes h3{
    font-size: 20px;
    padding-left: 10px;
}
.order-section-right-body-footer-marketplace-homes div{
    display: flex;
    flex-direction: column;
}
.order-section-right-body-footer-marketplace-homes div small{
    margin-left: 10px;
    margin-bottom: 10px;
}
/* HAY UN TEMA CON LA ÚLTIMA CAJA DEL FOOTER BODY! */
.order-section-right-body-footer-marketplace-homes div p{
   position: relative;
   left: 60px;
   bottom: 40px;
}

.order-footer-footer-marketplace-homes{
    /* border: solid #ef6c00; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    align-self: center;
}
.order-footer-footer-marketplace-homes >div{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.order-footer-footer-marketplace-homes a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
}

/* DIGITAL NEWSPAPER */
.box-macro-digital-newspaper-homes{
    /* border: solid; */
    width: 100%;
    display: flex;

}
.box-vertical-nav-digital-newspaper-homes{
    /* border: solid thin #00d1ca; */
    width: 5%;
}
.isologo-vertical-nav-digital-newspaper-homes{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid thin rgba(132, 132, 132, 0.2);
    width: 95px;
    height: 95px;
}
.isologo-vertical-nav-digital-newspaper-homes > img{
    width: 35px;
}
.autor-image-vertical-nav-digital-newspaper-homes{
    width: 45px;
    margin-top: 500px;
}
.order-ancords-vertical-nav-digital-newspaper-homes{
    /* border: solid thin #901b6b; */
    display: flex;
    flex-direction: column;
}
.order-ancords-vertical-nav-digital-newspaper-homes img{
    width: 35px;
    margin-top: 30px;
}

.box-body-digital-newspaper-homes{
    /* border: solid thin #1c00d1; */
    display: flex;
    flex-direction: column;
    width: 95%;
}
.box-body-digital-newspaper-homes > nav{
    /* border: solid thin #d15f00; */
    background-color: #f2f3f4;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-buttons-body-digital-newspaper-homes{
    margin-left: 50px;
}
.box-buttons-body-digital-newspaper-homes > button{
    background-color: white;
    border: none;
    margin-right: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box-search-body-digital-newspaper-homes{
    display: flex;
    margin-right: 50px;
}
.box-search-body-digital-newspaper-homes > button{
    background-image: url('../../../assets/homes/DigitalNewsPaper/iconMagnifyingGlassDNP.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 30px;
}
.box-search-body-digital-newspaper-homes > label{
   font-size: 17px;
   font-weight: 500;
   margin-right: 10px;
}
.section-one-body-digital-newspaper-homes,
.section-two-body-digital-newspaper-homes{
    border-bottom: solid thin rgba(132, 132, 132, 0.5);
    width: 85%;
    align-self: center;
}
.section-one-body-digital-newspaper-homes > div{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.section-one-body-digital-newspaper-homes h6{
    font-size: 15px;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-one-body-digital-newspaper-homes p{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-one-body-digital-newspaper-homes > h2{
    margin: 0;
    font-size: 100px;
    text-align: start;
    line-height: 120px;
    padding-bottom: 50px;
}
.section-two-body-digital-newspaper-homes{
    border-bottom: solid thin rgba(132, 132, 132, 0.5);
    width: 85%;
    align-self: center;
    display: flex;
}
.box-left-news-section-two-body-digital-newspaper-homes{
    /* border: solid thin greenyellow; */
    width: 40%;
}
.box-left-news-section-two-body-digital-newspaper-homes >article{
    width: 85%;
    border-bottom: solid thin rgba(132, 132, 132, 0.5) ;
}
.box-left-news-section-two-body-digital-newspaper-homes div{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.box-left-news-section-two-body-digital-newspaper-homes h6{
    font-size: 15px;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.box-left-news-section-two-body-digital-newspaper-homes p{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.box-left-news-section-two-body-digital-newspaper-homes h4{
    margin: 0;
    font-size: 50px;
    text-align: start;
    line-height: 60px;
    padding-bottom: 25px;
}
.crest-news-igital-newspaper-homes{
    margin: 0;
    font-size: 18px;
    text-align: start;
    line-height: 30px;
    padding-bottom: 40px;
}
.box-right-news-section-two-body-digital-newspaper-homes{
    /* border: solid thin #d15f00; */
    width: 60%;
    height: 840px;
}
.box-right-news-section-two-body-digital-newspaper-homes > img{
    width: 67%;
    position: relative;
    right: 80px;
    bottom: 18px;
}
.internal-box-image-right-news-section-two-body-digital-newspaper-homes{
    /* border: solid #00d1ca; */
    width: 30%;
    position: relative;
    bottom: 200px;
    left: 150px;
    color: white;
}
.internal-box-image-right-news-section-two-body-digital-newspaper-homes > div{
    /* border: solid #00d142; */
    display: flex;
    align-items: center;
}
.internal-box-image-right-news-section-two-body-digital-newspaper-homes h6{
    font-size: 15px;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.internal-box-image-right-news-section-two-body-digital-newspaper-homes p{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.internal-box-image-right-news-section-two-body-digital-newspaper-homes h4{
    margin: 0;
    font-size: 30px;
    text-align: start;
    line-height: 40px;
    padding-top: 10px;
    font-weight: 500;
}

.section-three-body-digital-newspaper-homes{
    border-bottom: solid thin rgba(132, 132, 132, 0.5);
    width: 85%;
    align-self: center;
    display: flex;
}
.section-three-body-digital-newspaper-homes >img{
    /* border:solid thin #1c00d1; */
    width:50%;
}
.section-three-body-digital-newspaper-homes >div{
    /* border:solid thin #00c0d1; */
    display: flex;
    flex-direction: column;
    width: 50%;
}
.box-section-and-date-body-digital-newspaper-homes{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.box-section-and-date-body-digital-newspaper-homes >h6{
    font-size: 15px;
    margin-left: 6px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.box-section-and-date-body-digital-newspaper-homes >p{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-three-body-digital-newspaper-homes h4{
    margin: 0;
    font-size: 80px;
    width: 90%;
    text-align: start;
}
.box-result-body-digital-newspaper-homes{
    border-top: solid thin rgba(132, 132, 132, 0.2);
    border-bottom: solid thin rgba(132, 132, 132, 0.2);
    /* border: solid thin rgba(132, 132, 132, 0.5); */
    margin-top: 50px;
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.box-result-body-digital-newspaper-homes > div{
    border-left: solid thin rgba(132, 132, 132, 0.2);
    border-right: solid thin rgba(132, 132, 132, 0.2) ;
    width: 210px;
}
.box-result-body-digital-newspaper-homes img{
    width: 210px;   
}
.box-result-body-digital-newspaper-homes h3{
    /* border: solid; */
    height:80px;
    margin: 0; 
    font-size: 50px;
    font-weight: 600; 
    margin-top: 52px;
}
.section-four-body-digital-newspaper-homes{
    /* border-bottom: solid thin rgba(132, 132, 132, 0.5); */
    width: 85%;
    align-self: center;
    display: flex;
}
.article-one-section-four-body-digital-newspaper-homes{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    width: 60%;
}
.section-four-body-digital-newspaper-homes h4{
    width: 80%;
    font-size: 50px;
    text-align: start;
    margin: 0;
}
.article-one-section-four-body-digital-newspaper-homes >p {
    width: 80%;
    font-size: 20px;
    text-align: start;
    margin: 0;
    line-height: 40px;
    margin-bottom: 50px
}

.article-two-section-four-body-digital-newspaper-homes{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 50px
}
.section-five-body-digital-newspaper-homes{
    background-color: #f5f5f5;
    width: 85%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.section-five-body-digital-newspaper-homes >div{
    display: flex;
    width: 80%;
    align-self: center;
}
.section-five-body-digital-newspaper-homes >img{
    width: 80%;
    align-self: center;
    margin-bottom: 70px;
}
.section-five-body-digital-newspaper-homes article{
    /* border: solid; */
    width: 60%;
}
.section-five-body-digital-newspaper-homes h4{
   font-size: 70px;
   text-align: start;
   width: 85%;
   margin: 0;
}
.box-section-top-right-section-five-body-digital-newspaper-homes{
    /* border: solid thin #1c00d1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 260px;
    margin-top: 100px;
}
.box-section-top-right-section-five-body-digital-newspaper-homes >div{
    /* border: solid thin #174c69; */
    display: flex;
}
.box-section-top-right-section-five-body-digital-newspaper-homes >div div{
    background-color: #3a3a3a;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.box-section-top-right-section-five-body-digital-newspaper-homes >div small{
    color: #3a3a3a;
    display: flex;
    flex-flow: row wrap;
    text-align: start;
    line-height: 35px;
    font-size: 20px;
}
.section-six-body-digital-newspaper-homes{
    border-bottom: solid thin rgba(132, 132, 132, 0.2);
    width: 100%;
    height: 900px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-six-body-digital-newspaper-homes >article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 20%;
    height: 750px;
}
.section-six-body-digital-newspaper-homes >div{
    width: 40%;
}

.section-six-body-digital-newspaper-homes h4{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}
.section-right-section-six-body-digital-newspaper-homes{
    /* border: solid; */
    display: flex;    
    flex-direction: column;
    position: relative;
    bottom: 20px;
}
.section-right-section-six-body-digital-newspaper-homes >article h4{
    font-size: 50px;
    color: #000000;
    text-align: start;
    margin: 0;
}
.section-right-section-six-body-digital-newspaper-homes >article p{
    font-size: 17px;
    text-align: start;
    line-height: 35px;
}
.section-seven-body-digital-newspaper-homes{
    border-bottom: solid thin rgba(132, 132, 132, 0.2);
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-seven-body-digital-newspaper-homes >div{
    /* border: solid red; */
    width: 55%;   
}
.section-seven-body-digital-newspaper-homes h4{
    text-align: start;
    font-size: 70px;
    margin: 0;
    width: 70%;   
}
.section-seven-body-digital-newspaper-homes >img{
    width: 25%;   
}
.section-eight-body-digital-newspaper-homes{
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.section-eight-body-digital-newspaper-homes >div{
    /* border: solid yellow; */
    width: 40%;
}
.section-eight-body-digital-newspaper-homes h4{
    font-size: 50px;
    text-align: start;
    margin: 0;
}
.section-eight-body-digital-newspaper-homes p{
   font-size: 17px;
   text-align: start;
   line-height: 35px;
}
.section-eight-body-digital-newspaper-homes >article{
    /* border: solid rgb(22, 155, 13); */
    width: 60%;
}


/* .box-right-news-section-two-body-digital-newspaper-homes div{
    border: solid wheat;
    display: flex;
    align-items: center;
    padding-top: 50px;
    color: white;
} */
