*,
*::after,
*::before{
    box-sizing: border-box;
}
.metal-basket-container{
    /* border: solid red; */
    width: 260px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.top-line-metal-basket{
    border: solid;
    width: 100%;
}
.middle-box-metal-basket{
    /* border: solid thin hotpink; */
    width: 90%;
    height: 85px;
    align-self: center;
    display: flex;
    position: relative;
}
.middle-box-metal-basket>div:first-child{
    border-left: solid;
    width: 1px;
    border-width: 5px;
    height: 90px;
    transform: rotate(-15deg);
}
.middle-box-metal-basket>div:nth-child(2){
    border-left: solid;
    border-right: solid;
    width: 30px;
    margin-left: 10px;
    border-width: 5px;
    height: 85px;
}
.middle-box-metal-basket>div:nth-child(3),
.middle-box-metal-basket>div:nth-child(4),
.middle-box-metal-basket>div:nth-child(5),
.middle-box-metal-basket>div:nth-child(6),
.middle-box-metal-basket>div:nth-child(7){
    border-right: solid;
    width: 30px;
    border-width: 5px;
    height: 85px;
}
.middle-box-metal-basket>div:nth-child(8){
    border-right: solid;
    width: 30px;
    margin-right: 10px;
    border-width: 5px;
    height: 85px;
}
.middle-box-metal-basket>div:last-child{
    border-left: solid;
    width: 1px;
    border-width: 5px;
    height: 90px;
    transform: rotate(15deg);
}

.internal-middle-box-metal-basket{
    /* border: solid thin rgb(105, 255, 150); */
    width: 250px;
    height: 100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.internal-middle-box-metal-basket>div:first-child{
    border: solid;
    width: 240px;
    height: 1px;
    position: relative;
    top: 31px;
    align-self: center;
}
.internal-middle-box-metal-basket>div:last-child{
    border: solid;
    width: 217px;
    height: 1px;
    position: relative;
    top: 57px;
    align-self: center;
}
.bottom-line-metal-basket{
    border: solid;
    width: 80%;
    align-self: center;
}