*,
*::before,
*::after{
    box-sizing: border-box;
}
.box-my-contact-form-order{
    /* border: solid salmon; */
    width: 200px;
    height: 240px;
    background-image: url('../../../assets/myHome/AllBoardContent/imageEmail.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box-my-contact-form-order>p{
    margin-top: 0;
    margin-bottom: 5px;
    color: #444444;
    font-weight: 500;
}
.box-my-contact-form-order>input{
    width: 70%;
}
.box-my-contact-form-order>textarea{
    margin-top: 2px;
}

