.order-of-all-pencils{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.order-a-purple-pencil,
.order-a-hotpink-pencil,
.order-a-blue-pencil,
.order-a-green-pencil,
.order-a-yellow-pencil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.order-a-purple-pencil>div:first-child{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #7136F4;
    /* ver cómo funciona esto */
}
.order-a-purple-pencil>div:last-child{
    width: 15px;
    height: 40px;
    background-color: #814EF2;
}
.order-a-hotpink-pencil>div:first-child{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #F62F55;
}
.order-a-hotpink-pencil>div:last-child{
    width: 15px;
    height: 40px;
    background-color: #F44D6D;
}
.order-a-blue-pencil>div:first-child{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #3842F1;
}
.order-a-blue-pencil>div:last-child{
    width: 15px;
    height: 40px;
    background-color: #5058EF;
}
.order-a-green-pencil>div:first-child{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #0DDD79;
}
.order-a-green-pencil>div:last-child{
    width: 15px;
    height: 40px;
    background-color: #4EF2A3;
}
.order-a-yellow-pencil>div:first-child{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #E1C815;
}
.order-a-yellow-pencil>div:last-child{
    width: 15px;
    height: 40px;
    background-color: #F2DE4E;
}