*,
*::before,
*::after{
  box-sizing: border-box
}
.box-macro-minimalist-LP{
  background-color: var(--violet-background-minimalism);
  width: 100%;
  height: 100%;
}
.internal-box-minimalist-LP{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header-box-minimalist-LP{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
}
.logo-shopfy-minimalism-LP{
  width: 20%;
  height: auto;
}
.main-box-minimalist-LP{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38%;
}
.titel-main-minimalism-LP {
  margin: 0;
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
}
.description-main-minimalism-LP{
  margin: 0;
  margin-top: .7vw;
  font-size: 1.3vw;
  color: white;
  width: 50%;
  line-height: 2vw;
}
.input-box-main-minimalism-LP{
  width: 43%;
  height:5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.input-main-minimalism-LP,
.button-main-minimalism-LP{
  border-radius: .5vw;
  border: none;
  height: 2.3vw;
}
.input-main-minimalism-LP{
  width: 68%;
  padding-left: 1vw;
}
.input-main-minimalism-LP::placeholder,
.button-main-minimalism-LP{
  font-weight: 600;
  font-size: .9vw;
}
.button-main-minimalism-LP{
  color: white;
  background-color: var(--dark-blue-minimalism-button);
  width: 30%;
  cursor: pointer
}
.description-small-main-minimalis-LP{
  color: white;
  width: 45%;
  height: 20%;
  letter-spacing: .05vw;
  font-size: .7vw;
}
.composition-footer-minimalism-LP{
  width: 100%;
  height: 54%;
  display: flex;
  align-items: flex-end;
}
.image-minimalism-LP{
  width:100%;
  height: auto;
}