@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}

.macro-name-box-all-views{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    width: 100%;
    height: 140px;
}
.box-name-all-views{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: groove;
    border-color: white;
    width: 95%;
    height: 100px;
   
}
.page-names-all-views {
    position: relative;
    bottom: 5px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
}
main{
    display: flex;
    /* align-items: center; NO ME ANDA!ver porqué */
    position: relative;
    top: 25px;
    justify-content: center;
}
.door-frame-all-views{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 30px;
    border: solid;
    border-color: #282828;
    border-width: 5px;
    width: 500px;
    height: 750px;
}

.stained-glass-border-all-views{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: solid;
    border-color: #282828;
    border-width: 5px;
    width: 1200px;
    height: 750px;
}

.internal-stained-glass-border-all-views{
    position: relative;
    left: 28px;
    border: groove;
    border-width: 10px;
    border-color: #282828;
    width: 1130px;
    height: 700px;
}
.internal-door-frame-all-views{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: groove;
    border-color: #282828; */
    width: 450px;
    height: 700px;
}
.stained-glass-door-all-views{
    display: flex;
    flex-direction: column;
    border: groove;
    border-color: #282828;
    border-width: 20px;
    width: 450px;
    height: 480px; 
}
.letter-box-all-views{
    background-color: #3b3b3b;
    border: groove;
    border-color: #282828;
    border-width: 10px;
    width: 120px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link-box-all-views{
    display: flex;
    justify-content: center;
    align-items: center;
    border: groove;
    border-width: 20px;
    border-color: #282828;
    width: 400px;
    height: 200px; 
}
.image-links-all-views{
    width: 90px;
    height: 84.16px;
    margin-right: 10px;
}
.glass-roof-all-views{
    background-color:  #000000;
    width: 1110px;
    height: 40px;

}
.vertical-line-glass-all-views{
    border-left: thick solid #282828;
    width: 20px;
    height: 40px;
}
.vertical-long-line-glass-all-views{
    border-left: thick solid #282828;
    width: 20px;
    height: 240px;
}

.top-box-original-images-a-v{
    width: 90%;
    display: flex;
    justify-content: space-around;    
}
.bottom-box-original-images-a-v{
    position: relative;
    bottom: 220px;
    left: 145px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;    
}
.original-image-all-views{
    border: thick solid #282828;
    width: 280px;
    height: 180px;
    cursor: pointer;
}
.individual-box-original-images-a-v{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stained-glass-wall-all-views{
    position: relative;
    bottom: 640px;
    width: 1110px;
    height: 620px;
    /* Los bordes anchos dan la ilusión de una línea diagonal */
    border-right: 60px solid #282828;
    border-bottom: 50px solid #000000; 
}
.base-stained-glass-all-views{
    position: relative;
    bottom: 641px;
    background-color:#282828 ;
    width: 1110px;
    height: 21px;
}

.mannequin-all-views{
    position: relative;
    right: 220px;
    top: 80px;
    height: 450px;
    width: 117px;
}
