*,
*::before,
*::after{
    box-sizing: border-box;
}
.box-macro-clothes-card{
    /* border: solid; */
    background-color: #fbfaf6;
    width: 400px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-macro-clothes-card:hover{
    background-color: #fcd8da;
}
.box-image-product-clothes-card{
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30vh;
}
.image-product-clothes-card{
    width: 100%;
} 
.box-text-product-clothes-card{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18.5vh;
}
.titel-product-clothes-card{
    /* border:solid; */
    font-size: 25px;
    margin-bottom: 5px;
}
.description-product-clothes-card{
    font-size: 12px;
    margin-top: 0;
}
.button-add-cart-clothes-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfaf6;
    border: solid thin;
    width: 230px;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    background-image: url('../../../assets/Cards/Clothes/cartBlack.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 150px;
    background-position-y: center;

}
.button-add-cart-clothes-card:hover{
    background-color: black;
    color: white;
    background-image: url('../../../assets/Cards/Clothes/cartWhite.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 150px;
    background-position-y: center;
    border: none;
}
.box-text-product-clothes-card>p:nth-of-type(2){
    color: #dbdad6;
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;
}
.box-text-product-clothes-card>p:nth-of-type(2):active,
.box-text-product-clothes-card>p:nth-of-type(2):focus,
.box-text-product-clothes-card>p:nth-of-type(2):hover{
    color: #222222;
}