*,
*::after,
*::before{
    box-sizing: border-box;
}
.all-page-order-checkOut-form{
    /* border: solid; */
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header-components-order-checkOut-form{
    /* border: solid thin hotpink; */
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
}
.header-components-order-checkOut-form>nav{
    background-color: black;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.brand-name-order-checkOut-form{
    /* border:solid #5adcac; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    margin-left:9px;
}
.brand-name-order-checkOut-form>p{
    background-color: #373737;
    font-size: 12px;    
}
.order-right-box-nav-checkOut-form{
    /* border:solid #5adcac; */
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
}
.order-right-box-nav-checkOut-form>select{
    background-image: url('../../../assets/Forms/ContactUs/imageMenu.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    appearance: none;
    border: none;
    width: 40px;
    height: 40px;
}
.header-components-order-checkOut-form>div{
    background-color: #5adcac;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-components-order-checkOut-form>div div{
    background-color: white;
    width: 15px;
    height: 20px;
}
.header-components-order-checkOut-form small{
    color: white;
    margin-left: 10px;
}
.body-components-order-checkOut-form{
    /* border: solid thin blueviolet; */
    width: 80%;
    display: flex;
}
.body-components-order-checkOut-form>section{
    /* border: solid thin green; */
    width: 65%;
}
.body-components-order-checkOut-form h1{
    font-size: 35px;
}
/* .body-components-order-checkOut-form>section section{
    background-color: #f7f7f7;
    width: 100%;
    border:solid thin #e3e3e3;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
} */
.order-of-internal-sections-body-checkOut-form{
    background-color: #f7f7f7;
    width: 100%;
    border:solid thin #e3e3e3;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.order-of-internal-sections-body-checkOut-form>h3{
    font-size: 30px;
    align-self: flex-start;
    padding-left: 30px;
}
.top-box-order-input-sections-body-checkOut-form{
    /* border: solid thin skyblue; */
    width: 93%;
    align-self:center;
    margin-bottom: 20px;
}
.top-box-order-input-sections-body-checkOut-form>div{
    /* border: solid thin rgb(62, 114, 134); */
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.top-box-order-input-sections-body-checkOut-form>div div{
    /* border: solid thin rgb(191, 130, 31); */
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.top-box-order-input-sections-body-checkOut-form>div div small{
    font-size: 12px;
    font-weight: 500;
}
.top-box-order-input-sections-body-checkOut-form>div div span{
    color: red;
    font-size: 12px;
    font-weight: 500;
}
.top-box-order-input-sections-body-checkOut-form>div input{
    width: 400px;
    height: 40px;
    border: solid thin #e3e3e3;
}
.top-box-order-input-sections-body-checkOut-form>div select{
    width: 400px;
    height: 40px;
    border: solid thin #e3e3e3;
}

/* .order-of-internal-sections-body-checkOut-form>details{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 30px;
} */
.order-of-internal-sections-body-checkOut-form summary{
    margin-bottom: 20px;

}
/* NO SÉ COMO DARLE ESTILOS A ESTO DE ARRIBA */
.order-of-internal-sections-body-checkOut-form>textarea{
    width: 90%;
    align-self: center;
}
.order-of-internal-sections-body-checkOut-form>small{
    /* border: solid; */
    margin-bottom: 30px;
    margin-top: 20px;
    align-self: center;
    display: flex;
    align-items:flex-start ;
    width: 90%;
}
.order-top-section-of-payment-and-confirmation-checkOut-form{
    display: flex;
    flex-direction: column;
}
.order-top-section-of-payment-and-confirmation-checkOut-form>header{
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
}
.order-top-section-of-payment-and-confirmation-checkOut-form h3{
    font-size: 30px;
}
.order-top-section-of-payment-and-confirmation-checkOut-form>header img{
    width: 10%;
}
.botton-box-order-input-sections-body-checkOut-form{
    width: 93%;
    align-self:center;
    margin-bottom: 20px;
}
.botton-box-order-input-sections-body-checkOut-form>div{
    /* border: solid thin rgb(62, 114, 134); */
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.botton-box-order-input-sections-body-checkOut-form>div div{
    /* border: solid thin rgb(191, 130, 31); */
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.botton-box-order-input-sections-body-checkOut-form>div div small{
    font-size: 12px;
    font-weight: 500;
}
.botton-box-order-input-sections-body-checkOut-form>div div span{
    color: red;
    font-size: 12px;
    font-weight: 500;
}
.botton-box-order-input-sections-body-checkOut-form>div input{
    width: 300px;
    height: 40px;
    border: solid thin #e3e3e3;
}
.order-terms-and-conditions-checkOut-form{
    /* border: solid #5adcac; */
    width: 93%;
    align-self: center;
}
.order-terms-and-conditions-checkOut-form>label{
    /* border: solid #5adcac; */
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
}
.order-price-checkOut-form{
    background-color: #efefef;
    width: 100%;
    height: 150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.order-price-checkOut-form>h2{
    /* border: solid; */
    width: 95%;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    margin-bottom: 10px;   
}
.order-price-checkOut-form>p{
   color: #aaaaaa;
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-self: center; 
   width: 95%;  
}
.order-botton-section-of-payment-and-confirmation-checkOut-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.order-botton-section-of-payment-and-confirmation-checkOut-form>button{
    background-color: #5adcac;
    border: none;
    width: 200px;
    height: 50px;
    color: white;
    margin-bottom: 15px;
}
.order-botton-section-of-payment-and-confirmation-checkOut-form>small{
    font-size: 10px;
    color: #373737;
    margin-bottom: 40px;
}
.body-components-order-checkOut-form>article{
    /* border: solid thin rgb(11, 0, 128); */
    width: 35%;
    display: flex;
    justify-content: flex-end;
}
.body-components-order-checkOut-form>article article{
    /* border: solid thin rgb(11, 0, 128); */
    background-color: #f7f7f7;
    width: 80%;
    height: 795px;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:solid thin #e3e3e3;
    border-left:solid thin #e3e3e3 ;
    border-right:solid thin #e3e3e3 ;
}
.body-components-order-checkOut-form img{
    width: 100%;
}
.body-components-order-checkOut-form>article article>p{
    background-color: black;
    margin: 0;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.body-components-order-checkOut-form>article article>section{
  border-bottom:solid thin #efefef;
  width: 85%;
}
.body-components-order-checkOut-form>article article>section>p{
    text-align: start;
    margin-top: 10px;
    color: #aaaaaa;
    font-size: 15px;
}
.body-components-order-checkOut-form>article article>section>h3{
    text-align: start;
    margin-bottom: 0;
    font-size: 30px;
}
.body-components-order-checkOut-form>article table{
    margin-top: 20px;
    margin-bottom: 20px;
}
.body-components-order-checkOut-form>article table td{
    /* border:solid thin #373737; */
    width: 50%;
    text-align: start;
    color: #aaaaaa;
    font-size: 15px;
}
.body-components-order-checkOut-form>article article>section>div{
   display: flex;
   flex-direction: column;
   margin-top: 15px;
   margin-bottom: 15px;
}
.body-components-order-checkOut-form>article article>section>div p{
    margin: 0;
    align-self: flex-start;
    color: #aaaaaa;
    font-size: 15px;
    
}
.body-components-order-checkOut-form>article article>section>div h3{
    margin: 0;
    align-self: flex-start;
    font-size: 17px;
}
.body-components-order-checkOut-form>article article>section>div u{
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
    color: #aaaaaa;
}