*,
*::after,
*::before{
    box-sizing: border-box;
}
.box-vp-contact-us-form{
    background-color: #0e0e0e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-header-contact-us-form{
    /* border: solid thin hotpink; */
    width: 95%;
    height: 500px;
    margin-top: 45px;
}
.box-header-contact-us-form >img{
    width: 100%;
    position: relative;
}
.header-header-contact-us-form{
    /* border: solid thin yellow; */
    position: relative;
    bottom: 500px;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
}
.order-top-header-contact-us-form{
    /* border: solid thin rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-top-header-contact-us-form >h2{
    font-size: 15px;
    padding-left: 20px;
}
.box-titel-header-contact-us-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white;
    width: 18%;
    height: 70px;
    align-self: center;
    margin-top: 170px;
}
.box-titel-header-contact-us-form >h1{
    font-size: 40px;
    letter-spacing: 4px;
}
.order-top-header-contact-us-form >div{
    padding-right: 20px;
}
.order-top-header-contact-us-form select{
    background-image: url('../../../assets/Forms/ContactUs/imageMenu.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    appearance: none;
    width: 40px;
    height: 40px;
    border: solid thin white;
    margin-top: 10px;
}
.order-top-header-contact-us-form p{
   margin: 0;
   font-size: 10px;
}
.body-box-order-contact-us-form{
    /* border: solid thin green; */
    width: 95%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.top-body-section-order-contact-us-form{
    display: flex;
    flex-direction: column;
}
.top-body-section-order-contact-us-form i{
    color: #b2814b;
    font-size: 25px;
    font-weight: 450;
}
.top-body-section-order-contact-us-form >article{
   /* border: solid thin blueviolet; */
   display: flex;
   justify-content: center;
   align-items: center;
}
.top-body-section-order-contact-us-form >article div{
    border-right: solid #b2814b ;
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.top-body-section-order-contact-us-form p{
    color: #b2814b;
    font-size: 15px;
    font-weight: 450;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.top-body-section-order-contact-us-form small{
    color: white;
    font-size: 12px;
}
.midsection-body-section-order-contact-us-form{
    /* border: solid thin hotpink; */
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.midsection-body-section-order-contact-us-form >h3{
    color: white;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.midsection-body-section-order-contact-us-form >input{
    width: 600px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #272727;
    border: none;
}
.midsection-body-section-order-contact-us-form >textarea{
    width: 600px;
    background-color: #272727;
    border: none;
    margin-bottom: 20px;
}
.midsection-body-section-order-contact-us-form >button{
    width: 150px;
    height: 40px;
    background-color:#b2814b ;
    border: none;
    margin-bottom: 30px;
    font-weight: 700;
}
.botton-body-section-order-contact-us-form {
    display: flex;
    flex-direction: column;
}

.botton-body-section-order-contact-us-form i{
    color: #b2814b;
    font-size: 25px;
    font-weight: 450;
}
.botton-body-section-order-contact-us-form>div{
    /* border: solid thin blue; */
    width: 310px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.botton-body-section-order-contact-us-form a{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #b2814b;
   width: 35px;
   height: 35px;
   border-radius: 5px;
}
.botton-body-section-order-contact-us-form>img{
   width: 100%;
   margin-top: 50px;
 }