*,
*::before,
*::after{
    box-sizing: border-box
}
.box-macro-personalPage-homes{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}
.vertical-nav-personalPage-homes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: solid thin rgb(224, 224, 224);
    width: 7%;
    height: 100%;
}
.isologo-vertical-nav-personalPage-homes{
    margin-top: .9vw;
    width: 60%;
    height: auto;
}
.box-ancords-vertical-nav-personalPage-homes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3vw;
    width: 100%;
    height: 27%;
}
.box-ancords-vertical-nav-personalPage-homes img {
    width: 25%;
    height: auto;
}
.box-body-personalPage-homes{
    width: 93%;
    height: 100%;
}
.horizontal-nav-personalPage-homes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 9.5%;
}
.navicon-three-line-order-and-styles-PP{
    display: none;
}
.box-ancords-horizontal-nav-personalPage-homes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: 1vw;
}
.box-ancords-horizontal-nav-personalPage-homes >a{
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-weight: 600;
    height: 1.7vw;
}
.box-ancords-horizontal-nav-personalPage-homes > a:hover,
.box-ancords-horizontal-nav-personalPage-homes > a:focus,
.box-ancords-horizontal-nav-personalPage-homes > a:active{
    border-bottom: solid;
}
.box-phone-horizontal-nav-personalPage-homes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    margin-right: 1vw;
}
.box-phone-horizontal-nav-personalPage-homes>a>img{
    width: 70%;
}
.box-phone-horizontal-nav-personalPage-homes>a:first-child{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-phone-horizontal-nav-personalPage-homes>a:last-child{
    text-decoration: none;
    color: var(--fuchsia-personal-page);
    font-size: .9vw;
    font-weight: 600;
}
.box-intenal-body-personalPage-homes{
    width: 100%;
    height: 90.5%;
}

.box-data-and-image-personalPage-homes{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 82%;
    /* border: solid; */
}
.box-data-body-personalPage-homes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3vw;
    width: 60%;
    height: 40%;
    align-self: center;
    color: var(--gray-text-personal-page);
}
.box-data-body-personalPage-homes>h5,
.box-data-body-personalPage-homes>h2,
.box-data-body-personalPage-homes>h3,
.box-data-body-personalPage-homes>h4{
    margin: 0;
}
.box-data-body-personalPage-homes>h5{
    font-size: 1vw;
}
.box-data-body-personalPage-homes>h2{
    font-size: 4.8vw;
    line-height: 5vw;
}
.box-data-body-personalPage-homes>h2>font{
    font-size: 4.8vw;
}
.box-data-body-personalPage-homes>h3,
.box-data-body-personalPage-homes>h4{
    text-align: start;
    font-weight: 600;
}
.box-data-body-personalPage-homes>h3{
    font-size: 2.1vw;
}
.box-data-body-personalPage-homes>h4{
    font-size: 1.4vw;
}
.box-data-body-personalPage-homes >button{
    background-color: var(--fuchsia-personal-page);
    width: 40%;
    padding-top: .8vw;
    padding-bottom: .8vw;
    border: none;
    margin-top:1.5vw;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.box-background-image-personalPage-homes{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}
.backgroun-image-personalPage-homes{
    width: 78%;
    height: 92%;
}
.box-footer-personalPage-homes{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 18%;
}
.box-footer-personalPage-homes>div:first-child,
.box-footer-personalPage-homes>div:nth-child(2),
.box-footer-personalPage-homes>div:last-child {
    width: 25%;
    height: 60%;
    color: var(--gray-text-personal-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.box-footer-personalPage-homes>div:first-child,
.box-footer-personalPage-homes>div:nth-child(2) {
    border-right: solid thin rgb(102, 102, 102);
}
.box-footer-personalPage-homes h6{
    font-size: 1.1vw;
    margin: 0;
}
.box-footer-personalPage-homes p{
    margin: 0;
    font-weight: 500;
    font-size: .8vw;
}
@media screen and (max-width: 64em) and (orientation: portrait) {
    .box-macro-personalPage-homes{
        width: 70%;
        height: 95%;
    }
    .vertical-nav-personalPage-homes{
        width: 10%;
    }
    .box-ancords-vertical-nav-personalPage-homes{
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 24%;
        margin-bottom: 4vw;
        width: 25%;
        height: 2%;
    }
    .box-ancords-vertical-nav-personalPage-homes img{
        width: 35%;
        height: auto;
    }
    .box-body-personalPage-homes{
        height: 95%;
        border-bottom: solid thin rgb(224, 224, 224);
    }
    .box-ancords-horizontal-nav-personalPage-homes{
        width: 100%;
        margin-left: 0;
    }
    .box-ancords-horizontal-nav-personalPage-homes>a{
        font-size: 1vh;
    }
    .box-ancords-horizontal-nav-personalPage-homes>a:hover,
    .box-ancords-horizontal-nav-personalPage-homes>a:focus,
    .box-ancords-horizontal-nav-personalPage-homes>a:active{
        border-bottom: solid;
    }
    .box-phone-horizontal-nav-personalPage-homes{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 10%;
        height: 2%;
        margin-right:20%;
        margin-bottom: 5%;
    }
    .box-phone-horizontal-nav-personalPage-homesa>a>img{
        width: 20%;
    }
    .box-phone-horizontal-nav-personalPage-homes>a:last-child{
        font-size: .9vh;
    }
    .box-intenal-body-personalPage-homes{
        width: 100%;
        height: 90.5%;
    }
    .box-data-and-image-personalPage-homes{
        display: flex;
        width: 100%;
        height: 82%;
    }
    .box-data-body-personalPage-homes{
        padding-left: 1vh;
    }
    .box-data-body-personalPage-homes>h5,
    .box-data-body-personalPage-homes>h2,
    .box-data-body-personalPage-homes>h3,
    .box-data-body-personalPage-homes>h4{
        margin: 0;
    }
    .box-data-body-personalPage-homes>h5{
        font-size: 1vw;
    }
    .box-data-body-personalPage-homes>h2{
        font-size: 4vw;
        line-height: 5vh;
    }
    .box-data-body-personalPage-homes>h2>font{
        font-size: 4vw;
    }
    .box-data-body-personalPage-homes>h3,
    .box-data-body-personalPage-homes>h4{
        text-align: start;
        font-weight: 600;
    }
    .box-data-body-personalPage-homes>h3{
        font-size: 1.9vw;
    }
    .box-background-image-personalPage-homes{
        align-items: center;
    }
    .backgroun-image-personalPage-homes{
        width: 80%;
        height: 80%;
    }
    .box-footer-personalPage-homes{
        width: 100%;
    }
    .box-footer-personalPage-homes h6{
        font-size: 1.4vw;
    }
    .box-footer-personalPage-homes p{
        font-size: 1vw;
    }
}
@media screen and (max-width: 37.5em) and (orientation: portrait) {
    .vertical-nav-personalPage-homes{
        border: none;
    }
    .isologo-vertical-nav-personalPage-homes{
        margin-top: 2vw;
        margin-left: 2vw ;
        width: 80%;
    }
    .box-ancords-vertical-nav-personalPage-homes{
        bottom: 4vw;
        left: 40%;
        height: 3.5%;
        border-top: solid thin rgb(224, 224, 224);
    }
    .box-ancords-vertical-nav-personalPage-homes img{
        width: 50%;
    }
    .box-body-personalPage-homes{
        height: 90%;
        border: none;
    }
    .navicon-three-line-order-and-styles-PP{
        position: absolute;
        display: flex;
        font-size: 4vw;
        font-weight: 600;
        left: 39.5vw;
        top: 107vw;
    }
    .box-ancords-horizontal-nav-personalPage-homes-less-601px{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        right: 30vw;
        margin-top: 6vw;
        width: 25%;
        height: 9%;
        margin-left: 0;
        background-color: rgba(1, 1, 1, .7);
        border-radius: .3vw;
    }
    .box-ancords-horizontal-nav-personalPage-homes-less-601px>a{
        font-size: 2vw;
        color: white;
        text-decoration: none;
        font-weight: 600;
        height: 1.7vw;
    }
    .box-ancords-horizontal-nav-personalPage-homes{
        display: none;
    }
    .box-phone-horizontal-nav-personalPage-homes{
        width: 10%;
        height: 3%;
        top: 107vw;
        right: 13vw;
        margin-right:0;
        margin-bottom: 0;
    }
    .box-phone-horizontal-nav-personalPage-homes>a:first-child{
        width: 40%;
        height: 100%;
    }
    .box-phone-horizontal-nav-personalPage-homes>a:last-child{
        display: none;
    }
    .box-data-and-image-personalPage-homes{
        margin-top: 8vw;
    }
    .box-data-body-personalPage-homes{
        position: relative;
        left: 5vw;
        padding-left: 0;
        width: 100vw;
        height: 43%;
    }
    .box-data-body-personalPage-homes>h5{
        font-size: 1.6vw;
    }
    .box-data-body-personalPage-homes>h2{
        font-size: 6.8vw;
    }
    .box-data-body-personalPage-homes>h2>font{
        font-size: 6.8vw;
    }
    .box-data-body-personalPage-homes>h3{
        font-size: 2.7vw;
    }
    .box-data-body-personalPage-homes>h4{
        margin-top: .5vw;
        font-size: 1.8vw;
        margin-bottom: 1vw;
    }
    .box-data-body-personalPage-homes>button{
        width: 50%;
        height: 4.5vw;
        font-size: 1.8vw;
    }
    .backgroun-image-personalPage-homes{
        position: absolute;
        left: 24vw;
        bottom: 24vw;
        width: 40%;
        height: auto;
        opacity: .1;
    }
    .box-footer-personalPage-homes{
        display: none;
    }
}
@media screen and (max-width: 30em) and (orientation: portrait) {
    .isologo-vertical-nav-personalPage-homes{
        margin-top: 3vw;
        margin-left: 4vw ;
        width: 100%;
    }
    .box-ancords-horizontal-nav-personalPage-homes-less-601px{
        right: 31vw;
        margin-top: 8vw;
    }
    .box-phone-horizontal-nav-personalPage-homes{
        width: 8%;
        height: 3%;
        right: 15vw;
    }
    .box-phone-horizontal-nav-personalPage-homes>a:first-child{
        width: 80%;
    }
}