
.overlay-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
    /* background-color: white; */
    background-color: #F0F0F0;
    width: 90%;
    height: 90vh;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    align-self: center;
    border: solid;
}
.modal-header>h1{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 100px;
    margin-top: 7px;
    margin-bottom:7px;
    letter-spacing: 15px;
}
.lettering-style-L-P::first-letter{
    color: #7136F4;
}
.lettering-style-L-P::last-letter{
    color: #7136F4;
}

.close-button{
    background-color: #F62F55;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: #F0F0F0;
    font-weight: 600;
}
