*,
*::after,
*::before{
    box-sizing: border-box;
}
.order-all-page-profile-detail{
    border: solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header-order-profile-detail>nav{
    border-bottom:solid thin rgba(171, 171, 171, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
}
.header-order-profile-detail>nav>div{
    /* border:solid thin rgb(19, 139, 65); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-right: 150px;
}
.header-order-profile-detail>nav>img{
    width: 280px;
    margin-left: 150px;
}
.header-order-profile-detail>nav input{
    width: 370px;
    height: 50px;
    border:solid thin rgba(171, 171, 171, 0.2);
}
.header-order-profile-detail>nav a{
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.header-order-profile-detail>nav>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-order-profile-detail>nav>div>img{
    width: 50px;
    border-radius: 50%;
}
.header-order-profile-detail h4{
   margin-left: 15px;
   background-color: #e2f2fa;
   padding: 4px;
}
.main-order-profile-detail{
    border:solid salmon;
    display: flex;
    width: 85%;
    height: 700px;
    align-self: center;
    margin-top: 50px;
}
.order-left-section-profile-detail{
    border: solid thin firebrick;
    width: 30%;
    height: 700px;
}
.order-left-section-profile-detail>div{
    border-bottom:solid thin rgba(171, 171, 171, 0.2);
    display: flex;
    flex-direction: column;
    width: 80%;
}
.order-left-section-profile-detail>div>img{
    width: 320px;
}
.order-left-section-profile-detail>div>small{
    margin-top: 20px;
    align-self: flex-start;
}
.order-left-section-profile-detail p{
    margin: 0;
    align-self: flex-start;
}
.box-titel-and-button-main-profile-detail{
    display: flex;
    align-items: center;
}
.box-titel-and-button-main-profile-detail>button{
    background-color: #e2f2fa;
    border: none;
    margin-left: 20px;
    width: 80px;
    height: 20px;
}
.box-titel-and-button-main-profile-detail>h4{
    width:170px;
    text-align: start;
    font-size: 20px;
    margin-top: 10px;
}
.order-left-section-profile-detail h5{
    margin: 0;
    margin-top: 5px;
    text-align: start;

}