*,
*::before,
*::after{
    box-sizing: border-box
}
.box-macro-news-card{
    display: flex;
    align-items: center;
    background-color:#f2f3f5;
    width: 45vw;
    height: 26.2vw;
    border-radius: 1vw;
    box-shadow: .2vw .3vw .4vw rgba(0, 0, 0, 0.3);
}
.image-news-card {
    background-image:url(../../../assets/Cards/News/imageNewsC1.jpg) ;
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position: left;
    width: 43%;
    height: 100%;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.box-text-news-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 75%;
}
.internal-box-text-news-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 100%;
}
.section-text-news-card{
    align-self: start;
    margin: 0;
    color: #828282;
    font-weight: 600
}
.titel-text-news-card{
    color: #575757;
    font-weight: 600;
    font-size: .9vw;
}
.decription-text-news-card,
.decription2-text-news-card{
    font-size: .65vw;
    line-height: 1.1vw;
    text-align: start;
}
.decription-text-news-card{
    margin: 0;
}
.decription2-text-news-card{
    margin-bottom: 0;
}
.box-autor-text-news-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-top: 1.4vw;
}
.box-image-and-autor-news-card{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}
.image-autor-news-card{
    width: 32%;
    height: auto;
    border-radius: 50%;
}
.name-autor-news-card, 
.profesion-autor-news-card{
    margin: 0;
    font-size: .6vw;
    text-align: start;
    padding-left: .7vw;
    color: #575757;
}
.button-next-news-card{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    background-color:#f2f3f5;
    border: none;
    box-shadow: .1vw .1vw .1vw .05vw rgba(0, 0, 0, 0.2);
    font-size: 1vw;
    font-weight: 600;
    color: #a7a7a7;
    cursor: pointer;
}
@media screen and (max-width: 64em) and (orientation: portrait) {
    .box-macro-news-card{
        width: 50vw;
        height: 30vw;
    }
    .image-news-card {
        width: 44.5%;
    }
    .box-text-news-card{
        height: 80%;
    }
    .internal-box-text-news-card{
        width: 85%;
    }
    .titel-text-news-card{
        font-size: 1.1vw;
    }
    .decription-text-news-card,
    .decription2-text-news-card{
        font-size: .8vw;
        line-height: 1.2vw;
    }
    .name-autor-news-card, 
    .profesion-autor-news-card{
        font-size: .8vw;
    }
}
@media screen and (max-width: 37.5em) and (orientation: portrait) {
    .box-macro-news-card{
        width: 50vw;
        height: 65vw;
        flex-direction: column;
    }
    .image-news-card {
        width: 100%;
        height: 35%;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 0;
        background-position: top;
    }
    .box-text-news-card{
        height: 65%;
        width: 100%;
    }
    .internal-box-text-news-card{
        width: 85%;
        height: 85%;
    }
    .section-text-news-card{
       font-size: 1.3vw;
    }
    .titel-text-news-card{
        font-size: 2.5vw;
    }
    .decription-text-news-card,
    .decription2-text-news-card{
        font-size: 1.3vw;
        line-height: 2vw;
    }
    .box-autor-text-news-card{
        height: 16%;
        margin-top: 2.5vw;
    }
    .name-autor-news-card, 
    .profesion-autor-news-card{
        font-size: 1.2vw;
    }
    .button-next-news-card{
        height: 5.5vw;
        width: 5.5vw;
        font-size: 2.5vw;
    }
}
