*,
*::after,
*::before{
    box-sizing: border-box;
}
/* LANDINGPAGESNAME */
.order-title-lp{
    width: 60%;
}
/* HOMESNAME */
.order-title-h{
    width: 34%;
}
/* DETAILNAME */
.order-title-d{
    width: 40%;
}
/* FORMSNAME */
.order-title-f{
    width: 34%;
}
/* CARDSNAME */
.order-title-c{
    width: 34%;
}
/* ALL NAMES */
.landing-pages-main-name-order,
.homes-main-name-order,
.details-main-name-order,
.forms-main-name-order,
.cards-main-name-order{
    width: 100%;
    height: clamp(63px, 7.5vw, 9rem);
    display: flex;
    justify-content:center ;
    align-self: center;
    font-family: 'Allerta Stencil', sans-serif;
}
.landing-pages-main-name-order>div:first-child,
.landing-pages-main-name-order>div:last-child,
.homes-main-name-order>div:first-child,
.homes-main-name-order>div:last-child,
.details-main-name-order>div:first-child,
.details-main-name-order>div:last-child,
.forms-main-name-order>div:first-child,
.forms-main-name-order>div:last-child,
.cards-main-name-order>div:first-child,
.cards-main-name-order>div:last-child{
    position: absolute;
    display: flex; 
}
.landing-pages-main-name-order>div:first-child>h2,
.homes-main-name-order>div:first-child>h2,
.details-main-name-order>div:first-child>h2,
.forms-main-name-order>div:first-child>h2,
.cards-main-name-order>div:first-child>h2{
    margin: 0;
    margin-left: 1.2vw;
    font-size: clamp(3em, 5.3vw, 8em);    
}
.landing-pages-main-name-order>div:last-child h2,
.homes-main-name-order>div:last-child h2,
.details-main-name-order>div:last-child h2,
.forms-main-name-order>div:last-child h2,
.cards-main-name-order>div:last-child h2{
    margin: 0;
    margin-left: 1.2vw;
    background-image: url('../../../assets/myHome/Create/colorBackgroundLetters.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-clip: text;
    color: transparent;
    font-size: clamp(3em, 5.3vw, 8em);
}
.landing-pages-main-name-order>div:last-child h2:first-child,
.homes-main-name-order>div:last-child h2:first-child,
.details-main-name-order>div:last-child h2:first-child,
.forms-main-name-order>div:last-child h2:first-child,
.cards-main-name-order>div:last-child h2:first-child{
    margin-left: 0px;
}
.landing-pages-main-name-order>div:last-child h2:nth-child(8){
    margin-left: 3vw;
}
.landing-pages-main-name-order>div:first-child>h2:first-child,
.homes-main-name-order>div:first-child>h2:first-child,
.details-main-name-order>div:first-child>h2:first-child,
.forms-main-name-order>div:first-child>h2:first-child,
.cards-main-name-order>div:first-child>h2:first-child{
    color: var(--purple-color);
    text-shadow: var(--name-text-shadow) var(--purple-shadow);
    margin-left: .2vw;
}
.details-main-name-order>div:first-child>h2:last-child{
    color: var(--purple-color);
    text-shadow: var(--name-text-shadow) var(--purple-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(2),
.homes-main-name-order>div:first-child>h2:nth-child(2),
.details-main-name-order>div:first-child>h2:nth-child(2),
.forms-main-name-order>div:first-child>h2:nth-child(2),
.cards-main-name-order>div:first-child>h2:nth-child(2){
    color: var(--fuchsia-color);
    text-shadow: var(--name-text-shadow) var(--fuchsia-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(3),
.landing-pages-main-name-order>div:first-child>h2:nth-child(9),
.homes-main-name-order>div:first-child>h2:nth-child(3),
.details-main-name-order>div:first-child>h2:nth-child(3),
.forms-main-name-order>div:first-child>h2:nth-child(3),
.cards-main-name-order>div:first-child>h2:nth-child(3){
    color: var(--blue-color);
    text-shadow: var(--name-text-shadow) var(--blue-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(4),
.landing-pages-main-name-order>div:first-child>h2:nth-child(10),
.homes-main-name-order>div:first-child>h2:nth-child(4),
.details-main-name-order>div:first-child>h2:nth-child(4),
.forms-main-name-order>div:first-child>h2:nth-child(4),
.cards-main-name-order>div:first-child>h2:nth-child(4){
    color: var(--green-color);
    text-shadow: var(--name-text-shadow) var(--green-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(5),
.landing-pages-main-name-order>div:first-child>h2:nth-child(11),
.homes-main-name-order>div:first-child>h2:nth-child(5),
.details-main-name-order>div:first-child>h2:nth-child(5),
.forms-main-name-order>div:first-child>h2:last-child,
.cards-main-name-order>div:first-child>h2:last-child{
    color: var(--yellow-color);
    text-shadow: var(--name-text-shadow) var(--yellow-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(6),
.landing-pages-main-name-order>div:first-child>h2:last-child,
.details-main-name-order>div:first-child>h2:nth-child(6){
    color: var(--orange-color);
    text-shadow: var(--name-text-shadow) var(--orange-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(7){
    color: var(--purple-color);
    text-shadow: var(--name-text-shadow) var(--purple-shadow);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(8){
    margin-left: 3vw;
    color: var(--fuchsia-color);
    text-shadow: var(--name-text-shadow) var(--fuchsia-shadow)
}