*,
*::after,
*::before {
    box-sizing: border-box
}

/* CARD E-COMMERCE  */
.background-Ecommerce-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f7f7f7;
    width: 340px;
    height: 400px;
}
.background-Ecommerce-card > img{
    width: 90%
}
.background-Ecommerce-card >section{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 340px;
    height: 70px
}
.background-Ecommerce-card p{
    margin: 0;
    align-self: start;
    padding-left: 10px;
}

/* CARD MARKETPLACE */
/* VerticalProductCard */
.background-vertical-product-card-Mp-homes{
    /* border: solid thin; */
    display: flex;
    align-items: center;
    width: 90%;
    height: 130px;
}
.background-vertical-product-card-Mp-homes > img{
    width: 100px;
    height: 100px;
}
.background-vertical-product-card-Mp-homes p{
    font-size: 12px;
    text-align: start;
    margin: 0;
}
.box-price-vertical-product-card-Mp-homes{
    /* border: solid; */
    display: flex;
    align-items: center;
    height: 40px;
}
.box-price-vertical-product-card-Mp-homes > h5{
    color:  #d15f00;
    font-size: 15px;
    margin-right: 5px;
}