*,
*::after,
*::before{
    box-sizing: border-box;
}
.order-all-page-product-two-detail{
    border: solid;
    width: 100%;
    height: 100vh;
    background-color: #223047;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card-product-two-detail{
    display: flex;
}
.order-card-left-section-product-two-detail{
    background-color: white;
    width: 650px;
    height: 800px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
}
.order-card-left-section-product-two-detail>img{
    width: 130px;
    margin-left: 150px;
    margin-top: 20px;
}
.order-card-left-section-product-two-detail>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.order-card-left-section-product-two-detail>div>img{
    width: 45%;
}
.order-card-left-section-product-two-detail>div>section{
    /* border: solid; */
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.order-card-left-section-product-two-detail>div>section>img{
    width: 120px;
    border-radius: 20px;
}


.order-card-right-section-product-two-detail{
    background-color:#f0f2fa;
    width: 850px;
    height: 800px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
}
.order-card-right-section-product-two-detail>nav{
    /* border: solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.card-right-section-anchors-order-nav-product-two-detail{
    /* border: solid thin hotpink; */
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    margin-right: 20px;   
}
.card-right-section-anchors-order-nav-product-two-detail>a{
    color: rgb(88, 88, 88);
    text-decoration: none;   
}
.card-right-section-images-order-nav-product-two-detail{
    /* border:solid thin #223047; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.card-right-section-images-order-nav-product-two-detail>img{
    width: 40px;
    margin-left: 20px;
}
.card-right-section-description-order-nav-product-two-detail{
    /* border: solid; */
    width: 73%;
    height: 550px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: start;
}
.card-right-section-description-order-nav-product-two-detail>small{
    color: rgb(88, 88, 88);
}
.card-right-section-description-order-nav-product-two-detail>h1{
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.order-score-box-product-two-detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.order-score-box-product-two-detail>img{
    width: 25px;
    margin-right: 10px;
}
.order-score-box-product-two-detail>p{
    font-size: 14px;
    color: rgb(88, 88, 88);
    margin-left: 10px;
    font-weight: 500;
}
.card-right-section-description-order-nav-product-two-detail>p{
    /* border: solid; */
    width: 65%;
    color: rgb(88, 88, 88);
    font-size: 17px;
    line-height: 28px;
    font-weight: 500;
}
.box-order-quantity-product-two-detail{
    display: flex;
    border-bottom: solid thin rgb(88, 88, 88);
    border-top: solid thin rgb(88, 88, 88);
    width: 50%;
    height: 70px;

}
.box-order-quantity-product-two-detail>div{
    border-left: solid thin rgb(88, 88, 88); 
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-order-quantity-product-two-detail h4,
.box-order-quantity-product-two-detail small,
.box-order-quantity-product-two-detail p{
   margin: 0;
}
.order-box-counter-product-two-detail{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.order-box-counter-product-two-detail>div{
    margin-left: 10px;
    margin-right: 10px;
}
.plus-button-product-two-detail,
.less-button-product-two-detail{
    border: solid thin rgb(88, 88, 88);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
}
.plus-button-product-two-detail{
    background-color: #060b16;
    color: white;
}
.add-button-product-two-detail,
.buy-button-product-two-detail{
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    font-weight: 600;
}
.buy-button-product-two-detail{
    background-color: #060b16;
    color: white;
}



