*,
*::before,
*::after{
    box-sizing: border-box
}
.order-of-all-pencils{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.order-a-purple-pencil,
.order-a-hotpink-pencil,
.order-a-blue-pencil,
.order-a-green-pencil,
.order-a-yellow-pencil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.order-a-purple-pencil>div:first-child,
.order-a-hotpink-pencil>div:first-child,
.order-a-blue-pencil>div:first-child,
.order-a-green-pencil>div:first-child,
.order-a-yellow-pencil>div:first-child{
    width: 0;
    height: 0;
    border-right: .5vw solid transparent;
    border-top: .5vw solid transparent;
    border-left: .5vw solid transparent;
}
.order-a-purple-pencil>div:last-child,
.order-a-hotpink-pencil>div:last-child,
.order-a-blue-pencil>div:last-child,
.order-a-green-pencil>div:last-child,
.order-a-yellow-pencil>div:last-child{
    width: 75%;
    height: 3.5vh;
}
.order-a-purple-pencil>div:first-child{
    border-bottom: .7vw solid var(--purple-color);
}
.order-a-purple-pencil>div:last-child{
    background-color: var(--light-purple-color);
}
.order-a-hotpink-pencil>div:first-child{
    border-bottom: .7vw solid var(--fuchsia-color);
}
.order-a-hotpink-pencil>div:last-child{
    background-color: var( --light-fuchsia-color);
}
.order-a-blue-pencil>div:first-child{
    border-bottom: .7vw solid var(--dark-blue-color);
}
.order-a-blue-pencil>div:last-child{
    background-color: var(--blue-color);
}
.order-a-green-pencil>div:first-child{
    border-bottom: .7vw solid  var(--green-color);
}
.order-a-green-pencil>div:last-child{
    background-color: var(--light-green-color);
}
.order-a-yellow-pencil>div:first-child{
    border-bottom: .7vw solid var(--dark-yellow-color)
}
.order-a-yellow-pencil>div:last-child{
    background-color: var(--yellow-color);
}