*,
*::after,
*::before{
    box-sizing: border-box
}
.all-page-order-product-one-detail{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header-order-product-one-detail{
    width: 100%;
    height: 10%;
}
.header-order-product-one-detail>nav{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-white-rectangle-nav-product-one-detail{
    border-right: solid;
    border-bottom: solid;
    width: 2.2%;
    height: 100%;
}
.brand-white-rectangle-nav-product-one-detail{
    border-right: solid;
    border-bottom: solid;
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-white-rectangle-nav-product-one-detail>h2{
  letter-spacing: .1vw;
  font-size: 1.7vw;
}
.yellow-rectangle-nav-product-one-detail{
    border-right: solid;
    border-bottom: solid;
    width: 3%;
    height: 100%;
    background-color: #ffd300;
}
.order-main-white-rectangle-nav-product-one-detail{
    border-bottom: solid;
    width: 68.7%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-main-white-rectangle-nav-product-one-detail>section{
   width: 45%;
   display: flex;
   justify-content: space-evenly;
}
.order-main-white-rectangle-nav-product-one-detail a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: .7vw;
}
.order-main-white-rectangle-nav-product-one-detail a:hover{
    text-decoration: underline;
}
.order-main-white-rectangle-nav-product-one-detail a>img{
    width: 35%;
    height: auto;
    align-self: center;
    position: relative;
    top: .1vw;
}
.order-main-white-rectangle-nav-product-one-detail>div{
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-right: 2vw;
}
.order-main-white-rectangle-nav-product-one-detail button{
    background-image: url('../../../assets/Details/ProductOne/magnifyingGlassBlack.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 45%;
    height: 1.3vw;
    cursor: pointer;
}
.input-on-order-and-style{
    position: relative;
    bottom: 3.1vw;
    left: 14.3vw;
    width: 15vw;
    height: 2vw;
    border-radius: .4vw;
}
.red-rectangle-nav-product-one-detail{
    border-left: solid;
    border-bottom: solid;
    background-color: #e1191c;
    width: 3.2%;
    height: 100%;
}
.main-order-product-one-detail{
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: row;
}
.left-vertical-rectangle-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 2.2%;
    height: 100%;
}
.black-left-vertical-rectangle-main-product-one-detail{
    background-color: black;
    height: 30%;
    width:100%;
}
.left-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 26%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}
.left-rectangle-order-product-image-main-product-one-detail>div:first-child{
    width: 100%;
    height: 60%;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.left-rectangle-order-product-image-main-product-one-detail>div:last-child input{
    width: .5vw;
    height: .5vw;
}
.left-rectangle-order-product-image-main-product-one-detail img{
    width: 70%;
    height: auto;   
}
.previous-button-product-image-main-product-one-detail,
.next-button-product-image-main-product-one-detail{
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-position:center;
    width: 1.3vw;
    height: 1.3vw;
    cursor: pointer;
}
.previous-button-product-image-main-product-one-detail{
    background-image: url('../../../assets/Details/ProductOne/imagePreviousBlack.png');
}
.next-button-product-image-main-product-one-detail{
    background-image: url('../../../assets/Details/ProductOne/imageNextBlack.png');
}
.middle-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top-gray-rectangle-middle-rectangle-main-product-one-detail{
    background-color: #cfcfcf;
    border-bottom: solid;
    height: 8%;
    width: 100%;
}
.section-one-middle-rectangle-main-clothes-D,
.section-two-and-three-middle-rectangle-main-clothes-D{
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.section-one-middle-rectangle-main-clothes-D h4{
    font-size: .8vw;
    text-align: start;
    margin-bottom: 0;
}
.section-one-middle-rectangle-main-clothes-D>p{
    margin-top: 0;
    margin-bottom:2vw;
    text-align: start;
    padding-left: 1vw;
    font-size: .8vw;
}
.section-two-and-three-middle-rectangle-main-clothes-D h4{
    text-align: start;
    font-size: .8vw;
}
.middle-rectangle-order-product-image-main-product-one-detail>section>div{
    position: relative;
    bottom: 1.6vw;
    width: 85%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.middle-rectangle-order-product-image-main-product-one-detail button{
   border: solid thin;
   background-color: transparent;
   width: 1.3vw;
   height: 1.3vw;
   font-size: .8vw;
   font-weight: 600;
   cursor: pointer;
}
.middle-rectangle-order-product-image-main-product-one-detail button:active,
.middle-rectangle-order-product-image-main-product-one-detail button:focus{
    background-color: black;
    color: white;
} 
.right-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width:51.8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-rectangle-order-product-image-main-product-one-detail>img{
    width: 80%;
    height: auto;
    align-self: center;
}
.right-rectangle-order-product-image-main-product-one-detail>h2{
    width: 75%;
    align-self: flex-start;
    font-size: 2vw;
    margin-bottom: .8vw;
    margin-top: 0;
}
.right-rectangle-order-product-image-main-product-one-detail>small{
    margin: 0;
    width: 60%;
    align-self: flex-start;
    margin-bottom: 1.5vw;
    padding-left: .5vw;
    font-size: .6vw;
    text-align: start;
    margin-left: 2.8vw;
    font-weight: 600;
}
.right-rectangle-order-product-image-main-product-one-detail>h3{
    font-size: 2.1vw;
    align-self: flex-start;
    width: 45%;
    margin-top: 2vw;
}
.right-right-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-bottom: solid;
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.right-right-rectangle-order-product-image-main-product-one-detail>button{
    background-image: url('../../../assets/Details/ProductOne/imageNextBlack.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-position:center;
    width: 100%;
    height: 5%;
    cursor: pointer;
}
.footer-order-product-one-detail{
    width: 100%;
    height: 8%;
    display: flex;
}
.left-white-rectangle-footer-product-one-detail{
    border-right: solid;
    width: 1.45vw;
    height: 100%;
}
.blue-rectangle-footer-product-one-detail{
    border-right: solid;
    background-color: #006bb6;
    width: 26.6%;
}
.text-rectangle-footer-product-one-detail{
    border-right: solid;
    width: 17.5%;
    display: flex;
    align-items: center;
    justify-content: center
}
.text-rectangle-footer-product-one-detail>p{
   font-weight: 700;
   font-size: .8vw;
}
.yellow-rectangle-footer-product-one-detail{
    border-right: solid;
    background-color: #ffd300;
    width: 39.4%;
}
.right-white-rectangle-footer-product-one-detail{
    border-right: solid;
    width: 13.8%;

}
.right-white-no-line-rectangle-footer-product-one-detail{
    color: white;
    width: 3%;
}
