*,
*::after,
*::before{
    box-sizing: border-box;
}

.all-page-order-product-one-detail{
   background-color: white;
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
}
.header-order-product-one-detail{
    width: 100%;
    height: 10%;
}
.header-order-product-one-detail>nav{
    display: flex;
}
.left-white-rectangle-nav-product-one-detail{
    border-right: solid;
    border-bottom: solid;
    width: 43px;
    height: 93px;
}
.brand-white-rectangle-nav-product-one-detail{
    border-right: solid;
    border-bottom: solid;
    width: 397px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-white-rectangle-nav-product-one-detail>h2{
  letter-spacing: 1px;
  font-size: 33px;
}
.yellow-rectangle-nav-product-one-detail{
    border-right: solid;
    border-bottom: solid;
    width: 78px;
    height: 89px;
    background-color: #ffd300;
}
.order-main-white-rectangle-nav-product-one-detail{
    border-bottom: solid;
    width: 1430px;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-main-white-rectangle-nav-product-one-detail>section{
   width: 350px;
   display: flex;
   justify-content: space-evenly;
}
.order-main-white-rectangle-nav-product-one-detail a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 15px;
}
.order-main-white-rectangle-nav-product-one-detail a:hover{
    text-decoration: underline;
}
.order-main-white-rectangle-nav-product-one-detail a>img{
    width: 35%;
    align-self: center;
    position: relative;
    top: 2px;
}
.order-main-white-rectangle-nav-product-one-detail>div{
    width: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-right: 20px;
}
.order-main-white-rectangle-nav-product-one-detail button{
    background-image: url('../../../assets/Details/ProductOne/magnifyingGlassBlack.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 47px;
    height: 23px;
    cursor: pointer;
}
.input-on-order-and-style{
    position: relative;
    bottom: 70px;
    left: 430px;
    width: 250px;
    height: 40px;
    border-radius: 8px;
}
.red-rectangle-nav-product-one-detail{
    border-left: solid;
    border-bottom: solid;
    background-color: #e1191c;
    width: 65px;
    height: 89px;
}
.main-order-product-one-detail{
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: row;
}
.left-vertical-rectangle-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 42px;
}
.black-left-vertical-rectangle-main-product-one-detail{
    background-color: black;
    height: 200px;
}
.left-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 450px;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.left-rectangle-order-product-image-main-product-one-detail>img{
    width: 60%;   
}
.previous-button-product-image-main-product-one-detail{
    background-image: url('../../../assets/Details/ProductOne/imagePreviousBlack.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-position:center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.next-button-product-image-main-product-one-detail{
    background-image: url('../../../assets/Details/ProductOne/imageNextBlack.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-position:center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.middle-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 313px;
    display: flex;
    flex-direction: column;
}
.top-grey-rectangle-middle-rectangle-main-product-one-detail{
    background-color: #cfcfcf;
    border-bottom: solid;
    height: 70px;
}
.section-one-middle-rectangle-main-clothes-D,
.section-two-and-three-middle-rectangle-main-clothes-D{
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section-one-middle-rectangle-main-clothes-D>p{
    margin-top: 0;
    margin-bottom:10px;
    text-align: start;
    margin-left: 25px;
}
.section-one-middle-rectangle-main-clothes-D h4{
    text-align: start;
    margin-bottom: 5px;
}
.section-two-and-three-middle-rectangle-main-clothes-D h4{
    text-align: start;
}
.middle-rectangle-order-product-image-main-product-one-detail>section>div{
    position: relative;
    bottom: 30px;
    width: 85%;
    align-self: center;
    display: flex;
}
.middle-rectangle-order-product-image-main-product-one-detail button{
   border: solid thin;
   background-color: transparent;
   width: 35px;
   height: 33px;
   margin-right: 10px;
   font-size: 17px;
   font-weight: 600;
   cursor: pointer;
}
.middle-rectangle-order-product-image-main-product-one-detail button:active,
.middle-rectangle-order-product-image-main-product-one-detail button:focus{
    background-color: black;
    color: white;
} 
.right-rectangle-order-product-image-main-product-one-detail{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    width: 1045px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-rectangle-order-product-image-main-product-one-detail>img{
    width: 70%;
    align-self: center;
}
.right-rectangle-order-product-image-main-product-one-detail>h1{
    width: 75%;
    align-self: flex-start;
    font-size: 50px;
    margin-bottom: 8px;
    margin-top: 0;
}
.right-rectangle-order-product-image-main-product-one-detail>small{
    margin: 0;
    width: 60%;
    align-self: flex-start;
    margin-bottom: 30px;
    padding-left: 22px;
}
.right-rectangle-order-product-image-main-product-one-detail>h2{
    font-size: 50px;
    align-self: flex-start;
    width: 45%;
    margin-top: 15px;
}
.right-right-rectangle-order-product-image-main-product-one-detail{
    border-bottom: solid;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.right-rectangle-order-product-image-main-product-one-detail>small{
    text-align: start;
    margin-left: 55px;
    font-weight: 600;
}
.right-right-rectangle-order-product-image-main-product-one-detail>button{
    background-image: url('../../../assets/Details/ProductOne/imageNextBlack.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-position:center;
    width: 47px;
    height: 45px;
    cursor: pointer;
}
.footer-order-product-one-detail{
    width: 100%;
    height: 8%;
    display: flex;
}
.left-white-rectangle-footer-product-one-detail{
    border-right: solid;
    width: 40px;
    height: 69px;
}
.blue-rectangle-footer-product-one-detail{
    border-right: solid;
    background-color: #006bb6;
    width: 434px;
}
.text-rectangle-footer-product-one-detail{
    border-right: solid;
    width: 301px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-rectangle-footer-product-one-detail>p{
   font-weight: 700;
}
.yellow-rectangle-footer-product-one-detail{
    border-right: solid;
    background-color: #ffd300;
    width: 799px;
}
.right-white-rectangle-footer-product-one-detail{
    border-right: solid;
    width: 208px;
}
.right-white-no-line-rectangle-footer-product-one-detail{
    color: white;
    width: 57px;
}
