*,
*::after,
*::before{
    box-sizing: border-box
}
.box-all-login-form{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/Forms/Login/backgroundImageLogin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.box-all-login-form >article{
    width: 30%;
    height: 70%;
    position: relative;
    left: 11vw;
    display: flex;
    flex-direction: column;
}
.box-all-login-form h2>font,
.box-all-login-form h2{
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
}
.box-all-login-form h2{
   color: var(--gray-blue-text-login);
   line-height: 4.5vw;
}
.box-all-login-form h2::first-letter{
    font-weight: 600;
    color: var(--blue-text-login);
}
.order-caption-login-form{
    width: 70%;
    align-self: center;
    color: var(--gray-blue-text-login);
    font-weight: 500;
    font-size: .7vw;
}
.box-inputs-login-form{
    width: 100%;
    height: 50%;
    align-self: center;
    display: flex;
    align-items: baseline;
}
.box-inputs-login-form>input{
    width: 95%;
    height: 62%;
    border-radius: 1vw;
    border: none;
    box-shadow: .1vw .1vw .4vw .1vw rgba(0, 0, 0, 0.2);
    padding-left: 2vw;
}
.box-inputs-login-form>img{
    position: relative;
    left: 1.8vw;
    top: .4vw;
    width: 7%;
    height: auto;
}
.button-password-off-login-form,
.button-password-ok-login-form{
    position: relative;
    right:1.8vw;
    top: .4vw;
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width:1.4vw;
    height: 1.4vw;
}
.button-password-off-login-form{
    background-image: url('../../../assets/Forms/Login/iconeye.png');
    cursor: pointer
}
.button-password-ok-login-form{
    background-image: url('../../../assets/Forms/Login/iconTick.png');
}
.box-inputs-caption-login-form{
    width: 80%;
    position: relative;
    bottom: .9vw;
    left: 2vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-inputs-caption-login-form>div{
    display: flex;
    align-items: center;
}
.box-inputs-caption-login-form>div div{
   border: solid thin;
   width: .8vw;
   height: .8vw;
   margin-right:.3vw;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box-inputs-caption-login-form>div small{
    font-size: .6vw;
}
.box-inputs-caption-login-form>div button{
    background-color: transparent;
    font-size: .4vw;
    border: solid thin;
    border-radius: 50%;
    width: .8vw;
    height: .8vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box-inputs-caption-login-form>div button:hover,
.box-inputs-caption-login-form>div button:focus,
.box-inputs-caption-login-form>div button:active{
    background-color: var(--green-button-login-tick);
    color:white;
    border: none;
}
.box-inputs-caption-login-form>small{
    font-size:.6vw;
}
.style-button-login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-text-login);
    width: 86%;
    height: 2vw;
    align-self: center;
    margin-top: .3vw;
    margin-left: 1.3vw;
    border: none;
    border-radius: 1vw;
    box-shadow: .1vw .1vw .4vw .1vw rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}
.style-button-login-form>img{
    width: 9%;
    height: auto;
}
.style-caption-button-login-form {
    color: var(--gray-blue-text-login);
    font-size: 1vw;
    font-weight: 500;
    width: 75%;
    align-self: center;
    margin-top: 4vw;
    padding-left: 1vw;
}
.style-button-facebook-login-form,
.style-button-google-login-form,
.style-button-twitter-login-form{
    width: 22%;
    border: none;
    height: 2.1vw;
    border-radius: 1vw;
    cursor: pointer;
}
.style-button-facebook-login-form{
    background-color: var(--blue-Facebook);
}
.style-button-facebook-login-form>img,
.style-button-google-login-form>img,
.style-button-twitter-login-form>img{
    width: 30px;
    cursor: pointer;
}
.style-button-google-login-form{
    background-color:var(--red-Google-plus);
    margin-left: .8vw;
    margin-right: .8vw;
}
.style-button-twitter-login-form{
    background-color: var(--light-blue-Twitter);
}
.order-copyright-login-form{
    margin-top: 1vw;
    font-size: .6vw;
    width: 100%;
    color: var(--gray-blue-text-login);
    align-self: center;
    font-weight: 450;
}
@media screen and (max-width: 64em) and (orientation: portrait){
    .box-all-login-form{
        width: 70%;
        height: 95%;
        background-image: none;
        background-color: var(--gray-background-login);
        justify-content: center;
    }
    .box-all-login-form >article{
        width: 80%;
        height: 85%;
        position: none;
        left: 0;
        display: flex;
        flex-direction: column;
        /* border: solid thin; */
    }
    .box-all-login-form h2>font,
    .box-all-login-form h2{
        font-size: 7.5vw;
    }
    .box-all-login-form h2{
        line-height: 9vw;
    }
    .order-caption-login-form{
        font-size: 1.5vw;
    }
    .box-inputs-login-form{
        height: 55%;
        justify-content: center;
    }
    .box-inputs-login-form>input{
        width: 85%;
        border-radius: 2vw;
        padding-left: 4vw;
    }
    .box-inputs-login-form>img{
        left: 3.2vw;
        top: .5vw;
        width: 5%;
    }
    .button-password-off-login-form,
    .button-password-ok-login-form{
        position: relative;
        right:2.5vw;
        top: .5vw;
        width: 2vw;
        height: 2vw;
    }
    .box-inputs-caption-login-form{
        bottom: 1.5vw;
        left: 5vw;
    }
    .box-inputs-caption-login-form>div div{
       border: solid thin;
       width: 1.4vw;
       height: 1.4vw;
    }
    .box-inputs-caption-login-form>div small,
    .box-inputs-caption-login-form>small{
        font-size: 1vw;
    }
    .box-inputs-caption-login-form>div button{
        font-size: .8vw;
        width: 1.4vw;
        height: 1.4vw;
    }
    .style-button-login-form{
        width: 80%;
        height: 4vw;
        margin-top: .5vw;
        margin-left: 4.8vw;
        border-radius: 2vw;
        font-size: 2vw;
    }
    .style-caption-button-login-form {
        font-size: 1.5vw;
        padding-left: 2.5vw;
        margin-top: 8.5vw;
    }
    .style-button-facebook-login-form,
    .style-button-google-login-form,
    .style-button-twitter-login-form{
        width: 20%;
        height: 3.5vw;
        border-radius: 2vw;
    }
    .order-copyright-login-form{
        margin-top: 1.6vw;
        font-size: 1vw;
    }
}
