*,
*::after,
*::before{
    box-sizing: border-box;
}
.box-all-login-form{
    height: 91vh;
    width: 100%;
    background-image: url('../../../assets/Forms/Login/backgroundImageLogin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-all-login-form >article{
    width: 27%;
    height: 63vh;
    position: relative;
    top:110px;
    left: 280px;
    display: flex;
    flex-direction: column;
}
.box-all-login-form h1{
   font-size: 60px;
   font-weight: 800;
   color: #4f5965;
   margin: 0;
   line-height: 90px;
}
.box-all-login-form h1::first-letter{
    font-weight: 600;
    color: #3294f5;
}
.order-caption-login-form{
    width: 70%;
    align-self: center;
    color: #4f5965;
    font-weight: 500;
    font-size: 14px;
}
.box-inputs-login-form{
    align-self: center;
    display: flex;
    align-items: baseline;
}
.box-inputs-login-form >input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
    padding-left: 50px;
}
.box-inputs-login-form >img{
    position: relative;
    left: 40px;
    top: 10px;
    width: 30px;
    height: 30px;
}
.button-password-off-login-form{
    position: relative;
    right: 35px;
    top: 10px;
    background-image: url('../../../assets/Forms/Login/iconeye.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.button-password-ok-login-form{
    position: relative;
    right: 35px;
    top: 10px;
    background-image: url('../../../assets/Forms/Login/iconTick.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 30px;
}
.box-inputs-caption-login-form{
    /* border: solid thin green; */
    width: 80%;
    position: relative;
    bottom: 15px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-inputs-caption-login-form>div{
    /* border: solid thin rgb(133, 82, 10); */
    display: flex;
    align-items: center;
}
.box-inputs-caption-login-form>div div{
   border: solid thin;
   width: 15px;
   height: 15px;
   margin-right:5px ;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box-inputs-caption-login-form>div small{
    font-size: 12px;
 }
.box-inputs-caption-login-form>div p{
    font-size: 9px;
    position: relative;
}
.box-inputs-caption-login-form>small{
    /* border: solid thin rgb(133, 82, 10); */
    font-size: 12px;
}

.style-button-login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3596fc;
    width: 86%;
    height: 40px;
    align-self: center;
    margin-top: 8px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.style-button-login-form>img{
    width: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.style-caption-button-login-form {
    color: #4f5965;
    font-size: 18px;
    font-weight: 500;
    width: 75%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.style-button-facebook-login-form{
    background-color: #137eff;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.style-button-facebook-login-form>img,
.style-button-google-login-form>img,
.style-button-twitter-login-form>img{
    width: 30px;
    cursor: pointer;
}
.style-button-google-login-form{
    background-color: #f23c39;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.style-button-twitter-login-form{
    background-color: #1ee7ff;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.order-copyright-login-form{
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    color: #41474f;
    align-self: center;
    font-weight: 450;
}
