*,
*::after,
*::before{
    box-sizing: border-box;
}

/* LANDINGPAGESNAME */
.landing-pages-main-name-order{
    /* border: solid thin red; */
    width: 58%;
    height: 130px;
    display: flex;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 70px ;
}
.landing-pages-main-name-order>div:first-child{
    position: relative;
    display: flex;
    left: 0px;
    top: 2px;
}
.landing-pages-main-name-order>div:last-child{
    position: relative;
    right: 1083px;
    display: flex;
}
.landing-pages-main-name-order>div:last-child h2{
    margin: 0;
    margin-left: 20px;
    background-image: url('../../../assets/myHome/Create/colorBackgroundLetters.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-clip: text;
    color: transparent;
}
.landing-pages-main-name-order>div:last-child h2:nth-child(8){
    margin: 0;
    margin-left: 60px;
    background-image: url('../../../assets/myHome/Create/colorBackgroundLetters.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-clip: text;
    color: transparent;
}
.landing-pages-main-name-order>div:first-child>h2:first-child,
.landing-pages-main-name-order>div:first-child>h2:nth-child(7){
    margin: 0;
    margin-left: 20px;
    color: rgba(113, 54, 244);
    text-shadow: 2px 1px 2px rgba(113, 54, 244, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(2){
    margin: 0;
    margin-left: 20px;
    color: rgb(246, 47, 85);
    text-shadow: 2px 1px 2px rgba(246, 47, 85, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(3),
.landing-pages-main-name-order>div:first-child>h2:nth-child(9){
    margin: 0;
    margin-left: 20px;
    color: rgb(80, 88, 239);
    text-shadow: 2px 1px 2px rgba(80, 88, 239, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(4),
.landing-pages-main-name-order>div:first-child>h2:nth-child(10){
    margin: 0;
    margin-left: 20px;
    color: rgb(13, 221, 121);
    text-shadow: 2px 1px 2px rgba(13, 221, 121, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(5),
.landing-pages-main-name-order>div:first-child>h2:nth-child(11){
    margin: 0;
    margin-left: 20px;
    color: rgb(249, 222, 78);
    text-shadow: 2px 1px 2px rgba(249, 222, 78, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(6),
.landing-pages-main-name-order>div:first-child>h2:last-child{
    margin: 0;
    margin-left: 20px;
    color: rgb(242, 108, 78);
    text-shadow: 2px 1px 2px rgba(242, 108, 78, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(7){
    margin: 0;
    margin-left: 20px;
    color: rgba(113, 54, 244);
    text-shadow: 2px 1px 2px rgba(113, 54, 244, 0.5);
}
.landing-pages-main-name-order>div:first-child>h2:nth-child(8){
    margin: 0;
    margin-left: 60px;
    color: rgb(246, 47, 85);
    text-shadow: 2px 1px 2px rgba(246, 47, 85, 0.5);
}

/* LPBOARDCONTENT */
.order-all-board-content-LP{
    border: solid thin blue; 
    width: 77%;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 170px;
}
.original-pages-order-and-styles{
    /* border: solid thin hotpink; */
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wooden-sign-background{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wooden-sign-background>div{
    background-color: #444444;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.wooden-sign-background>h2{
    color: white;
    margin: 0;
    font-size: 40px;
    font-family: 'Abel', sans-serif;
}
.order-wooden-signs{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.original-page-images-order{
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.original-page-images-order>img{
    width: 300px;
    height: 172px;
}

.my-replicas-order-and-styles{
    border: solid thin orangered;
    width: 100%;
    height: 580px;
}
.pencils-size-LP{
    width: 100%;
}
.wooden-sign-background{
    margin-top: 10px;
    background-image: url('../../../assets/LandingPages/woodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 70px;
}

.order-wooden-signs{
    display: flex;
}
.order-wooden-signs>div{
    /* border: solid thin salmon ; */
    background-image: url('../../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 216px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.order-wooden-signs>div>div{
    background-color: #444444;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.order-wooden-signs>div>h3{
    /* border: solid thin white; */
    width: 160px;
    font-size: 22px;
    color: white;
    font-family: 'Abel', sans-serif;
}

.order-box-scotch-tape-main-Pages-Base{
    /* border:solid thin #444444; */
    width: 100%;
    height: 20px;
    position: relative;
    bottom: 175px;
    display: flex;
    justify-content: space-around;
}
.order-box-scotch-tape-main-Pages-Base>div{
    /* border:solid thin #444444; */
    width: 320px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-box-scotch-tape-main-Pages-Base>div>div{
   background-color: #F62F55;
    width: 40px;
    height: 15px;
}
.order-box-scotch-tape-main-Pages-Base>div>div:first-child{
    transform: rotate(-40deg);
}
.order-box-scotch-tape-main-Pages-Base>div>div:last-child{
    transform: rotate(40deg);
}
