*,
*::before,
*::after{
    box-sizing: border-box
}
.order-wanted-poster{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
}
.order-and-style-base-wanted-poster>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 97%;
    /* border: solid thin; */
}
.order-and-style-base-wanted-poster>div:first-child>h3,
.order-and-style-base-wanted-poster>div:first-child>p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:var(--letter-black-color);
    margin: 0;
}
.order-and-style-base-wanted-poster>div:first-child>h3{
    font-size: 2.8vw; 
}
.order-and-style-base-wanted-poster>div:first-child>p{
    font-size: .52vw;
    width: 92%;
    font-weight: 550;
    padding-bottom: 2%;
}
.order-and-style-base-wanted-poster>div:first-child>img{
    width: 57%;
    height: auto;
}
.order-and-style-base-wanted-poster>div:first-child>article{
    width: 90%;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-top: .2vw;
}
.order-and-style-base-wanted-poster>div:first-child>article>p{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8vw;
    font-weight: 550;
    width: 80%;
}
.order-and-style-base-wanted-poster>div:first-child>article>a{
    width: 15%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-and-style-base-wanted-poster>div:first-child>article>a>img{
    width: 80%;
    height: auto;
    transition: transform 0.4s;
    transform-style: preserve-3d
}
.order-and-style-base-wanted-poster>div:first-child>article>a>img:hover{
    transform:scale(1.3);
}
.order-scotch-tape{
    position: absolute;
    width: 115%;
    height: 11%;
    display: flex;
    justify-content: space-between;
}
.order-scotch-tape>div:first-child,
.order-scotch-tape>div:last-child{
    background-color: var(--fuchsia-color);
    width: 17%;
    height: 55%;
}
.order-scotch-tape>div:first-child{
    transform: rotate(-45deg);
}
.order-scotch-tape>div:last-child{
    transform: rotate(45deg);
}
.order-and-style-base-wanted-poster{
    position: relative;
    background-color: #A08D7A;
    width: 95%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 64em) and (orientation: portrait) {
    .order-and-style-base-wanted-poster>div:first-child>h3{
        font-size:5.2vw; 
    }
    .order-and-style-base-wanted-poster>div:first-child>p{
        font-size: .9vw;
    }
    .order-and-style-base-wanted-poster>div:first-child>article>p{
        font-size: 1.5vw;
    }
    .order-and-style-base-wanted-poster>div:first-child>img{
        width: 55%;
    } 
}
@media screen and (max-width: 37.5em) and (orientation: portrait) {
    .order-and-style-base-wanted-poster>div:first-child>h3{
        font-size:3.6vh; 
    }
    .order-and-style-base-wanted-poster>div:first-child>p{
        font-size: .73vh;
    }
    .order-and-style-base-wanted-poster>div:first-child>article>p{
        font-size: 1vh;
    }
    .order-and-style-base-wanted-poster>div:first-child>img{
        width: 60%;
    }
}
@media screen and (max-width: 20em) and (orientation: portrait) {
    /* .order-and-style-base-wanted-poster>h3{
        font-size:7.6vw; 
    }
    .order-and-style-base-wanted-poster>p{
        font-size: 1.6vw;
        margin-bottom: 1vh;
    }
    .order-and-style-base-wanted-poster>article>p{
        font-size: 2.2vw;
    }
    .order-and-style-base-wanted-poster>img{
        width: 60%;
    }  */
    
}
