*,
*::after,
*::before{
    box-sizing: border-box;
}
.box-macro-organic-shapes-LP{
    background-color: white;
    width: 100%;
    height: 42vw;
    margin-top: .5vw;
  }
  .box-header-organic-shapes-LP{
    display: flex;  
    position: relative;
    width: 100%;
    height: 10%;
  }
  .box-name-header-organic-shapes-LP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2; 
  }
  .name-header-organic-shapes-LP{
    align-self: flex-start;
    padding-left: 5vw;
    color: orangered;
    font-size: 1.5vw;
  }
  .box-ancords-header-organic-shapes-LP{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 30%;
    flex-grow: 0.2;
    padding-right:6vw;
  }
  .style-ancords-header-organic-shapes-LP{
    text-decoration: none;
    color: white;
    font-size: .87vw;
  }
  .box-main-organic-shapes-LP{
    display: flex;
    width: 100%;
    height: 90%;
  }
  .box-text-main-organic-shapes-LP{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 85%;
    margin-left: 2vw;
  }
  .titel-main-organic-shapes-LP{
    width: 80%;
    color: #363c46;
    text-align: start;
    font-size: 1.8vw;
    line-height: 2.3vw;
    font-style: oblique;
  }
  .description-main-organic-shapes-LP{
    text-align: start;
    width: 80%;
    color: #363c46;
    font-weight: 500;
    font-size: .8vw;
    letter-spacing:.05vw;
  }
  .box-button-main-organic-shapes-LP{
    display: flex;
    margin-top: 1vw;
    width: 80%;
  }
  .button-main-organic-shapes-LP{
    background-color: #ff3542;
    border-radius: 1.2vw;
    border: none;
    align-self: flex-start;
    width: 35%;
    height: 2.2vw;
    color: white;
    font-size: .9vw;
    font-weight: 600;
    cursor: pointer;
  }
  .image-main-organic-shapes-LP{
    position: absolute;
    right: 0px;
    width: 76%;
    height: 36%;
  }
  
 