*,
*::after,
*::before {
    box-sizing: border-box
}
.box-vp-register-form{
    background-image: url('../../../assets/Forms/Register/backgroundRegister1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-register-form{
    background-color: rgba(255, 255, 255, 0.2);
    width: 85%;
    height: 85%;
    display: flex;
    border-radius: 1.3vw;
}
.box-left-register-form{
    background-color: var(--watergreen-background-register);
    border-bottom-left-radius: 1.3vw;
    border-top-left-radius: 1.3vw;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-left-register-form>img {
    width: 24%;
    height: auto;
    align-self: flex-start;
    margin: 1.5vw;
    margin-bottom: 0;
}
.box-left-register-form>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 40%;
    margin-top: 35%;
}
.box-left-register-form>div>h2 {
    color: white;
    font-size: 2.4vw;
    margin: 0;
}
.box-left-register-form>div>p {
    color: white;
    font-size: .9vw;
    line-height: 1.5vw;
    width: 90%;
    align-self: center;
    font-weight: 350;
}
.box-left-register-form>div>button {
    align-self: center;
    color: white;
    background-color: transparent;
    border: solid white;
    border-radius: 1.5vw;
    width: 70%;
    height: 18%;
    font-size: 1vw;
    font-weight: 550;
    cursor: pointer;
}
.box-right-register-form{
    background-color: white;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 1.3vw;
    border-top-right-radius: 1.3vw;
}
.box-right-register-form>div{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.box-right-register-form>div>h2{
  color: var(--watergreen-text-register);
  font-size: 2.4vw;
  margin: 0;
}
.box-right-register-form>div>div{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 12%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 4%;
}
.box-right-register-form a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin #c6c8c7;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
.box-right-register-form a>img{
    width: 60%;
    height: auto;
}
.box-right-register-form>div>p{
    color: #acacac;
    font-size: .7vw;
}
.input-name-resgister-F,
.input-email-resgister-F,
.input-password-resgister-F{
    align-self: center;
    width: 90%;
    height: 10%;
    background-color: #f4f8f7;
    border: none;
    color: #c6c8c7;
    font-size: .9vw;
    margin-bottom: 1vw;
    padding: 0.25em 0.6em;
}
.input-name-resgister-F,
.input-email-resgister-F,
.input-password-resgister-F{
    outline: none;
}
.input-name-resgister-F::placeholder,
.input-email-resgister-F::placeholder,
.input-password-resgister-F::placeholder{
    font-size: .8vw;
    padding-left: 1.3vw;
    background-position: left .1vw;
    color: #9FA3A2;
}
.input-name-resgister-F::placeholder{
    background-image: url('../../../assets/Forms/Register/peopleIconGrayF.png');
    background-size: .8vw .8vw;
    background-repeat: no-repeat;
}
.input-email-resgister-F::placeholder{
    background-image: url('../../../assets/Forms/Register/emailIconGrayF.png');
    background-size: .8vw .7vw;
    background-repeat: no-repeat;
}
.input-password-resgister-F::placeholder{
    background-image: url('../../../assets/Forms/Register/padLockIconGrayF.png');
    background-size: .7vw .8vw;
    background-repeat: no-repeat;
}
.box-right-register-form>div>button{
    align-self: center;
    color: white;
    background-color: var(--watergreen-text-register);
    border: none;
    border-radius: 1.5vw;
    width: 53%;
    height: 11%;
    margin-top: 4%;
    font-size: 1vw;
    font-weight: 550;
    cursor: pointer; 
}
@media screen and (max-width: 64em) and (orientation: portrait){
    .box-vp-register-form{
        background-position:right; 
        width: 70%;
        height: 95%;
    }
    .box-register-form{
        background-color: rgba(255, 255, 255, 0.2);
        width: 85%;
        height: 85%;
        display: flex;
        flex-direction: column;
        border-radius: 1.5vw;
    }
    .box-left-register-form{
        border-radius: 0;
        border-top-right-radius: 1.5vw;
        border-top-left-radius: 1.5vw;
        width: 100%;
        height: 40%;
    }
    .box-left-register-form>img {
        width: 20%;
    }
    .box-left-register-form>div{
        width: 70%;
        height: 70%;
        margin-top: 0;
    }
    .box-left-register-form>div>h2 {
        font-size: 4vw;
        line-height: 3vw;
    }
    .box-left-register-form>div>p {
        font-size: 1.4vw;
        line-height: 1.3vw;
        width: 70%;
    }
    .box-left-register-form>div>button {
        width: 50%;
        height: 23%;
        font-size: 1.3vw;
    }
    .box-right-register-form{
        width: 100%;
        height: 60%;
        border-radius: 0;
        border-bottom-right-radius: 1.5vw;
        border-bottom-left-radius: 1.5vw;
    }
    .box-right-register-form>div{
        width: 70%;
        height: 90%;
    }
    .box-right-register-form>div>h2{
        font-size: 4vw;
    }
    .box-right-register-form>div>div{
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .box-right-register-form a{
        width: 4vw;
        height: 4vw;
    }
    .box-right-register-form>div>p{
        font-size: 1vw;
    }
    .input-name-resgister-F,
    .input-email-resgister-F,
    .input-password-resgister-F{
        outline: none;
    }
    .box-right-register-form>div>button{
        border-radius: 1.5vw;
        width: 50%;
        height: 11%;
        font-size: 1.3vw;
        margin-top: 4%;
    }
}
@media screen and (max-width: 37.5em) and (orientation: portrait){
    .box-left-register-form>div{
        height: 65%;
        margin-top: 1vw;
    }
    .box-left-register-form>div>p {
        font-size: 1.5vw;
        line-height: 1.4vw;
        width: 75%;
    }
    .box-left-register-form>div>button {
        font-size: 1.5vw;
        border-radius: 3vw;
        border: solid thin;
    }
    .box-right-register-form>div{
        width: 75%;
    }
    .box-right-register-form>div>p{
        font-size: 1.2vw;
    }
    .input-name-resgister-F::placeholder,
    .input-email-resgister-F::placeholder,
    .input-password-resgister-F::placeholder{
        font-size: 1.3vw;
        padding-left: 2vw;

    }
    .input-name-resgister-F::placeholder{
        background-size: 1.2vw 1.2vw;
    }
    .input-email-resgister-F::placeholder{
        background-size: 1.1vw 1vw;
    }
    .input-password-resgister-F::placeholder{
        background-size: 1vw 1.1vw;
    }
    .box-right-register-form>div>button{
        border-radius: 3vw;
        font-size: 1.5vw;
    }
}


