*,
*::before,
*::after{
  box-sizing: border-box
}
.box-macro-landing-pages-BgV{
  width: 100%;
  height: 100%;
}
.content-box-landing-pages-BgV{
  width: 100%;
  height: 94%;
  position: relative;
  bottom: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.style-video-bv{
  width: 100%;
  height: auto;
}
.content-box-landing-pages-BgV>div{
  width: 80%;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-box-landing-pages-BgV>div>h2,
.content-box-landing-pages-BgV>div>h5{
  color: white;
  margin: 0;
}
.content-box-landing-pages-BgV>div>h2,
.content-box-landing-pages-BgV>div>h2>font{
  font-size:3vw
}
.content-box-landing-pages-BgV>div>h5{
  font-size: 1.2vw;
}
.content-box-landing-pages-BgV>div>img:first-of-type{
  width: 11%;
  height: auto;
  margin-top: 4.5vw;
  margin-bottom: 5vw;
}
.content-box-landing-pages-BgV>div>img:last-of-type{
  width: 7%;
  height: auto;
}
.footer-box-landing-pages-BgV{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--gray-layout-background-video);
  width: 100%;
  height: 11%;
}
.footer-box-landing-pages-BgV>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53.5%;
  height: 100%;
}
.brand-name-landing-pages-BgV{
  color: white;
  font-size: 1.8vw;
  font-weight: 700;
}
.brand-name-landing-pages-BgV>font{
  font-size: 1.8vw;
}
.ul-navicon-three-lines-order-and-style{
  position: relative;
  width: 10vw;
  height: 13vw;
  bottom: 9vw;
  left: 10vw;
  display: flex;
  justify-content: center;
}
.ul-navicon-three-lines-order-and-style>ul{
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  height: 95%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border-radius: .3vw;
}
.ul-navicon-three-lines-order-and-style li{
  width: 85%;
  height: 25%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ul-navicon-three-lines-order-and-style a{
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.ul-navicon-three-lines-order-and-style a:hover{
  transform: scale(1.1);
}
.navicon-three-line-order-and-styles{
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
  margin-right: 2.8vw;
  cursor: pointer;
}
@media screen and (max-width: 90em) and (orientation: portrait) {
  .box-macro-landing-pages-BgV{
    width: 70%;
    position: relative;
    overflow: hidden;
  }
  .style-video-bv{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 210%;
    min-width: 210%;
  }
  .content-box-landing-pages-BgV{
    height: 98%;
    bottom: 0;
  }
  .content-box-landing-pages-BgV>div{
    height: 60%;
  }
  .content-box-landing-pages-BgV>div>h2,
  .content-box-landing-pages-BgV>div>h2>font{
    font-size:5vw;
    line-height: 6vw;
    margin-bottom: 2vw;
  }
  .content-box-landing-pages-BgV>div>h5{
    font-size: 1.5vw;
  }
  .content-box-landing-pages-BgV>div>img:first-of-type{
    width: 20%;
    margin-top: 6vw;
    margin-bottom: 8vw;
  }
  .content-box-landing-pages-BgV>div>img:last-of-type{
    width: 15%;
  }
  .brand-name-landing-pages-BgV{
    font-size: 3vw;
  }
  .brand-name-landing-pages-BgV>font{
    font-size: 3vw;
  }
  .footer-box-landing-pages-BgV>div{
    width: 56%;
  }
  .ul-navicon-three-lines-order-and-style{
    width: 10vh;
    height: 13vh;
    bottom: 10vh;
    left: 4.5vh;
  }
  .ul-navicon-three-lines-order-and-style a{
    font-size: 1.4vh;
  }
  .navicon-three-line-order-and-styles{
    font-size: 3vw;
    margin-right: 2.8vh;
  }
}
/* @media screen and (max-width: 64em) and (orientation: portrait) {
  .box-macro-landing-pages-BgV{
    width: 70%;
    position: relative;
    overflow: hidden;
  }
  .style-video-bv{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 210%;
    min-width: 210%;
  }
  .content-box-landing-pages-BgV{
    height: 98%;
    bottom: 0;
  }
  .content-box-landing-pages-BgV>div{
    height: 70%;
  }
  .content-box-landing-pages-BgV>div>h2,
  .content-box-landing-pages-BgV>div>h2>font{
    font-size:5vw;
    line-height: 6vw;
    margin-bottom: 2vw;
  }
  .content-box-landing-pages-BgV>div>h5{
    font-size: 1.5vw;
  }
  .content-box-landing-pages-BgV>div>img:first-of-type{
    width: 20%;
    margin-top: 6vw;
    margin-bottom: 8vw;
  }
  .content-box-landing-pages-BgV>div>img:last-of-type{
    width: 15%;
  }
  .brand-name-landing-pages-BgV{
    font-size: 3vw;
  }
  .brand-name-landing-pages-BgV>font{
    font-size: 3vw;
  }
  .footer-box-landing-pages-BgV>div{
    width: 56%;
  }
  .ul-navicon-three-lines-order-and-style{
    width: 10vh;
    height: 13vh;
    bottom: 10vh;
    left: 4.5vh;
  }
  .ul-navicon-three-lines-order-and-style a{
    font-size: 1.4vh;
  }
  .navicon-three-line-order-and-styles{
    font-size: 3vw;
    margin-right: 2.8vh;
  }
}
@media screen and (max-width: 37.5em) and (orientation: portrait) {
  .style-video-bv{
    min-height: 270%;
    min-width: 270%;
  }
  .content-box-landing-pages-BgV>div{
    height: 60%;
  }
  .content-box-landing-pages-BgV>div>h2,
  .content-box-landing-pages-BgV>div>h2>font{
    font-size:5.2vw;
  }
  .content-box-landing-pages-BgV>div>img:first-of-type{
    margin-top: 8vw;
    margin-bottom: 9vw;
  }
  .brand-name-landing-pages-BgV{
    font-size: 4vw;
  }
  .brand-name-landing-pages-BgV>font{
    font-size: 4vw;
  }
  .footer-box-landing-pages-BgV>div{
    width: 56%;
  }
  .ul-navicon-three-lines-order-and-style{
    bottom: 10.5vh;
    left: 3vh;
  }
}
@media screen and (max-width: 30em) and (orientation: portrait) {
  .style-video-bv{
    min-height: 255%;
    min-width: 255%;
  }
  .ul-navicon-three-lines-order-and-style{
    bottom: 11vh;
  }
 
}
@media screen and (max-width: 22.5em) and (orientation: portrait) {
  .style-video-bv{
    min-height: 210%;
    min-width: 210%;
  }
  .ul-navicon-three-lines-order-and-style{
    bottom: 11vh;
  }
  .content-box-landing-pages-BgV>div{
    height: 40%;
    margin-bottom: 20vw ;
  }
  /* .footer-box-landing-pages-BgV{
    border: solid;
  } 
 
} */