
.content-box-landing-pages-BgV{
  width: 100%;
  height: 835px;
  position: relative;
  bottom: 835px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.content-box-landing-pages-BgV>div{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-box-landing-pages-BgV>div>h2{
  color: white;
  font-size: 75px;
  margin: 0;
}
.content-box-landing-pages-BgV>div>h5{
  color: white;
  font-size: 20px;
  margin: 0;
}
.content-box-landing-pages-BgV>div>img:first-of-type{
  width: 9%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.content-box-landing-pages-BgV>div>img:last-of-type{
  width: 6%;
  margin-top: 50px;
  margin-bottom: 80px;
}
.footer-box-landing-pages-BgV{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #383731;
  width: 100%;
  height: 80px;
}
.footer-box-landing-pages-BgV>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53.5%;
}
.brand-name-landing-pages-BgV{
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.footer-box-landing-pages-BgV>div>select{
  border: none;
  appearance: none;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background-color: transparent;
}
.ul-navicon-three-lines-order-and-style{
  width: 150px;
  height: 230px;
  position: relative;
  bottom: 170px;
  left: 270px;
  display: flex;
  justify-content: center;
}
.ul-navicon-three-lines-order-and-style>ul{
  background-color: rgba(255, 255, 255, 0.7);
  width: 85%;
  height: 95%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border-radius: 5px;
}
.ul-navicon-three-lines-order-and-style li{
  width: 85%;
  height: 25%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ul-navicon-three-lines-order-and-style a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.ul-navicon-three-lines-order-and-style a:hover{
  transform: scale(1.1);
}
.navicon-three-line-order-and-styles{
  color: white;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 60px;
}