*,
*::after,
*::before{
    box-sizing: border-box;
}
.box-macro-landing-pages-BgV {
    position:relative;
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
  }
  .content-box-landing-pages-BgV{
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .footer-box-landing-pages-BgV{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383731;
    width: 100%;
    height: 80px;
  }
  .brand-name-landing-pages-BgV{
    color: white;
    font-size: 40px;
    font-weight: 700;
  }
  /* .brand-name-landing-pages-BgV{
    align-self: flex-end;
  } */
  /* .botonHomeLP {
      position: relative;
      background-image: url('../../../public/imagenes/Pagina/boton.home.png');
      background-repeat:no-repeat;
      background-color: transparent;
      height: 22vh;
      width: 9vw;
      background-size: cover;
      background-position:center;
      border: none;
      bottom: 110px;
      left: 140px;
      cursor: url("../../../public/imagenes/Pagina/cursor.pointer2.png"),pointer;
     } */
  
  .videoLanding {
      position: relative;
      bottom: 10px;
      right: 7px;
      width: 101%;
  }   

  /* MINIMALISM */
  .background-color-minimalist-LP{
    position: absolute;
    background-color: #5c6ac4;
    width: 100%;
    height: 100vh;
  }
  .internal-box-minimalist-LP{
    /* border: solid red; */
    position: relative;
    /* bottom: 937px; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header-box-minimalist-LP{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    width: 100%;
    height: 80px;
  }
  .logo-shopfy-minimalism-LP{
    width: 120px;
  }
  .main-box-minimalist-LP{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
  }
  .titel-main-minimalism-LP {
    margin: 0;
    /* border: solid hotpink; */
    color: white;
    font-size: 65px;
    font-weight: 600;
  }
  .description-main-minimalism-LP{
    /* border: solid gray; */
    margin: 0;
    margin-top: 5px;
    font-size: 42px;
    color: white;
    width: 50%;
    line-height: 47px;
  }
  .input-box-main-minimalism-LP{
    padding-top: 20px;
    /* border: solid paleturquoise; */
  }
  .input-main-minimalism-LP{
    width: 370px;
    height: 40px;
    border-radius: 8px;
    border: none;
  }
  .button-main-minimalism-LP{
    margin-left: 5px;
    color: white;
    background-color: #232936;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }
  .description-small-main-minimalis-LP{
    color: white;
    /* border: solid purple; */
    width: 29%;
    letter-spacing: -0.2px;
  }
  .composition-footer-minimalism-LP{
    /* border: solid yellow; */
    height: 520px;
  }
  .image-minimalism-LP{
    /* border: solid; */
    position: relative;
    top: 10px;
    /* bottom: 100px; */
    width: 45%;
  }
  .background-white-minimalism-LP{
    /* position: relative;
    top: 535px; */
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 220px;
  }

  /* ORGANIC SHAPES */
  .box-macro-organic-shapes-LP{
    /* border: solid; */
    width: 100%;
    height: 100vh;
  }
  .box-header-organic-shapes-LP{
    display: flex;  
    position: relative;
    /* border: solid red; */
    width: 100%;
    height: 80px;
  }
  .box-name-header-organic-shapes-LP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid rebeccapurple; */
    flex-grow: 4;  
  }
  .name-header-organic-shapes-LP{
    align-self: flex-start;
    padding-left: 150px;
    color: orangered;
    font-size: 27px;
  }
  .box-ancords-header-organic-shapes-LP{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* border: solid palevioletred; */
    width: 30%;
    padding-right:150px ;
  }
  .style-ancords-header-organic-shapes-LP{
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* es blanco el color */
  }
  .box-main-organic-shapes-LP{
    display: flex;
    /* border: solid hotpink; */
    width: 100%;
    height: 852px;
  }
  .box-text-main-organic-shapes-LP{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: solid yellow; */
    width: 45%;
  }
  .titel-main-organic-shapes-LP{
    width: 60%;
    color: #363c46;
    text-align: start;
    /* border: solid gray; */
    font-size: 45px;
    line-height: 45px;
    font-style: oblique;
  }
  .description-main-organic-shapes-LP{
    text-align: start;
    /* border: solid gray; */
    width: 60%;
    color: #363c46;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.2px;
  }
  .box-button-main-organic-shapes-LP{
    display: flex;
    margin-top: 19px;
    /* border: solid purple; */
    width: 60%;
  }
  .button-main-organic-shapes-LP{
    background-color: #ff3542;
    border-radius: 20px;
    border: none;
    align-self: flex-start;
    width: 35%;
    height: 45px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .box-image-main-organic-shapes-LP{
    border: solid orange;
    width: 60%;
  }
  .image-main-organic-shapes-LP{
    position: absolute;
    right: 0px;
    width: 70%;
  }
  
  /* PROMOTIONAL */
  .box-macro-promotional-LP{
    border: solid;
    width: 100%;
    height: 100vh;
  }
  .image-promotional-LP{
    position: absolute;
    right: 0;
    width: 60%;
  }
  .box-header-promotional-LP{
    display: flex;
    justify-content: space-between;
    position: relative;
    border: solid brown;
    width: 100%;
    height: 80px;
  }
  .box-ancords-header-promotional-LP{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 90px;
    border: solid #ff3542;
    width: 30%;
  }
  .box-search-header-promotional-LP{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid green;
    padding-right: 80px;
    width: 15%;
  }
  .box-main-promotional-LP{
    border: solid red;
    width: 40%;
    height: 70vh;
  }
  .box-footer-promotional-LP{
    display: flex;
    background-color: #648f98;
    position: relative;
    /* border: solid orange; */
    width: 45%;
    height: 21%;
  }