*,
*::after,
*::before{
    box-sizing: border-box;
}
.box-macro-landing-pages-BgV {
    position:relative;
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
  }
  .content-box-landing-pages-BgV{
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .footer-box-landing-pages-BgV{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383731;
    width: 100%;
    height: 80px;
  }
  .brand-name-landing-pages-BgV{
    color: white;
    font-size: 40px;
    font-weight: 700;
  }
  /* .brand-name-landing-pages-BgV{
    align-self: flex-end;
  } */
  /* .botonHomeLP {
      position: relative;
      background-image: url('../../../public/imagenes/Pagina/boton.home.png');
      background-repeat:no-repeat;
      background-color: transparent;
      height: 22vh;
      width: 9vw;
      background-size: cover;
      background-position:center;
      border: none;
      bottom: 110px;
      left: 140px;
      cursor: url("../../../public/imagenes/Pagina/cursor.pointer2.png"),pointer;
     } */
  
  .videoLanding {
      position: relative;
      bottom: 10px;
      right: 7px;
      width: 101%;
  }   

  /* ORGANIC SHAPES */
  .box-macro-organic-shapes-LP{
    /* border: solid; */
    width: 100%;
    height: 100vh;
  }
  .box-header-organic-shapes-LP{
    display: flex;  
    position: relative;
    /* border: solid red; */
    width: 100%;
    height: 80px;
  }
  .box-name-header-organic-shapes-LP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid rebeccapurple; */
    flex-grow: 4;  
  }
  .name-header-organic-shapes-LP{
    align-self: flex-start;
    padding-left: 150px;
    color: orangered;
    font-size: 27px;
  }
  .box-ancords-header-organic-shapes-LP{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* border: solid palevioletred; */
    width: 30%;
    padding-right:150px ;
  }
  .style-ancords-header-organic-shapes-LP{
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* es blanco el color */
  }
  .box-main-organic-shapes-LP{
    display: flex;
    /* border: solid hotpink; */
    width: 100%;
    height: 852px;
  }
  .box-text-main-organic-shapes-LP{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: solid yellow; */
    width: 45%;
  }
  .titel-main-organic-shapes-LP{
    width: 60%;
    color: #363c46;
    text-align: start;
    /* border: solid gray; */
    font-size: 45px;
    line-height: 45px;
    font-style: oblique;
  }
  .description-main-organic-shapes-LP{
    text-align: start;
    /* border: solid gray; */
    width: 60%;
    color: #363c46;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.2px;
  }
  .box-button-main-organic-shapes-LP{
    display: flex;
    margin-top: 19px;
    /* border: solid purple; */
    width: 60%;
  }
  .button-main-organic-shapes-LP{
    background-color: #ff3542;
    border-radius: 20px;
    border: none;
    align-self: flex-start;
    width: 35%;
    height: 45px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .box-image-main-organic-shapes-LP{
    border: solid orange;
    width: 60%;
  }
  .image-main-organic-shapes-LP{
    position: absolute;
    right: 0px;
    width: 70%;
  }
  
  /* PROMOTIONAL */
  .box-macro-promotional-LP{
    /* border: solid; */
    width: 100%;
    height: 100vh;
  }
  .image-promotional-LP{
    position: absolute;
    right: 0;
    width: 60%;
  }
  .box-header-promotional-LP{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: solid brown; */
    width: 100%;
    height: 80px;
  }
  .isologo-header-promotional-LP{
    width: 25px;
  }
  .box-ancords-header-promotional-LP{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 90px;
    /* border: solid #ff3542; */
    width: 30%;
  }
  .ancords-header-organic-shapes-LP{
    text-decoration: none;
    color: #353535;
    font-size: 23px;
  }
  .ancords-header-organic-shapes-LP:focus{
    font-weight: 700;
    text-decoration: underline red;
  }
  .ancords-header-organic-shapes-LP:active{
    font-weight: 700;
    text-decoration: underline red;
  }
  .box-search-header-promotional-LP{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid green; */
    padding-right: 80px;
    width: 10%;
  }
  .button-magnifying-glass-promotional-LP{
    background-image: url('../../../assets/LandingPages/lupaP.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    width: 30px;
    height: 30px;
  }
  .select-header-promotional-LP{
    background-image: url('../../../assets/LandingPages/selectP.png');
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    /* Falta que no se ponga la opción que elijo */
  }
  .box-main-promotional-LP{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70vh;
  }
  .titel-main-promotional-LP{
    /* border: solid greenyellow; */
    color: #232323;
    width: 80%;
    text-align: start;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
  }
  .description-main-promotional-LP{
    /* border: solid gray; */
    color: #4a4a4a;
    width: 80%;
    text-align: start;
    margin-top: 0;
  }
  .box-button-main-promotional-LP{
    /* border: solid #ff3542; */
    display: flex;
    width: 80%;
  }
  .button-main-promotional-LP{
    border: none;
    background-color: #f2664f;
    width: 120px;
    height: 30px;
    color: white;
    font-weight: 600;
    align-self: flex-start;
  }
  .box-footer-promotional-LP{
    /* border: solid orange; */
    display: flex;
    position: relative;
    width: 45%;
    height: 21%;
  }
  .box-one-footer-promotional-LP{
    /* border: solid sandybrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44.5%;
    background-color: #648f98;
  }
  .titel-footer-promotional-LP{
    /* border: solid; */
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
  }
  .description-footer-promotional-LP{
    /* border: solid; */
    color: white;
    width: 70%;
  }
  .box-two-footer-promotional-LP{
    /* border: solid hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44.5%;
    background-color: #648f98;
  }
  .box-three-footer-promotional-LP{
    /* border: solid rgb(176, 5, 91); */
    background-color: rgba(242, 102, 79, 0.5);
    width: 11.4%;
  }
  