*,
*::after,
*::before{
    box-sizing: border-box
}
.order-all-mains{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* MAINPAGESBOARDCONTENT */
.order-all-board-content-section-one{
    position: absolute;
    width: 63%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    border: solid thin;
}
.wooden-sing-and-poster-order{
    display: flex;
    justify-content: space-between;
    width: 63%;
    height: 13%;
    align-self: flex-end;
}
.original-pages-order-and-styles{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:solid red; */
}
.wooden-sign-background{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../assets/LandingPages/woodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 80%;
    align-self: center;
}
.wooden-sign-background>div{
    background-color: var(--dark-gray-color);
    width: .6vw;
    height: .6vw;
    border-radius: 50%;
}
.wooden-sign-background>h2{
    color: white;
    font-family: 'Abel', sans-serif;
    margin: 0;
    font-size:1.6vw;
    letter-spacing: .2vw;
    width: 80%;
}
.poster-come-back-base-and-order{
    position: relative;
    width: 20%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: rotate(5deg);
    top: .2vw;
    right: 1.2vw;
}
.poster-come-back-base{
    position: absolute;
    background-color: #F62F55;
    width:100%;
    height: 85%;
    align-self: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster-come-back-base>h2{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2vw;
    line-height: 1.1vw;
    margin: 0;
}
.poster-come-back-base-and-order>div:last-child{
    position: relative;
    width: 115%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    bottom: 2.6vw;
}
.poster-come-back-base-and-order>div>div{
   background-color: #231E20;
    width: 18%;
    height: 150%;
}
.poster-come-back-base-and-order>div>div:first-child{
    transform: rotate(-45deg)
}
.poster-come-back-base-and-order>div>div:last-child{
    transform: rotate(45deg)
}
.order-wooden-signs{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 13%;
    /* border: solid saddlebrown; */
}
.order-wooden-signs>div{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 18%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.order-wooden-signs>div>div{
    background-color: var(--dark-gray-color);
    width: .4vw;
    height: .4vw;
    border-radius: 50%;
}
.order-wooden-signs>div>h3{
    width: 80%;
    font-size: 1.2vw;
    color: white;
    font-family: 'Abel', sans-serif;
}
.original-page-images-order{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.original-page-images-order>img{
    width: 22%;
    height: auto;
}
.order-box-scotch-tape-main-Pages-Base{
    position: relative;
    width: 100%;
    height: 5%;
    bottom: 7.8vw;
    display: flex;
    justify-content: space-around;
}
.order-box-scotch-tape-main-Pages-Base>div{
    width: 25%;
    height: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-box-scotch-tape-main-Pages-Base>div>div{
    background-color: #F62F55;
    width: 13%;
    height: 120%;
}
.order-box-scotch-tape-main-Pages-Base>div>div:first-child{
    transform: rotate(-40deg)
}
.order-box-scotch-tape-main-Pages-Base>div>div:last-child{
    transform: rotate(40deg)
}
.my-replicas-order-and-styles{
    width: 100%;
    height:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:solid green; */
}
.wooden-sign-background-MR{
    background-image: url('../../assets/LandingPages/woodenSignBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 10%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wooden-sign-background-MR>div{
    background-color: var(--dark-gray-color);
    width: .6vw;
    height: .6vw;
    border-radius: 50%;
}
.wooden-sign-background-MR>h2{
    color: white;
    margin: 0;
    font-size:1.5vw;
    letter-spacing: .2vw;
    width: 80%;
    font-family: 'Abel', sans-serif
}
.my-replicas-images-order{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.my-replicas-images-order>div{
    width: 23%;
    height: 100%;
}
.my-replicas-images-order>div>img{
    width: 100%;
    height: auto;
    filter: blur(5px);
    cursor: url('../../assets/myHome/AllBoardContent/magnifyingGlassCursor.png'), pointer;
}
.my-replicas-images-order>div>a{
   text-decoration: none
}
.my-replicas-images-order>div>h3{
    position: relative;
    color: white;
    text-shadow: var(--name-text-shadow) black;
    font-family: 'Abel', sans-serif;
    font-size: 2vw;
    bottom: 7.5vw;
    cursor: url('../../assets/myHome/AllBoardContent/magnifyingGlassCursor.png'), pointer;
}
