.general-order-my-layout-section{
    /* border: solid hotpink; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ARTICLE ONE */
.order-all-componentes-article-one{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
/* .order-all-componentes-article-one>h2{
    font-size: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(219deg,
    #F2DE4E 19%,
    transparent 19%, transparent 19%,
    #F44D6D 20%, #F44D6D 39%,
    transparent 39%, transparent 40%,
    #5058EF 40%, #5058EF 59%,
    transparent 59%, transparent 60%,
    #4EF2A3 60%, #4EF2A3 79%,
    transparent 79%, transparent 80%,
    #814EF2 80%);
    background-clip: text;
    color: transparent;
} */
.top-frame-styles-and-order-layout-section{
    background-image: url('../../assets/myHome/OrganizerBaseBoard/woodenTopFrame.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-frame-styles-and-order-layout-section>div{
    background-color: #555555;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.top-frame-styles-and-order-layout-section>div:first-child{
    margin-left: 15px;
}
.top-frame-styles-and-order-layout-section>div:last-child{
    margin-right: 15px;
}
.botton-frame-styles-and-order-layout-section{
    background-image: url('../../assets/myHome/OrganizerBaseBoard/woodenBottomFrame.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botton-frame-styles-and-order-layout-section>div{
    background-color: #555555;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.botton-frame-styles-and-order-layout-section>div:first-child{
    margin-left: 15px;
}
.botton-frame-styles-and-order-layout-section>div:last-child{
    margin-right: 15px;
}

/* ARTICLE TWO */
.order-all-componentes-article-two{
    /* border: solid thin rgb(0, 255, 166); */
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
/* ARTICLE THREE */
.order-all-componentes-article-three{
    border: solid thin rgb(187, 255, 0);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
/* ARTICLE FOUR */
.order-all-componentes-article-four{
    border: solid thin rgb(255, 132, 0);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}


/* STYLESNAMES */
.name-background-video-article-one,
.name-personal-page-article-one,
.name-clothes-article-one,
.name-login-article-one,
.name-news-article-one,
.name-original-shapes-article-one,
.name-promotional-article-one,
.name-marketplace-article-one,
.name-profile-article-one,
.name-register-article-one,
.name-check-out-article-one,
.name-contact-us-article-one{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-background-video-article-one>h2,
.name-personal-page-article-one>h2,
.name-clothes-article-one>h2,
.name-login-article-one>h2,
.name-news-article-one>h2,
.name-original-shapes-article-one>h2,
.name-promotional-article-one>h2,
.name-marketplace-article-one>h2,
.name-profile-article-one>h2,
.name-register-article-one>h2,
.name-check-out-article-one>h2,
.name-contact-us-article-one>h2{
    display: flex;
    font-size: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Allerta Stencil', sans-serif;
}

.name-background-video-article-one>h2:first-child,
.name-background-video-article-one>h2:nth-child(6),
.name-personal-page-article-one>h2:first-child,
.name-personal-page-article-one>h2:nth-child(6),
.name-personal-page-article-one>h2:nth-child(11),
.name-clothes-article-one>h2:first-child,
.name-clothes-article-one>h2:nth-child(6),
.name-login-article-one>h2:first-child,
.name-news-article-one>h2:first-child,
.name-original-shapes-article-one>h2:first-child,
.name-original-shapes-article-one>h2:nth-child(6),
.name-original-shapes-article-one>h2:nth-child(11),
.name-promotional-article-one>h2:first-child,
.name-promotional-article-one>h2:nth-child(6),
.name-promotional-article-one>h2:nth-child(11),
.name-marketplace-article-one>h2:first-child,
.name-marketplace-article-one>h2:nth-child(6),
.name-marketplace-article-one>h2:last-child,
.name-profile-article-one>h2:first-child,
.name-profile-article-one>h2:nth-child(6),
.name-register-article-one>h2:first-child,
.name-register-article-one>h2:nth-child(6),
.name-check-out-article-one>h2:first-child,
.name-contact-us-article-one>h2:first-child,
.name-contact-us-article-one>h2:nth-child(6){
    color: #814EF2;
    text-shadow: 2px 2px 2px #7136F4;
}
.name-background-video-article-one>h2:nth-child(11),
.name-check-out-article-one>h2:nth-child(6){
    color: #814EF2;
    text-shadow: 2px 2px 2px #7136F4;
    margin-left: 30px;
}
.name-original-shapes-article-one>h2:nth-child(8){
    color: #5058EF;
    text-shadow: 2px 2px 2px #3842F1;
    margin-left: 30px;
}
.name-background-video-article-one>h2:nth-child(2),
.name-background-video-article-one>h2:nth-child(7),
.name-background-video-article-one>h2:nth-child(12),
.name-personal-page-article-one>h2:nth-child(2),
.name-personal-page-article-one>h2:nth-child(7),
.name-personal-page-article-one>h2:last-child,
.name-clothes-article-one>h2:nth-child(2),
.name-clothes-article-one>h2:last-child,
.name-login-article-one>h2:nth-child(2),
.name-news-article-one>h2:nth-child(2),
.name-original-shapes-article-one>h2:nth-child(2),
.name-original-shapes-article-one>h2:nth-child(7),
.name-original-shapes-article-one>h2:nth-child(12),
.name-promotional-article-one>h2:nth-child(2),
.name-promotional-article-one>h2:nth-child(7),
.name-promotional-article-one>h2:nth-child(12),
.name-marketplace-article-one>h2:nth-child(2),
.name-marketplace-article-one>h2:nth-child(7),
.name-profile-article-one>h2:nth-child(2),
.name-profile-article-one>h2:last-child,
.name-register-article-one>h2:nth-child(2),
.name-register-article-one>h2:nth-child(7),
.name-check-out-article-one>h2:nth-child(2),
.name-check-out-article-one>h2:nth-child(7),
.name-contact-us-article-one>h2:nth-child(2),
.name-contact-us-article-one>h2:nth-child(7){
    color: #F44D6D;
    text-shadow: 2px 2px 2px #F62F55;
}
.name-background-video-article-one>h2:nth-child(3),
.name-background-video-article-one>h2:nth-child(8),
.name-background-video-article-one>h2:nth-child(13),
.name-personal-page-article-one>h2:nth-child(3),
.name-personal-page-article-one>h2:nth-child(8),
.name-clothes-article-one>h2:nth-child(3),
.name-login-article-one>h2:nth-child(3),
.name-news-article-one>h2:nth-child(3),
.name-original-shapes-article-one>h2:nth-child(3),
.name-original-shapes-article-one>h2:nth-child(12),
.name-promotional-article-one>h2:nth-child(3),
.name-promotional-article-one>h2:nth-child(8),
.name-marketplace-article-one>h2:nth-child(3),
.name-marketplace-article-one>h2:nth-child(8),
.name-profile-article-one>h2:nth-child(3),
.name-register-article-one>h2:nth-child(3),
.name-register-article-one>h2:last-child,
.name-check-out-article-one>h2:nth-child(3),
.name-check-out-article-one>h2:last-child,
.name-contact-us-article-one>h2:nth-child(3){
    color: #5058EF;
    text-shadow: 2px 2px 2px #3842F1;
}
.name-contact-us-article-one>h2:nth-child(8){
    color: #5058EF;
    text-shadow: 2px 2px 2px #3842F1;
    margin-left: 30px;
}
.name-background-video-article-one>h2:nth-child(4),
.name-background-video-article-one>h2:nth-child(9),
.name-background-video-article-one>h2:nth-child(14),
.name-personal-page-article-one>h2:nth-child(4),
.name-clothes-article-one>h2:nth-child(4),
.name-login-article-one>h2:nth-child(4),
.name-news-article-one>h2:last-child,
.name-original-shapes-article-one>h2:nth-child(4),
.name-original-shapes-article-one>h2:nth-child(9),
.name-original-shapes-article-one>h2:last-child,
.name-promotional-article-one>h2:nth-child(4),
.name-promotional-article-one>h2:nth-child(9),
.name-marketplace-article-one>h2:nth-child(4),
.name-marketplace-article-one>h2:nth-child(9),
.name-profile-article-one>h2:nth-child(4),
.name-register-article-one>h2:nth-child(4),
.name-check-out-article-one>h2:nth-child(4),
.name-contact-us-article-one>h2:nth-child(4),
.name-contact-us-article-one>h2:last-child{
    color: #4EF2A3;
    text-shadow: 2px 2px 2px #0DDD79;
}
.name-background-video-article-one>h2:nth-child(5),
.name-background-video-article-one>h2:nth-child(10),
.name-background-video-article-one>h2:last-child,
.name-personal-page-article-one>h2:nth-child(5),
.name-personal-page-article-one>h2:nth-child(10),
.name-clothes-article-one>h2:nth-child(5),
.name-login-article-one>h2:last-child,
.name-original-shapes-article-one>h2:nth-child(5),
.name-original-shapes-article-one>h2:nth-child(10),
.name-promotional-article-one>h2:nth-child(5),
.name-promotional-article-one>h2:nth-child(10),
.name-marketplace-article-one>h2:nth-child(5),
.name-marketplace-article-one>h2:nth-child(10),
.name-profile-article-one>h2:nth-child(5),
.name-register-article-one>h2:nth-child(5),
.name-check-out-article-one>h2:nth-child(5),
.name-contact-us-article-one>h2:nth-child(5){
    color: #F2DE4E;
    text-shadow: 2px 2px 2px #E1C815;
}
.name-personal-page-article-one>h2:nth-child(9){
    color: #4EF2A3;
    text-shadow: 2px 2px 2px #0DDD79;
    margin-left: 30px;
}
.normal-base-board{
    width: 100%;
}
.big-base-board{
    width: 100%;
}