@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box
}
/* ALLBOARDCONTENT.JSX */
.order-all-board-content{
    width: 80%;
    height: 73.3vh;
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:solid */
}
/* General section one */
.section-one{
    width: 96.4%;
    height: 92.5%;
    display: flex;
    justify-content: space-between;
    /* border: solid thin goldenrod */
}
   /* Label section one */
.section-one>section:first-child{
    width: 34%;
    display: flex;
    flex-direction: column;
    /* border: solid thin rgb(128, 0, 119); */
}
.section-one>section:first-child>div:first-child{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:solid thin #0DDD79; */
}
.section-one>section:first-child>div:nth-child(2){
    width: 100%;
    height: 9%;
    display: flex;
    align-items: flex-end;
    /* border: solid thin skyblue; */
}
.hotpink-note-background-one{
    background-color: #F44D6D;
    width: 14.5%;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 16px;
}
.hotpink-note-background-one>p{
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 2.4em
}
.order-note-scotch-tape-one{
    display: flex;
    justify-content: space-between;
    position: relative;
    width:50%;
    right: -3px;
    height: 5.3vh;
}
.order-note-scotch-tape-one>div:first-child,
.order-note-scotch-tape-one>div:last-child{
    width: 14%;
    height: 1.3vh;
    background-color: #231E20;
    transform: rotate(-50deg)
}
.order-note-scotch-tape-one>div:first-child{
    transform: rotate(-50deg)
}
.order-note-scotch-tape-one>div:last-child{
    transform: rotate(45deg)
}
.section-one>section:first-child>div:last-child{
    width: 100%;
    height: 51%;
    display: flex;
    justify-content: center;
    /* border: solid thin khaki; */
}
   /* Label section two */
.section-one>section:last-child{
    width: 66%;
    display: flex;
    flex-direction: column;
    border:solid thin rgb(61, 13, 108);
}
.section-one>section:last-child>div:first-child{
   width: 100%;
   height: 9vh;
   display: flex;
   justify-content: center;
   /* border: solid blue; */
}
.section-one>section:last-child>div:last-child{
    width: 100%;
    height: 17vh;
    display: flex;
    /* border: solid rgb(32, 135, 32); */
}
.layouts-poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 35%;
    height: 8vh;
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.layouts-poster-wood-order-and-style>div{
    background-color: #444444;
    width: 10px;
    height: 10px;
    border-radius: 50%
}
.layouts-poster-wood-order-and-style>h2{
    margin: 0;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: 4px;
    width: 85%;
    color: white;
    font-family: 'Abel', sans-serif;
}
.section-one>section:last-child>div:nth-child(2){
    width: 100%;
    height: 42vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* border: solid brown; */
}
.section-one>section:last-child>div:nth-child(2)>a{
    color: black;
    width: 27%;
    height: 10vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('../../assets/myHome/Create/brushPointer.png'), pointer;
    /* border:solid orangered */

}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(2),
.section-one>section:last-child>div:nth-child(2)>a:nth-child(3){
    margin-left: 85px
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(4){
    margin-right:50px
}
.section-one>section:last-child>div:nth-child(2)>a:last-child{
    margin-left: 50px
}
.section-one>section:last-child>div:nth-child(2)>a:first-child:hover{
    color: #7136F4
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(2):hover{
    color: #F62F55
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(3):hover{
    color: #3842F1
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(4):hover{
    color: #0DDD79
}
.section-one>section:last-child>div:nth-child(2)>a:last-child:hover{
    color: #E1C815
}
/* order-folders-in-back-of-metal-basket */
.order-folders-in-back-of-metal-basket{
    /* border: solid orange; */
    position: absolute;
    width: 16.8%;
    height: 178px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end
}
.order-folders-in-back-of-metal-basket>div{
    width: 80%;
    position: absolute;
}
.order-folders-in-back-of-metal-basket>div:first-child{
    margin-top: 1px;
    right: 8px
}
.order-folders-in-back-of-metal-basket>div:nth-child(2){
    margin-top: 13px;
    right: 15px
}
.order-folders-in-back-of-metal-basket>div:nth-child(3){
    margin-top: 25px;
    right: 22px
}
.order-folders-in-back-of-metal-basket>div:nth-child(4){
    margin-top: 38px;
    right: 30px
}
.position-metal-basket{
    position: absolute;
    width: 17%;
    height: 5.2vw;
    margin-top: 80px;
    /* border:solid thin orangered */
}
.poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 3.5vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}
.poster-wood-order-and-style>div{
    background-color: #444444;
    width: 8px;
    height: 8px;
    border-radius: 50%
}
.poster-wood-order-and-style>h2{
    margin: 0;
    font-size: 1.8em;
    line-height: 24px;
    letter-spacing: 4px;
    width: 80%;
    color: white;
    font-family: 'Abel', sans-serif;
}
.proyect-p-poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.proyect-p-poster-wood-order-and-style>div{
    background-color: #444444;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.proyect-p-poster-wood-order-and-style>h2{
    margin: 0;
    font-size: 1.6em;
    letter-spacing: 4px;
    width: 80%;
    color: white;
    font-family: 'Abel', sans-serif;
}
.anchord-proyect-p-styles{
    text-decoration: none;
    color: black;
    width: 28%;
    height: 16.5vh;
    cursor: url('../../assets/myHome/AllBoardContent/magnifyingGlassCursor.png'), pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    left: 8%;
}
.anchord-proyect-p-styles:hover{
    color: rgb(242, 108, 78);
}
.in-process-position-metal-baske-order{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center
}
.order-folders-in-back-of-metal-basket-two{
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}
.order-folders-in-back-of-metal-basket-two>div{
    position: absolute;
    right: 35px;
    width: 72%;
}
.in-process-position-metal-basket{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: center;
}
.in-process-poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 3.3vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.in-process-poster-wood-order-and-style>div{
    background-color: #444444;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.in-process-poster-wood-order-and-style>h2{
    margin: 0;
    font-size: 1.5em;
    letter-spacing: 3px;
    width: 80%;
    color: white;
    font-family: 'Abel', sans-serif;
}
/* General section two */
.section-two{
    width: 96.4%;
    height: 7%;
}
/* PC AND NOTEBOOKS */
/* 1728x1117 */
/* 1600x900 */
@media(max-width: 1600px){
    .section-one{
        height: 91.5%;
    }
    .order-note-scotch-tape-one{
        left: 6px;
        width:53%;
    }
    .order-note-scotch-tape-one>div:first-child,
    .order-note-scotch-tape-one>div:last-child{
    width: 16%;
    height: 1.2vh;
    }
    .layouts-poster-wood-order-and-style>h2{
        font-size: 1.8em;
        line-height: 1em;
        letter-spacing: 3px;
        width: 80%;
    }
    .proyect-p-poster-wood-order-and-style>h2{
        font-size: 1.4em;
        letter-spacing: 3px;
    }
    .section-one>section:last-child>div:nth-child(2)>a:nth-child(2),
    .section-one>section:last-child>div:nth-child(2)>a:nth-child(3){
        margin-left: 70px
    }
    .section-one>section:last-child>div:nth-child(2)>a:nth-child(4){
        margin-right:40px;
    }
    .section-one>section:last-child>div:nth-child(2)>a:last-child{
        margin-left: 40px;
    }
    .poster-wood-order-and-style>h2{
        font-size: 1.6em;
        line-height: .8em;
        letter-spacing: 3px;
        width: 80%;
    }
    .poster-wood-order-and-style>div,
    .in-process-poster-wood-order-and-style>div{
        width: 6px;
        height: 6px;
    }
    .in-process-poster-wood-order-and-style>h2{
        font-size: 1.1em;
    }
    .layouts-poster-wood-order-and-style{
        margin-top: 0px;
    }
    .section-one>section:first-child{
        width: 32%;
    }
    .section-one>section:last-child{
        width: 68%;
    }
}
/* 1512x982 */
@media(max-width: 1512px){
    .section-one{
        height: 92.3%;
    }
    .poster-wood-order-and-style>h2{
        font-size: 1.5em;
        line-height: .75em;
    }
}
/* 1440x1024 */
@media(max-width: 1440px){
    .section-one{
        height: 92.4%;
    }
    .order-all-board-content{
        width: 81%;
        top: 188px;
    }
    .order-note-scotch-tape-one{
        right: -7px;
    }
    .layouts-poster-wood-order-and-style>h2{
        font-size: 1.7em;
    }
    .proyect-p-poster-wood-order-and-style>h2{
        font-size: 1.3em;
    }
    .proyect-p-poster-wood-order-and-style>div{
        width: 8px;
        height: 8px;
    }
    .poster-wood-order-and-style>h2{
        font-size: 1.45em;
    }
    .section-one>section:last-child>div:nth-child(2)>a:nth-child(2),
    .section-one>section:last-child>div:nth-child(2)>a:nth-child(3){
        margin-left: 60px
    }
    .section-one>section:last-child>div:nth-child(2)>a:nth-child(4){
        margin-right:30px;
    }
    .section-one>section:last-child>div:nth-child(2)>a:last-child{
        margin-left: 30px;
    }
    .in-process-poster-wood-order-and-style>h2{
        font-size: 1em;
    }
}
/* 1366x768 */
@media(max-width: 1366px){
    .order-all-board-content{
        top: 140px;
    }
    .order-note-scotch-tape-one{
        right: -8px;
    }
    .layouts-poster-wood-order-and-style>h2{
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .proyect-p-poster-wood-order-and-style>h2{
        font-size: 1.2em;
    }
    .proyect-p-poster-wood-order-and-style>div{
        width: 7px;
        height: 7px;
    }
    .poster-wood-order-and-style>h2{
        font-size: 1.4em;
    }
    .in-process-poster-wood-order-and-style>h2{
        font-size: 0.9em;
    }

}