@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box
}
/* ALLBOARDCONTENT.JSX */
.order-all-board-content{
    position: absolute;
    top: 9.3vw;
    width: 66%;
    height: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* General section one */
.section-one{
    width: 96.4%;
    height: 92.5%;
    display: flex;
    justify-content: space-between;
}
   /* Label section one */
.section-one>section:first-child{
    width: 33.333333333333333333333333333333%;
    display: flex;
    flex-direction: column;
}
.section-one>section:first-child>div:first-child{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-one>section:first-child>div:nth-child(2){
    width: 100%;
    height: 8%;
    display: flex;
    align-items: flex-end;
}
.hotpink-note-background-one{
    position: absolute;
    background-color:var(--light-fuchsia-color);
    width: 14.5%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}
.hotpink-note-background-one>p{
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: clamp(2.5em, 2vw, 4em);
}
.order-note-scotch-tape-one{
    display: flex;
    justify-content: space-between;
    position: relative;
    width:50%;
    left: 2%;
    height: 100%;
}
.order-note-scotch-tape-one>div:first-child,
.order-note-scotch-tape-one>div:last-child{
    width: 14%;
    height: 20%;
    background-color: #231E20;
    transform: rotate(-50deg);
}
.order-note-scotch-tape-one>div:first-child{
    transform: rotate(-50deg);
}
.order-note-scotch-tape-one>div:last-child{
    transform: rotate(50deg);
}
.section-one>section:first-child>div:last-child{
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: center;
}
   /* Label section two */
.section-one>section:last-child{
    width: 66.666666666666666666666666666667%;
    display: flex;
    flex-direction: column;
}
.section-one>section:last-child>div:first-child{
   width: 100%;
   height: 12%;
   display: flex;
   justify-content: center;
}
.section-one>section:last-child>div:nth-child(2){
    width: 100%;
    height: 63%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-one>section:last-child>div:last-child{
    width: 100%;
    height: 25%;
    display: flex;
}
.layouts-poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-end;
}
.layouts-poster-wood-order-and-style>div{
    background-color: var(--dark-gray-color);
    width: .5vw;
    height: .5vw;
    border-radius: 50%;
}
.layouts-poster-wood-order-and-style>h2{
    margin: 0;
    font-size:2.7vh;
    line-height: 1.4vw;
    letter-spacing: 4px;
    width: 85%;
    color: white;
    font-family: 'Abel', sans-serif;
}
.section-one>section:last-child>div:nth-child(2)>a{
    color: black;
    width:27%;
    height: clamp(100px, 10vw, 17em);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('../../assets/myHome/Create/brushPointer.png'), pointer;
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(2),
.section-one>section:last-child>div:nth-child(2)>a:nth-child(3){
    margin-left:3vw;
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(4){
    margin-right:1.5vw;
}
.section-one>section:last-child>div:nth-child(2)>a:last-child{
    margin-left:1.5vw;
}
.section-one>section:last-child>div:nth-child(2)>a:first-child:hover{
    color: var(--purple-color);
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(2):hover{
    color: var(--fuchsia-color);
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(3):hover{
    color: var(--blue-color);
}
.section-one>section:last-child>div:nth-child(2)>a:nth-child(4):hover{
    color: var(--green-color);
}
.section-one>section:last-child>div:nth-child(2)>a:last-child:hover{
    color: var(--yellow-color);
}
.order-folders-in-back-of-metal-basket{
    position: absolute;
    width: 16.8%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}
.order-folders-in-back-of-metal-basket>div{
    position: absolute;
    width: 75%;
    height: 65%;
}
.order-folders-in-back-of-metal-basket>div:first-child{
    margin-top: .6vw;
    right: .5vw;
}
.order-folders-in-back-of-metal-basket>div:nth-child(2){
    margin-top: 1.3vw;
    right: .9vw;
}
.order-folders-in-back-of-metal-basket>div:nth-child(3){
    margin-top: 2vw;
    right: 1.3vw;
}
.order-folders-in-back-of-metal-basket>div:nth-child(4){
    margin-top: 2.8vw;
    right: 1.7vw;
}
.position-metal-basket{
    position: absolute;
    width: 17%;
    height: 5.6vw;
    margin-top: 4vw;
}
.poster-wood-order-and-style,
.in-process-poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 3.3vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vw;
}
.poster-wood-order-and-style>div,
.in-process-poster-wood-order-and-style>div{
    background-color: var(--dark-gray-color);
    width: .3vw;
    height: .3vw;
    border-radius: 50%;
}
.poster-wood-order-and-style>h2{
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.1vw;
    letter-spacing: .2vw;
    width: 75%;
    color: white;
    font-family: 'Abel', sans-serif;
}
.proyect-p-poster-wood-order-and-style{
    background-image: url('../../assets/LandingPages/SmallWoodenSignBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 2.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.proyect-p-poster-wood-order-and-style>div{
    background-color: var(--dark-gray-color);
    width: .5vw;
    height: .5vw;
    border-radius: 50%;
}
.proyect-p-poster-wood-order-and-style>h2{
    margin: 0;
    font-size: 1.3vw;
    letter-spacing: .2vw;
    width: 70%;
    color: white;
    font-family: 'Abel', sans-serif;
}
.anchord-proyect-p-styles{
    text-decoration: none;
    color: black;
    width: 27%;
    height: clamp(100px, 8vw, 15em);
    cursor: url('../../assets/myHome/AllBoardContent/magnifyingGlassCursor.png'), pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    left: 8%;
}
.anchord-proyect-p-styles:hover{
    color:var(--orange-color);
}
.in-process-position-metal-baske-order{
    width: 100%;
    height:5.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-folders-in-back-of-metal-basket-two{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.order-folders-in-back-of-metal-basket-two>div{
    position: absolute;
    width: 72%;
    height: 6.3vw;
    margin-top: 1.4vw;
    right: 1.6vw;
}
.in-process-position-metal-basket{
    position: absolute;
    width: 95%;
    height: 5.1vw;
    display: flex;
    justify-content: center;
}
.in-process-poster-wood-order-and-style{
    margin-top: 0;
}
.in-process-poster-wood-order-and-style>h2{
    margin: 0;
    font-size: .9vw;
    letter-spacing: .1vw;
    width: 75%;
    color: white;
    font-family: 'Abel', sans-serif;
}
/* General section two */
.section-two{
    width: 96.4%;
    height: 6.8%;
}

@media screen and (max-width: 100em) and (orientation: landscape) {
    .order-all-board-content{
        top: 10.1vw;
    }
}
@media screen and (max-width: 85.375em) and (orientation: landscape) {
    .order-all-board-content{
        top: 10.1vw;
    }
}
@media screen and (max-width: 64em) and (orientation: portrait) {
    .order-all-board-content{
        top: 12vw;
        width: 88%;
        height: 86.2%;
    }
    .section-one{
        height: 94%;
        flex-direction: column;
    }
    .section-two{
        height: 6%;
    }
    .section-one>section:first-child{
        position: absolute;
        width: 96%;
        height: 94%;
    }
    .section-one>section:first-child>div:first-child{
        height:25%;
        margin-bottom: 49vw;
    }
    .section-one>section:first-child>div:nth-child(2){
        height: 5%;
    }
    .section-one>section:first-child>div:last-child{
        width:45%;
        height: 25%;
        align-self: center;
    }
    .section-one>section:last-child{
        width: 100%;
        height: 45%;
        margin-top: 27vw;
    }
    .hotpink-note-background-one{
        width: 25%;
        height: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
    }
    .order-note-scotch-tape-one{
        width:27%;
        height: 90%;
        left: 1%;
    }
    .section-one>section:last-child>div:nth-child(2)>a{
        width:25%;
        height: clamp(100px, 13.5vw, 17em);
    }
    .position-metal-basket{
        width: 22%;
        height: 5.5vh;
        margin-top: 5.5vw;
    }
    .layouts-poster-wood-order-and-style{
        align-self: flex-start;
    }
    .order-folders-in-back-of-metal-basket{
        width: 18%;
        height: 10vh;
        margin-left: 1vw;
        margin-bottom: .7vh;
    }
    .order-folders-in-back-of-metal-basket>div{
        width: 90%;
        height: 80%;
    }
    .poster-wood-order-and-style,
    .in-process-poster-wood-order-and-style{
        height: 3.8vw;
        margin-top: 5.5vw;
    }
    .layouts-poster-wood-order-and-style>h2{
        font-size: 1.4vh;
    }
    .poster-wood-order-and-style>h2{
        font-size: 1.9vw;
        width: 85%;
        line-height: 1.2vh;
    }
    .anchord-proyect-p-styles{
        width: 25%;
        left: 10%;
        height: 7.5vh;
    }
    .in-process-position-metal-basket{
        width: 95%;
        height: 5vh;
        height: 5.5vh;
    }
    .order-folders-in-back-of-metal-basket-two>div{
        height: 7.2vh;
        margin-top: .8vh;
        right: 2.8vw;
    }
    .in-process-position-metal-baske-order>div:last-child{
        margin-top: .4vw;
    }
    .in-process-poster-wood-order-and-style>h2{
        font-size: 1.7vw;
    }
    .proyect-p-poster-wood-order-and-style{
        width: 25%;
        margin-left: 3%;
        height: 2.8vh;
    }
    .proyect-p-poster-wood-order-and-style>h2{
        font-size: 1.5vh;
    }
}
@media screen and (max-width: 48em) and (orientation: portrait) {
    .order-all-board-content{
        top: 12vw;
        width: 88%;
        height: 85%;
    }
    .layouts-poster-wood-order-and-style>h2{
        font-size: 1.1vh;
    }
    .hotpink-note-background-one>p{
        font-size: 3vh;
    }
}