*,
*::after,
*::before{
    box-sizing: border-box;
}
.main-name-order{
    width: 60%;
    height: clamp(50px, 8vw, 9rem);
    display: flex;
    justify-content:center ;
    align-self: center;
    font-family: 'Allerta Stencil', sans-serif;
    /* border: solid; */
}
.main-name-order>div:first-child,
.main-name-order>div:last-child{
    position: absolute;
    display: flex; 
}
.main-name-order>div:last-child h2{
    margin: 0;
    margin-left: 1.5vw;
    background-image: url('../../assets/myHome/Create/colorBackgroundLetters.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-clip: text;
    color: transparent;
    font-size: clamp(2em, 6vw, 8em);
}
.main-name-order>div:first-child>h2{
    margin: 0;
    margin-left: 1.5vw;
    font-size: clamp(2em, 6vw, 8em);    
}
.main-name-order>div:last-child h2:first-child{
    margin-left: 0px;
}
.main-name-order>div:first-child>h2:first-child{
    color: var(--purple-color);
    text-shadow: var(--name-text-shadow) var(--purple-shadow) ;
    margin-left: .2vw;
}
.main-name-order>div:first-child>h2:nth-child(2){
    color: var(--fuchsia-color);
    text-shadow: var(--name-text-shadow) var(--fuchsia-shadow);
}
.main-name-order>div:first-child>h2:nth-child(3){
    color: var(--blue-color);
    text-shadow: var(--name-text-shadow) var(--blue-shadow);
}
.main-name-order>div:first-child>h2:nth-child(4){
    color: var(--green-color);
    text-shadow: var(--name-text-shadow) var(--green-shadow);
}
.main-name-order>div:first-child>h2:nth-child(5){
    color: var(--yellow-color);
    text-shadow: var(--name-text-shadow) var(--yellow-shadow);
}
.main-name-order>div:first-child>h2:last-child{
    color: var(--orange-color);
    text-shadow: var(--name-text-shadow) var(--orange-shadow);
}
