.order-my-home {
    justify-content: center;
    align-items: center;
}
.orderButtons {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.baseFolders{
    width: 230px;
}
.sheetsUX{
    width: 213.5px;
}
.folderTop{
    width: 239px;
}
.icons{
    width: 74px;
    height: 69px;
}