*,
*::after,
*::before{
    box-sizing: border-box
}
.order-all-componentes-board{
    width: 70%;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border: solid thin red; */
}
.botton-frame-styles-and-order,
.top-frame-styles-and-order{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-frame-styles-and-order{
    background-image: url('../../assets/myHome/OrganizerBaseBoard/woodenTopFrame.jpg');
    height: 5%;
    height: clamp(18px, 4vh, 42px);
}
.top-frame-styles-and-order>div,
.botton-frame-styles-and-order>div{
    background-color: #555555;
    width: clamp(9px, 1vw, 15px);
    height: clamp(9px, 1vw, 15px);
    border-radius: 50%;
}
.top-frame-styles-and-order>div:first-child,
.botton-frame-styles-and-order>div:first-child{
    margin-left: .9vw;

}
.top-frame-styles-and-order>div:last-child,
.botton-frame-styles-and-order>div:last-child{
    margin-right: .9vw;
}
.board-base-style{
    background-color:var(--background-color-board);
    width: 95%;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.circle-line-order{
    width: 96%;
    height: 70vh;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}
.circle-line-order>div{
    background-color: white;
    width: .35vw;
    height: .35vw;
    border-radius: 50%;
    margin-left: 0.96vw;
}
.botton-frame-styles-and-order{
    background-image: url('../../assets/myHome/OrganizerBaseBoard/woodenBottomFrame.jpg');
    height: clamp(22px, 5vh, 52px);
}

@media screen and (max-width: 64em) and (orientation: portrait) {
    .order-all-componentes-board{
        width: 90%;
        height: 93%;
    }
    .circle-line-order{
        margin-right: 2.7vw;
    }
    .circle-line-order>div{
        width: .71vw;
        height: .71vw;
        margin-left: 2.6vw;
    } 
    .board-base-style{
        height: 93%;
    }
}
@media screen and (max-width: 48em) and (orientation: portrait) {

}
@media screen and (max-width: 37.5em) and (orientation: portrait) {

}
@media screen and (max-width: 20em) and (orientation: portrait) {
    
}