*,
*::after,
*::before{
    box-sizing: border-box
}

.order-all-componentes-board{
    width: 85%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.botton-frame-styles-and-order,
.top-frame-styles-and-order{
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-frame-styles-and-order{
    background-image: url('../../assets/myHome/OrganizerBaseBoard/woodenTopFrame.jpg');
    height: 5%;
}
.top-frame-styles-and-order>div,
.botton-frame-styles-and-order>div{
    background-color: #555555;
    width: 15px;
    height: 15px;
    border-radius: 50%
}
.top-frame-styles-and-order>div:first-child,
.botton-frame-styles-and-order>div:first-child{
    margin-left: 15px
}
.top-frame-styles-and-order>div:last-child,
.botton-frame-styles-and-order>div:last-child{
    margin-right: 15px
}
.board-base-style{
    background-color: #505F71;
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.circle-line-order{
    width: 96%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.circle-line-order>div{
    background-color: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 23.2px;
}
.circle-line-order>div:first-child,
.circle-line-order>div:nth-child(51),
.circle-line-order>div:nth-child(101),
.circle-line-order>div:nth-child(151),
.circle-line-order>div:nth-child(201),
.circle-line-order>div:nth-child(251),
.circle-line-order>div:nth-child(301),
.circle-line-order>div:nth-child(351),
.circle-line-order>div:nth-child(401),
.circle-line-order>div:nth-child(451),
.circle-line-order>div:nth-child(501),
.circle-line-order>div:nth-child(551),
.circle-line-order>div:nth-child(601),
.circle-line-order>div:nth-child(651),
.circle-line-order>div:nth-child(701),
.circle-line-order>div:nth-child(751),
.circle-line-order>div:nth-child(801),
.circle-line-order>div:nth-child(851),
.circle-line-order>div:nth-child(901),
.circle-line-order>div:nth-child(951),
.circle-line-order>div:nth-child(1001),
.circle-line-order>div:nth-child(1051),
.circle-line-order>div:nth-child(1101),
.circle-line-order>div:nth-child(1151){
    margin-left: 0px;
}
.botton-frame-styles-and-order{
    background-image: url('../../assets/myHome/OrganizerBaseBoard/woodenBottomFrame.jpg');
    height: 7%;
}
/* PC AND NOTEBOOKS */
/* 1728x1117 */
/* 1512x982 */
@media(max-width: 1512px){
    .circle-line-order>div{
        background-color: white;
        width: 6px;
        height: 6px;
        margin-left: 17.7px;
    }
}
/* 1440x1024 */
@media(max-width: 1440px){
    .circle-line-order>div{
        background-color: white;
        margin-left: 16.6px;
    }
}
/* 1366x768 */
@media(max-width: 1366px){
    .circle-line-order>div{
        background-color: white;
        margin-left: 15.4px;
    }
}
/* TABLES */
/* 1024X1366 */
@media(max-width: 1024px){
    .order-all-componentes-board{
        width: 90%;
        height: 1627px;
        margin-top: 140px;
    }
    .circle-line-order{
        width: 92%;
        height: 1520px;
    }
    .board-base-style{
        background-color: #505F71;
        height: 1627px;
    }
    .circle-line-order>div{
        margin-left: 35.8px;
    }
    .circle-line-order>div:first-child,
    .circle-line-order>div:nth-child(21),
    .circle-line-order>div:nth-child(41),
    .circle-line-order>div:nth-child(61),
    .circle-line-order>div:nth-child(81),
    .circle-line-order>div:nth-child(101),
    .circle-line-order>div:nth-child(121),
    .circle-line-order>div:nth-child(141),
    .circle-line-order>div:nth-child(161),
    .circle-line-order>div:nth-child(181),
    .circle-line-order>div:nth-child(201),
    .circle-line-order>div:nth-child(221),
    .circle-line-order>div:nth-child(241),
    .circle-line-order>div:nth-child(261),
    .circle-line-order>div:nth-child(281),
    .circle-line-order>div:nth-child(301),
    .circle-line-order>div:nth-child(321),
    .circle-line-order>div:nth-child(341),
    .circle-line-order>div:nth-child(361),
    .circle-line-order>div:nth-child(381),
    .circle-line-order>div:nth-child(401),
    .circle-line-order>div:nth-child(421),
    .circle-line-order>div:nth-child(441),
    .circle-line-order>div:nth-child(461),
    .circle-line-order>div:nth-child(481),
    .circle-line-order>div:nth-child(501),
    .circle-line-order>div:nth-child(521),
    .circle-line-order>div:nth-child(541),
    .circle-line-order>div:nth-child(561),
    .circle-line-order>div:nth-child(581),
    .circle-line-order>div:nth-child(601),
    .circle-line-order>div:nth-child(621),
    .circle-line-order>div:nth-child(641),
    .circle-line-order>div:nth-child(661),
    .circle-line-order>div:nth-child(681),
    .circle-line-order>div:nth-child(701),
    .circle-line-order>div:nth-child(721),
    .circle-line-order>div:nth-child(741),
    .circle-line-order>div:nth-child(761),
    .circle-line-order>div:nth-child(781),
    .circle-line-order>div:nth-child(801),
    .circle-line-order>div:nth-child(821),
    .circle-line-order>div:nth-child(841),
    .circle-line-order>div:nth-child(861),
    .circle-line-order>div:nth-child(881),
    .circle-line-order>div:nth-child(901),
    .circle-line-order>div:nth-child(921),
    .circle-line-order>div:nth-child(941),
    .circle-line-order>div:nth-child(961),
    .circle-line-order>div:nth-child(981),
    .circle-line-order>div:nth-child(1001),
    .circle-line-order>div:nth-child(1021),
    .circle-line-order>div:nth-child(1041),
    .circle-line-order>div:nth-child(1061),
    .circle-line-order>div:nth-child(1081),
    .circle-line-order>div:nth-child(1101),
    .circle-line-order>div:nth-child(1121),
    .circle-line-order>div:nth-child(1141),
    .circle-line-order>div:nth-child(1161),
    .circle-line-order>div:nth-child(1181){
        margin-left: 0px;
    }
    .circle-line-order>div:nth-child(51),
    .circle-line-order>div:nth-child(151),
    .circle-line-order>div:nth-child(251),
    .circle-line-order>div:nth-child(351),
    .circle-line-order>div:nth-child(451),
    .circle-line-order>div:nth-child(551),
    .circle-line-order>div:nth-child(651),
    .circle-line-order>div:nth-child(751),
    .circle-line-order>div:nth-child(851),
    .circle-line-order>div:nth-child(951),
    .circle-line-order>div:nth-child(1051),
    .circle-line-order>div:nth-child(1151){
        margin-left: 35.5px;
    }
    .top-frame-styles-and-order{
        height: 2%;
    }
    .top-frame-styles-and-order>div,
    .botton-frame-styles-and-order>div{
        width: 10px;
        height: 10px;
    }
    .top-frame-styles-and-order>div:first-child,
    .botton-frame-styles-and-order>div:first-child{
        margin-left: 10px
    }
    .top-frame-styles-and-order>div:last-child,
    .botton-frame-styles-and-order>div:last-child{
        margin-right: 10px
    }
    .botton-frame-styles-and-order{
        height: 3%;
    }
}
/* CELULALARES */
/* 390x844 */
@media(max-width: 390px){
    .order-all-componentes-board{
        width: 90%;
        height: 1270px;
        margin-top: 65px;
    }
    .circle-line-order{
        width: 96%;
        height: 1200px;
    }
    .board-base-style{
        background-color: #505F71;
        height: 1266px;
    }
    .circle-line-order>div{
        width: 3px;
        height: 3px;
        margin-left: 13.7px;
    }
    .circle-line-order>div:first-child,
    .circle-line-order>div:nth-child(21),
    .circle-line-order>div:nth-child(41),
    .circle-line-order>div:nth-child(61),
    .circle-line-order>div:nth-child(81),
    .circle-line-order>div:nth-child(101),
    .circle-line-order>div:nth-child(121),
    .circle-line-order>div:nth-child(141),
    .circle-line-order>div:nth-child(161),
    .circle-line-order>div:nth-child(181),
    .circle-line-order>div:nth-child(201),
    .circle-line-order>div:nth-child(221),
    .circle-line-order>div:nth-child(241),
    .circle-line-order>div:nth-child(261),
    .circle-line-order>div:nth-child(281),
    .circle-line-order>div:nth-child(301),
    .circle-line-order>div:nth-child(321),
    .circle-line-order>div:nth-child(341),
    .circle-line-order>div:nth-child(361),
    .circle-line-order>div:nth-child(381),
    .circle-line-order>div:nth-child(401),
    .circle-line-order>div:nth-child(421),
    .circle-line-order>div:nth-child(441),
    .circle-line-order>div:nth-child(461),
    .circle-line-order>div:nth-child(481),
    .circle-line-order>div:nth-child(501),
    .circle-line-order>div:nth-child(521),
    .circle-line-order>div:nth-child(541),
    .circle-line-order>div:nth-child(561),
    .circle-line-order>div:nth-child(581),
    .circle-line-order>div:nth-child(601),
    .circle-line-order>div:nth-child(621),
    .circle-line-order>div:nth-child(641),
    .circle-line-order>div:nth-child(661),
    .circle-line-order>div:nth-child(681),
    .circle-line-order>div:nth-child(701),
    .circle-line-order>div:nth-child(721),
    .circle-line-order>div:nth-child(741),
    .circle-line-order>div:nth-child(761),
    .circle-line-order>div:nth-child(781),
    .circle-line-order>div:nth-child(801),
    .circle-line-order>div:nth-child(821),
    .circle-line-order>div:nth-child(841),
    .circle-line-order>div:nth-child(861),
    .circle-line-order>div:nth-child(881),
    .circle-line-order>div:nth-child(901),
    .circle-line-order>div:nth-child(921),
    .circle-line-order>div:nth-child(941),
    .circle-line-order>div:nth-child(961),
    .circle-line-order>div:nth-child(981),
    .circle-line-order>div:nth-child(1001),
    .circle-line-order>div:nth-child(1021),
    .circle-line-order>div:nth-child(1041),
    .circle-line-order>div:nth-child(1061),
    .circle-line-order>div:nth-child(1081),
    .circle-line-order>div:nth-child(1101),
    .circle-line-order>div:nth-child(1121),
    .circle-line-order>div:nth-child(1141),
    .circle-line-order>div:nth-child(1161),
    .circle-line-order>div:nth-child(1181){
        margin-left: 0px;
        width: 3px;
        height: 3px;
    }
    .circle-line-order>div:nth-child(51),
    .circle-line-order>div:nth-child(151),
    .circle-line-order>div:nth-child(251),
    .circle-line-order>div:nth-child(351),
    .circle-line-order>div:nth-child(451),
    .circle-line-order>div:nth-child(551),
    .circle-line-order>div:nth-child(651),
    .circle-line-order>div:nth-child(751),
    .circle-line-order>div:nth-child(851),
    .circle-line-order>div:nth-child(951),
    .circle-line-order>div:nth-child(1051),
    .circle-line-order>div:nth-child(1151){
        margin-left: 13.7px;
    }
    .top-frame-styles-and-order{
        height: 2%;
    }
    .top-frame-styles-and-order>div,
    .botton-frame-styles-and-order>div{
        width: 5px;
        height: 5px;
    }
    .top-frame-styles-and-order>div:first-child,
    .botton-frame-styles-and-order>div:first-child{
        margin-left: 5px
    }
    .top-frame-styles-and-order>div:last-child,
    .botton-frame-styles-and-order>div:last-child{
        margin-right: 5px
    }
    .botton-frame-styles-and-order{
        height: 3%;
    }
}
/* 360x640 */
@media(max-width: 360px){
    .order-all-componentes-board{
        width: 90%;
        height: 1200px;
    }
    .circle-line-order{
        width: 96%;
        height: 1100px;
    }
    .board-base-style{
        background-color: #505F71;
        height: 1150px;
    }
    .circle-line-order>div{
        width: 3px;
        height: 3px;
        margin-left: 12.3px;
    }
    .botton-frame-styles-and-order{
        height: 2.5%;
    }
}